.Show{
  display: block;
}
.Hide{
  display: none;
}
.DropdownPeriodWrp{
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.DropdownPeriodContainer{
  position: absolute;
  width: 100%;
  margin-top: 4px;
  background-color: #fff;
  border-radius: 6px;
}
.DropdownPeriodContainer > button{
  display: block;
  text-align: center;
  padding: 8px 0 7px;
  font-size: 12px;
  width: 100%;
}
.DropdownPeriodContainer > button:hover{
  background-color: #402d71;
  color: #fff;
}
.DropdownPeriodContainer > button:first-child:hover{
  border-radius: 6px 6px 0 0;
}
.DropdownPeriodContainer > button:last-child:hover{
  border-radius: 0 0 6px 6px;
}
.UserDropdownWrp{
  display: inline-block;
  width: 142px;
  position: relative;
  margin-right: 15px;
}
.DropdownUserContainer, .DropdownLangContainer{
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: -1;
  top: 12px;
  padding-top: 25px;
  box-shadow: 0 4px 18px 0 #e1e1e1;
}
.DropdownUserContainer > button{
  display: block;
  text-align: left;
  text-transform: capitalize;
  height: 42px;
  padding-left: 22px;
  font-size: 14px;
  color: #41424e;
  width: 100%;
}
.DropdownUserContainer a{
  display: block;
  color: inherit;
  text-decoration: none;
}
.DropdownUserContainer > button:hover, .DropdownLangContainer > button:hover{
  background-color: #f2ddee;
}
.LangDropdownWrp{
  display: inline-block;
  width: 103px;
  position: relative;
}
.DropdownLangContainer span {
  color: #41424e;
  font-size: 14px;
  display: inline-block;
  transform: translateY(-3px);
}
.DropdownLangContainer > button{
  display: block;
  width: 100%;
  padding: 0 17px;
  text-align: left;
  height: 42px;
}
.DropdownLangContainer > button > img{
  padding-right: 7px;
}
.CurrencyDropdownWrp{
  position: relative;
  z-index: 2;
}
.CurrencyDropdownWrp > button{
  width: 100%;
  text-align: left;
}
.CurrencyContainerDpDwn{
  padding-top: 48px;
  padding-bottom: 25px;
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 18px 0 #e1e1e1;
}
.CurrencyContainerDpDwn > button{
  width: 100%;
  text-align: left;
  display: block;
  padding: 0 31px;
  height: 40px;
  font-size: 16px;
  color: #41424e;
}
.CurrencyContainerDpDwn > button:hover{
  background-color: #f1dded;
}
.CurrencyContainerDpDwn > button > img{
  transform: translateY(2px);
  width: 24px;
  height: 24px;
}
.CurrencyContainerDpDwn > button > span{
  display: inline-block;
  transform: translateY(-4px);
  padding-left: 27px;
}

@media screen and (min-width: 1366px) and (max-width: 1500px){
  .UserDropdownWrp{
    margin-right: 18px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px){
  .UserDropdownWrp{
    margin-right: 10px;
  }
}
