.Header{
  position: relative;
  display: flex;
  padding: 51px 161px 0 159px;
  justify-content: space-between;
  margin-bottom: 155px;
}
.Logo{
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  font-style: italic;
}
.RightSide{
  font-size: 14px;
}
.RightSide > div{
  display: inline-block;
  transform: translateY(10px);
}
.Proportions{
  margin-right: 132px;
  position: relative;
  color: #fff;
}
.Proportions::before{
  content: '';
  position: absolute;
  top: 7px;
  left: -16px;
  background-color: #ce41a1;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.Proportions .Currencies{
  color: #ce41a1;
  padding-right: 10px;
}
.SignUp{
  margin-right: 78px;
}
.SignUp > a, .SignIn > a{
  display: block;
  text-decoration: none;
  color: #fff;
}
.SignUp > a:hover, .SignIn > a:hover{
  color: #ce41a1;
}

@media screen and (max-width: 1900px){
  .Header{
    margin-bottom: 115px;
    padding-left: 59px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 1365px){
  .Header{
    padding: 31px 122px 0 32px;
    margin-bottom: 80px;
  }
  .Proportions{
    margin-right: 82px;
  }
  .SignUp{
    margin-right: 38px;
  }
}

@media screen and (max-width: 1023px){
  .RightSide{
    font-size: 12px;
  }
  .Header{
    padding-left: 30px;
    padding-right: 100px;
  }
  .Proportions{
    margin-right: 62px;
  }
  .SignUp{
    margin-right: 28px;
  }
}

@media screen and (max-width: 767px){
  .Header{
    padding: 27px 30px 0 23px;
    margin-bottom: 65px;
  }
  .Logo{
    font-size: 18px;
  }
  .RightSide{
    transform: translateY(-5px);
  }
  .RightSide .Proportions{
    display: none;
  }
  .SignUp{
    margin-right: 24px;
  }
}

@media screen and (max-width: 413px){
  .Header{
    padding-left: 20px;
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 359px){
  .Header{
    padding-top: 17px;
  }
}
