.DynamicFormWrp{
  background-color: #fff;
  display: inline-block;
  padding: 82px 142px 87px 63px;
  box-sizing: border-box;
  width: 39.6%;
  position: relative;
  height: 100%;
}
.Title{
  font-size: 24px;
  font-family: SegoeUI-Bold-Italic;
  color: #392c70;
  font-weight: 700;
  font-style: italic;
}
.Footer{
  position: absolute;
  font-family: SegoeUI-Light;
  bottom: 87px;
  margin: 0 auto;
  font-size: 12px;
  width: 215px;
  left: 0;
  right: 0;
  color: #9e9fa3;
}

@media screen and (min-width: 1921px){
  .Title{
    font-size: 2.5vw;
  }
  .Footer{
    font-size: 1vw;
    width: 18vw;
  }
}

@media screen and (max-width: 1919px){
  .DynamicFormWrp{
    width: 39.2%;
    padding: 7.8vh 5.1vw 0 2.85vw;
  }
  .Footer{
    bottom: 57px;
  }
}

@media screen and (max-width: 1365px){
  .DynamicFormWrp{
    width: 44.82%;
    padding-left: 3.13vw;
    padding-right: 6.05vw;
  }
}

@media screen and (max-width: 1023px){
  .DynamicFormWrp{
    display: block;
    width: 100%;
    height: 52%;
    padding: 4.1vh;
    padding-left: 6.75vw;
    padding-right: 6.75vw;
    text-align: center;
  }
  .Title{
    text-align: left;
  }
  .Footer{
    bottom: 56px;
  }
}

@media screen and (max-width: 823px) and (max-height: 411px){
  .DynamicFormWrp{
    height: auto;
    padding-bottom: 70px;
  }
  .Footer{
    bottom: 16px;
  }
}

@media screen and (max-width: 812px) and (max-height: 375px){
  .DynamicFormWrp{
    height: auto;
    padding-bottom: 70px;
  }
  .Footer{
    bottom: 16px;
  }
}

@media screen and (max-width: 736px) and (max-height: 414px){
  .DynamicFormWrp{
    padding-bottom: 85px;
  }
}

@media screen and (max-width: 767px){
  .DynamicFormWrp{
    height: 61.4%;
    padding-left: 9.68vw;
    padding-right: 9.68vw;
  }
  .Footer{
    font-size: 10px;
    bottom: 25px;
  }
}

@media screen and (max-width: 413px){
  .DynamicFormWrp{
    height: 62.5%;
    padding: 4vh 3.1vh 0;
  }
}

@media screen and (max-width: 359px){
  .DynamicFormWrp{
    height: 61.25%;
    padding: 4.5vh 5.9vw 0;
  }
  .Footer{
    bottom: 13px;
  }
}
