.FaqContentWrp{
  width: 1000px;
  border-radius: 8px;
  background-color: #fff;
  display: inline-block;
  padding: 77px 124px 93px 45px;
  box-sizing: border-box;
  text-align: left;
  box-shadow: 0 4px 18px 0 rgba(48, 8, 69, 0.07);
}
.FAQQuestionWrp{
  margin-bottom: 29px;
  overflow: hidden;
  transition: height .4s;
}
.FAQQuestionWrp:last-child{
  margin-bottom: 0;
}
.FAQQuestionWrp.Inactive{
  height: 21px;
}
.FAQQuestionWrp.Active{
  height: 101px;
}
.FAQQuestionWrp .Icon, .FAQQuestionWrp .Title, .FAQQuestionWrp .Question{
  display: inline-block;
}
.FAQQuestionWrp .Icon{
  margin-right: 39px;
  width: 15px;
  height: 15px;
}
.FAQQuestionWrp.Inactive .Icon > div{
  transform: rotate(-90deg) translateY(3px);
}
.FAQQuestionWrp.Active .Icon > div{
  transform: rotate(90deg);
}
.FAQQuestionWrp .Title{
  font-family: SegoeUI-Bold;
  outline: none;
  font-size: 16px;
  color: #41424e;
  font-weight: 700;
  cursor: pointer;
}
.FAQQuestionWrp.Active .Title, .FAQQuestionWrp.Inactive .Title:hover{
  color: #922c88;
}
.FAQQuestionWrp .Answer{
  margin-top: 18px;
  margin-left: 54px;
  font-size: 14px;
  color: #41424e;
}

@media screen and (min-width: 1366px) and (max-width: 1400px){
  .FaqContentWrp{
    width: 887px;
    float: right;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px){
  .FaqContentWrp{
    width: 640px;
    padding: 47px 72px 68px 37px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .FaqContentWrp{
    width: 434px;
    padding: 35px 37px 214px 29px;
  }
  .FAQQuestionWrp .Icon{
    margin-right: 28px;
  }
  .FAQQuestionWrp .Icon > div svg{
    width: 13px;
    height: 13px;
  }
}

@media screen and (max-width: 767px){
  .FaqContentWrp{
    display: none;
  }
  .FAQQuestionWrp{
    margin-bottom: 10px;
  }
  .FAQQuestionWrp .Icon{
    margin-right: 13px;
    transform: translate(4px, 2px);
    width: 10px;
    height: 10px;
  }
  .FAQQuestionWrp.Active .Icon{
    transform: translate(7px, 2px);
  }
  .FAQQuestionWrp.Inactive .Icon > div{
    transform: rotate(-90deg);
  }
  .FAQQuestionWrp .Title{
    font-size: 14px;
  }
  .FAQQuestionWrp .Answer{
    font-size: 12px;
    margin-left: 25px;
    margin-top: 2px;
    line-height: 1.25;
  }
  .FAQQuestionWrp.Active{
    height: 115px;
  }
}

@media screen and (max-width: 413px){
  .FAQQuestionWrp.Active{
    height: 143px;
  }
  .FAQQuestionWrp .Icon{
    transform: translate(3px, 2px);
    margin-right: 15px;
  }
  .FAQQuestionWrp.Active .Icon{
    transform: translate(6px, 2px);
  }
}

@media screen and (max-width: 359px){
  .FAQQuestionWrp .Title{
    transform: translateX(-2px);
  }
  .FAQQuestionWrp .Answer{
    margin-top: 3px;
    line-height: 1.3;
  }
}
