.FaqContentWrp{
  width: 1000px;
  border-radius: 8px;
  background-color: #fff;
  display: inline-block;
  padding: 81px 126px 93px 47px;
  box-sizing: border-box;
  text-align: left;
  box-shadow: 0 4px 18px 0 rgba(48, 8, 69, 0.07);
}
.FAQQuestionWrp{
  margin-bottom: 44px;
  overflow: hidden;
  transition: height .4s;
}
.FAQQuestionWrp:last-child{
  margin-bottom: 0;
}
.FAQQuestionWrp.Inactive{
  height: 21px;
}
.FAQQuestionWrp.Active{
  height: 101px;
}
.FAQQuestionWrp .Icon, .FAQQuestionWrp .Title, .FAQQuestionWrp .Question{
  display: inline-block;
}
.FAQQuestionWrp .Icon{
  margin-right: 39px;
  width: 15px;
  height: 15px;
}
.FAQQuestionWrp.Inactive .Icon > div{
  transform: rotate(-90deg) translateY(3px);
}
.FAQQuestionWrp.Active .Icon > div{
  transform: rotate(90deg);
}
.FAQQuestionWrp .Title{
  font-family: SegoeUI-Bold;
  outline: none;
  font-size: 16px;
  color: #41424e;
  font-weight: 700;
  cursor: pointer;
}
.FAQQuestionWrp.Active .Title, .FAQQuestionWrp.Inactive .Title:hover{
  color: #922c88;
}
.FAQQuestionWrp .Answer{
  margin-top: 23px;
  margin-left: 54px;
  font-size: 14px;
  color: #41424e;
}

@media screen and (min-width: 1366px) and (max-width: 1400px){
  .FaqContentWrp{
    width: 870px;
    float: right;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px){
  .FaqContentWrp{
    width: 640px;
    padding: 51px 72px 68px 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .FaqContentWrp{
    width: 434px;
    padding: 40px 37px 171px 29px;
  }
}

@media screen and (max-width: 767px){
  .FaqContentWrp{
    display: none;
  }
  .FAQQuestionWrp .Icon{
    margin-right: 9px;
  }
  .FAQQuestionWrp .Title{
    font-size: 14px;
  }
  .FAQQuestionWrp .Answer{
    font-size: 12px;
    margin-left: 25px;
    margin-top: 7px;
  }
  .FAQQuestionWrp.Active{
    height: 131px;
  }
}

@media screen and (max-width: 413px){
  .FAQQuestionWrp.Active{
    height: 155px;
  }
}
