.WhyUseWrp{
  text-align: center;
  margin: -170px 0 193px;
}
.WhyUseWrp h2{
  font-size: 36px;
  margin: 0 0 139px;
  color: #41424e;
  font-weight: 700;
  text-transform: uppercase;
}
.TabsWrp, .Tab{
  display: inline-block;
}
.Tab:first-child{
  margin-right: 134px;
  width: 304px;
}
.Tab:nth-child(2){
  margin-right: 153px;
  width: 248px;
}
.Tab:nth-child(3){
  width: 248px;
}
.Tab .Icon{
  display: inline-block;
  margin-bottom: 24px;
  position: relative;
}
.Tab .Icon::before{
  content: '';
  position: absolute;
  transform: rotate(9deg);
  width: 83px;
  top: -41px;
  left: -29px;
  height: 154px;
  background-color: #ce41a1;
  opacity: .05;
  border-radius: 55px;
}
.Tab:first-child .Icon::before{
  left: -22px;
}
.Tab:last-child .Icon::before{
  left: -24px;
  transform: translateY(-3px) rotate(9deg);
}
.Tab:first-child .Icon{
  width: 42px;
  height: 42px;
}
.Tab:nth-child(2) .Icon{
  width: 27px;
  height: 42px;
}
.Tab:nth-child(3) .Icon{
  width: 36px;
  height: 40px;
}
.Tab .Title{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #41424e;
  text-transform: uppercase;
}
.Tab .Description{
  color: #83878c;
  font-size: 16px;
}

@media screen and (max-width: 1365px){
  .WhyUseWrp{
    margin-bottom: 143px;
  }
  .WhyUseWrp h2{
    font-size: 30px;
    margin-bottom: 119px;
  }
  .Tab:first-child{
    margin-right: 54px;
  }
  .Tab:nth-child(2){
    margin-right: 73px;
  }
}

@media screen and (max-width: 1023px){
  .WhyUseWrp{
    margin-top: -120px;
  }
  .WhyUseWrp h2{
    font-size: 24px;
    margin-bottom: 85px;
  }
  .Tab .Title{
    font-size: 14px;
    margin-bottom: 28px;
  }
  .Tab .Description{
    font-size: 14px;
  }
  .Tab:first-child{
    width: 159px;
    margin-right: 84px;
  }
  .Tab:first-child svg{
    width: 36px;
    height: 36px;
  }
  .Tab:nth-child(2){
    width: 152px;
    margin-right: 90px;
  }
  .Tab:nth-child(2) svg{
    width: 23px;
    height: 36px;
  }
  .Tab:nth-child(2) .Title{
    padding: 0 15px;
  }
  .Tab:last-child{
    width: 148px;
  }
  .Tab:last-child .Icon{
    top: -2px;
  }
  .Tab:last-child svg{
    width: 33px;
    height: 36px;
  }
}
