.WhyUseWrp{
  text-align: center;
  margin: -170px 0 193px;
  position: relative;
}
.WhyUseWrp h2{
  font-size: 36px;
  margin: 0 0 139px;
  color: #41424e;
  font-weight: 700;
  font-family: SegoeUI-Bold;
  text-transform: uppercase;
}
.TabsWrp, .Tab{
  display: inline-block;
  outline: none;
}
.Tab:first-child{
  margin-right: 134px;
  width: 304px;
}
.Tab:nth-child(2){
  margin-right: 153px;
  width: 248px;
}
.Tab:nth-child(3){
  width: 248px;
}
.Tab .Icon{
  display: inline-block;
  margin-bottom: 24px;
  position: relative;
  cursor: pointer;
}
.Tab .Icon::before{
  content: '';
  transition: opacity .35s;
  position: absolute;
  transform: rotate(9deg);
  width: 83px;
  top: -41px;
  left: -29px;
  height: 154px;
  background-color: #ce41a1;
  opacity: .05;
  border-radius: 55px;
}
.Tab .Icon:hover::before, .Tab.Active .Icon::before{
  opacity: .15;
}
.Tab:first-child .Icon::before{
  left: -22px;
  height: 140px;
  width: 80px;
}
.Tab:last-child .Icon::before{
  left: -21px;
  width: 80px;
  height: 141px;
  transform: translateY(-1px) rotate(9deg);
}
.Tab:first-child .Icon{
  width: 42px;
  height: 42px;
}
.Tab:nth-child(2) .Icon{
  width: 27px;
  height: 42px;
}
.Tab:nth-child(2) .Icon::before{
  top: -39px;
  left: -27px;
  height: 140px;
  width: 80px;
}
.Tab:nth-child(3) .Icon{
  width: 36px;
  height: 40px;
}
.Tab .Title{
  font-family: SegoeUI-Bold;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #41424e;
  text-transform: uppercase;
}
.Tab .Title > span{
  display: inline-block;
}
.Tab .Description{
  color: #83878c;
  font-size: 16px;
  line-height: 1.2;
}

@media screen and (min-width: 1900px){
  .WhyUseWrp{
    margin-bottom: 193px;
    overflow: hidden;
  }
  .WhyUseWrp h2{
    transform: translateX(8px);
    margin-bottom: 129px;
  }
  .Tab .Icon{
    margin-bottom: 18px;
  }
  .Tab .Title{
    margin-bottom: 11px;
    transform: translateX(-11px);
  }
  .Tab:nth-child(2) .Icon, .Tab:nth-child(3) .Icon{
    transform: translate(-12px, 0);
  }
  .Tab:nth-child(2) .Title{
    transform: translateX(-21px);
  }
  .Tab:nth-child(2) .Description{
    transform: translateX(-11px);
  }
  .Tab:nth-child(3) .Title{
    transform: translateX(-22px);
  }
  .Tab:nth-child(3) .Description{
    transform: translateX(-12px);
  }
}

@media screen and (max-width: 1900px){
  .WhyUseWrp{
    margin-bottom: 190px;
  }
  .WhyUseWrp h2{
    margin-bottom: 133px;
    transform: translate(1px, 0px);
  }
  .Tab .Icon{
    margin-bottom: 15px;
  }
  .Tab .Title{
    margin-bottom: 11px;
  }
  .Tab:first-child{
    transform: translate(-9px, 0px);
  }
  .Tab:first-child .Icon, .Tab:nth-child(2) .Icon{
    top: -3px;
  }
  .Tab:nth-child(3) .Icon{
    top: -3px;
    left: 1px;
  }
  .Tab:first-child .Icon::before{
    height: 141px;
  }
  .Tab:first-child .Title, .Tab:nth-child(3) .Title{
    transform: translateX(-9px);
  }
  .Tab:nth-child(2){
    transform: translateX(-19px);
  }
  .Tab:nth-child(2) .Title{
    transform: translateX(-10px);
  }
  .Tab:nth-child(3){
    transform: translateX(-21px);
  }
  .Tab:nth-child(3) .Description{
    transform: translateX(1px);
  }
  .Tab:nth-child(2) .Icon::before, .Tab:nth-child(3) .Icon::before{
    height: 139px;
  }
}

@media screen and (max-width: 1365px){
  .WhyUseWrp{
    margin-bottom: 144px;
  }
  .WhyUseWrp h2{
    font-size: 30px;
    margin-bottom: 119px;
    transform: translate(-3px, 5px);
  }
  .Tab:first-child{
    margin-right: 54px;
  }
  .Tab:nth-child(2){
    margin-right: 73px;
  }
}

@media screen and (max-width: 1023px){
  .WhyUseWrp{
    margin-top: -120px;
    margin-bottom: 118px;
  }
  .WhyUseWrp h2{
    font-size: 24px;
    margin-bottom: 85px;
    transform: translate(-1px, 5px);
  }
  .TabsWrp{
    transform: translateY(8px);
  }
  .Tab .Title{
    font-size: 14px;
    margin-bottom: 22px;
  }
  .Tab .Icon{
    margin-bottom: 6px;
  }
  .Tab .Description{
    font-size: 14px;
  }
  .Tab:first-child .Title{
    transform: translateX(0);
  }
  .Tab:first-child .Title > span:first-child{
    margin-left: 20px;
    transform: translate(-6px,0);
  }
  .Tab:first-child .Title > span:nth-child(2){
    transform: translate(-6px, 0);
  }
  .Tab:first-child .Title > span:nth-child(3),
  .Tab:first-child .Title > span:nth-child(4),
  .Tab:first-child .Title > span:nth-child(5){
    transform: translate(6px, -1px);
  }
  .Tab:first-child .Icon{
    top: -8px;
    left: 6px;
  }
  .Tab:first-child .Description{
    transform: translate(6px, 2px);
  }
  .Tab:first-child .Icon::before, .Tab:nth-child(2) .Icon::before{
    top: -35px;
  }
  .Tab:nth-child(2) .Title > span:first-child{
    margin-left: 45px;
    transform: translateX(-20px);
  }
  .Tab:nth-child(2) .Title > span:nth-child(2),
  .Tab:nth-child(2) .Title > span:nth-child(3){
    transform: translate(5px, -3px);
  }
  .Tab:last-child .Icon::before{
    top: -33px;
  }
  .Tab:first-child{
    width: 159px;
    margin-right: 84px;
  }
  .Tab:first-child svg{
    width: 36px;
    height: 36px;
  }
  .Tab:nth-child(2){
    width: 152px;
    margin-right: 90px;
  }
  .Tab:nth-child(2) .Icon{
    top: -8px;
    left: 16px;
  }
  .Tab:nth-child(2) svg{
    width: 23px;
    height: 36px;
  }
  .Tab:nth-child(2) .Title{
    padding: 0 15px;
    transform: translateX(12px);
  }
  .Tab:nth-child(2) .Description{
    transform: translate(17px, 2px);
  }
  .Tab:last-child{
    width: 148px;
  }
  .Tab:last-child .Title > span:nth-child(4),
  .Tab:last-child .Title > span:nth-child(5){
    transform: translate(2px, -2px);
  }
  .Tab:last-child .Icon{
    top: -10px;
    left: 17px;
  }
  .Tab:last-child svg{
    width: 33px;
    height: 36px;
  }
  .Tab:last-child .Title{
    padding-right: 40px;
    transform: translateX(38px);
  }
  .Tab:last-child .Description{
    transform: translate(18px, 3px);
  }
}

@media screen and (max-width: 767px){
  .WhyUseWrp{
    margin-top: 0;
    margin-bottom: 135px;
  }
  .WhyUseWrp h2{
    text-align: left;
    margin-left: 62px;
    font-size: 18px;
    margin-bottom: 0;
  }
  .TabsWrp{
    margin-top: 45px;
  }
  .Tab .Title, .Tab .Description{
    font-size: 12px;
  }
  .Tab .Icon{
    margin-bottom: 11px;
  }
  .Tab .Icon::before{
    height: 140px;
    top: -31px;
    width: 79px;
  }
  .Tab .Title{
    margin-bottom: 16px;
  }
  .Tab:first-child svg{
    width: 30px;
    height: 30px;
  }
  .Tab:nth-child(2) .Icon{
    margin-bottom: 14px;
  }
  .Tab:nth-child(2) .Title{
    padding: 0 18px;
  }
  .Tab:first-child, .Tab:nth-child(2){
    margin-right: 20px;
  }
}

@media screen and (max-width: 740px){
  .WhyUseWrp{
    margin-bottom: 75px;
  }
}

@media screen and (max-width: 498px){
  .WhyUseWrp{
    margin-bottom: 164px;
  }
  .TabsWrp{
    margin-top: 0;
  }
  .Tab .Icon, .Tab:nth-child(2) .Icon{
    margin-bottom: -1px;
  }
  .Tab .Title{
    margin-bottom: 18px;
  }
  .Tab:first-child{
    transform: translateX(144px);
    margin-right: 100px;
  }
  .Tab:first-child .Icon{
    top: -10px;
  }
  .Tab:first-child .Icon::before{
    top: -32px;
  }
  .Tab:first-child .Description{
    transform: translateX(2px);
  }
  .Tab:first-child .Title > span:first-child{
    margin-left: 32px;
    transform: translateX(-15px);
  }
  .Tab:first-child .Title > span:nth-child(2){
    transform: translateX(-15px);
  }
  .Tab:first-child .Title > span:nth-child(3){
    margin-left: 8px;
  }
  .Tab:first-child .Title > span:nth-child(3),
  .Tab:first-child .Title > span:nth-child(4),
  .Tab:first-child .Title > span:nth-child(5){
    transform: translate(-1px, 3px);
  }
  .Tab:nth-child(2) .Title > span:first-child{
    margin-left: 55px;
    transform: translate(-28px, 5px);
  }
  .Tab:nth-child(2) .Title > span:nth-child(2),
  .Tab:nth-child(2) .Title > span:nth-child(3){
    transform: translate(0, 7px);
  }
  .Tab:nth-child(2){
    margin-right: 90px;
    transform: translate(30px, -56px);
  }
  .Tab:nth-child(2) .Icon{
    top: -6px;
    left: 15px;
  }
  .Tab:nth-child(2) .Icon::before{
    top: -31px;
  }
  .Tab:nth-child(2) .Icon svg{
    width: 21px;
    height: 31px;
  }
  .Tab:nth-child(2) .Description{
    transform: translate(12px, 6px);
  }
  .Tab:last-child{
    transform: translate(-46px, 77px);
  }
  .Tab:last-child .Icon{
    top: -13px;
    left: 17px;
  }
  .Tab:last-child .Icon svg{
    width: 26px;
    height: 32px;
  }
  .Tab:last-child .Title{
    margin-bottom: 16px;
    padding: 0 26px;
    transform: translate(13px, 1px);
  }
  .Tab:last-child .Title > span:nth-child(4),
  .Tab:last-child .Title > span:nth-child(5){
    transform: translateY(1px);
  }
  .Tab:last-child .Description{
    transform: translate(12px, 3px);
  }
}

@media screen and (max-width: 413px){
  .TabsWrp{
    padding: 45px 0 25px;
  }
  .Tab:first-child{
    transform: none;
    margin-right: 18px;
    width: 115px;
  }
  .Tab:nth-child(2){
    transform: none;
    width: 115px;
    margin-right: 18px;
  }
  .Tab:last-child{
    transform: none;
    width: 115px;
  }
  .WhyUseWrp h2{
    margin-left: 24px;
  }
}

@media screen and (max-width: 389px){
  .WhyUseWrp{
    margin-bottom: 62px;
  }
  .WhyUseWrp h2{
    margin-left: 23px;
  }
  .TabsWrp{
    padding: 0;
  }
  .TabsWrp .Tab .Title{
    font-size: 12px;
    margin-bottom: 17px;
    transform: translateY(1px);
  }
  .Tab:first-child{
    width: 159px;
    transform: translateX(108px);
    margin-right: 48px;
  }
  .Tab:first-child .Icon{
    top: -9px;
  }
  .Tab:first-child .Description{
    transform: translate(2px, 3px);
  }
  .Tab:first-child .Title > span:first-child{
    margin-left: 33px
  }
  .Tab:first-child .Title > span:nth-child(2){
    transform: translateX(-15px);
  }
  .Tab:nth-child(2){
    width: 152px;
    transform: translate(-54px, -55px);
    margin-right: 90px;
  }
  .Tab:nth-child(2) .Icon{
    top: -4px;
    left: 15px;
  }
  .Tab:nth-child(2) .Title{
    transform: translate(12px, 1px);
    margin-bottom: 16px;
  }
  .Tab:nth-child(2) .Description{
    transform: translate(12px, 9px);
  }
  .Tab:last-child{
    width: 148px;
    transform: translate(64px, -43px);
  }
  .Tab:last-child .Icon{
    top: -13px;
    left: 18px;
    transform: translateY(-7px);
  }
  .Tab:last-child .Title{
    transform: translate(14px, -6px);
    margin-bottom: -2px;
  }
  .Tab:last-child .Description{
    transform: translate(12px, 14px);
  }
}

@media screen and (max-width: 359px){
  .WhyUseWrp{
    margin-bottom: 34px;
  }
  .WhyUseWrp h2{
    line-height: 1.3;
    margin-left: 60px;
    width: 81px;
  }
  .Tab:first-child{
    transform: translate(90px, -22px);
  }
  .Tab:nth-child(2){
    transform: translate(-35px, -78px);
  }
  .Tab:last-child{
    transform: translate(46px, -65px);
  }
}
