.SMSAuthWrp{
  margin-top: 60px;
  text-align: center;
  width: 602px;
  padding-bottom: 104px;
}
.SMSAuthWrp h2{
  text-transform: uppercase;
  font-size: 24px;
  color: #922c88;
  font-weight: 700;
  margin: 0 0 57px;
}
.AuthentificationForm{
  width: 313px;
  display: inline-block;
}
.AuthentificationForm .LoginText, .AuthentificationForm .CodeTitle{
  text-align: left;
  color: #9e9fa3;
  font-size: 14px;
  margin-bottom: 18px;
}
.AuthentificationForm .LoginText{
  margin-bottom: 15px;
}

@media screen and (max-width: 1850px){
  .SMSAuthWrp{
    margin-top: 50px;
  }
  .AuthentificationForm{
    width: 312px;
  }
}

@media screen and (max-width: 1023px){
  .SMSAuthWrp{
    margin-top: 35px;
    padding-bottom: 84px;
  }
}

@media screen and (max-width: 767px){
  .SMSAuthWrp{
    width: 377px;
    padding-bottom: 64px;
  }
  .SMSAuthWrp h2{
    font-size: 18px;
    margin-bottom: 49px;
  }
  .LoginText, .CodeTitle{
    font-size: 12px;
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 413px){
  .SMSAuthWrp{
    width: 323px;
    margin-top: 45px;
    padding: 0 20px 47px;
    box-sizing: border-box;
  }
  .SMSAuthWrp h2{
    font-size: 16px;
    margin-bottom: 40px;
  }
  .AuthentificationForm{
    width: 100%;
  }
}

@media screen and (max-width: 359px){
  .SMSAuthWrp{
    width: 282px;
    padding-bottom: 37px;
    margin-top: 45px;
  }
  .SMSAuthWrp h2{
    font-size: 14px;
  }
}
