{
    "plugins": [
      "transform-class-properties",
      "transform-object-rest-spread"
    ],
    "presets": [
      ["env", {
        "modules": false,
        "loose": true,
        "targets": {
          "browsers": [
            "last 2 Chrome versions",
            "last 2 Firefox versions",
            "last 2 Safari versions",
            "last 2 Opera versions",
            "last 2 Edge versions",
            "last 2 iOS versions",
            "last 2 ChromeAndroid versions",
            "IE 11"
          ]
        }
      }],
      "react"
    ],
    "env": {
      "production": {
        "plugins": ["transform-react-remove-prop-types"]
      },
      "test": {
        "plugins": ["transform-es2015-modules-commonjs"]
      }
    }
  }
  