.BuySellComponentWrp{
  display: inline-block;
}
.BuySellTabsWrp{
  position: relative;
}
.BuySellForm{
  box-shadow: -4px 20px 30px rgba(87, 7, 79, 0.12);
  transform: translateY(-5px);
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid transparent;
  padding: 20px 81px 25px;
}
.CurrenciesWrp{
  margin: 25px 0 10px;
}
.Specify{
  font-size: 14px;
  color: #41424e;
  margin-bottom: 30px;
}
.CoinWrp{
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
}
.CoinWrp:nth-child(even){
  padding-left: 10px;
}
.CoinWrp:nth-child(odd){
  padding-right: 10px;
}
.Checked{
  height: 27px;
  width: 27px;
  border-radius: 100%;
  padding: 3px 8px 5px;
  box-sizing: border-box;
  background: linear-gradient(105deg, #d52882, #632572);
  position: absolute;
  right: 0;
  bottom: 80%;
  display: none;
}
.Checked img{
  width: 100%;
}
.CurrentPriceWrp, .InputsWrp{
  overflow: hidden;
  margin: 35px 0 20px;
}
.InputsWrp{
  text-align: center;
}
.CurrentPriceWrp .Amount{
  font-family: SegoeUI-Bold;
  float: left;
  font-weight: 700;
  font-size: 14px;
}
.CurrentPriceWrp .Price{
  float: right;
  font-size: 14px;
}
.TransactionFee{
  font-size: 12px;
  color: #555;
  text-align: right;
}
.BuyBtnWrp{
  text-align: center;
  margin: 40px 0 30px;
}

@media screen and (max-width: 1919px){
  .BuySellComponentWrp{
    width: 580px;
  }
  .BuySellForm{
    padding: 51px 71px 65px;
  }
  .BuyBtnWrp{
    margin: 45px 0 0;
  }
  .CurrentPriceWrp{
    margin-top: 46px;
  }
}

@media screen and (max-width: 1365px){
  .BuySellComponentWrp{
    align-self: center;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .BuySellComponentWrp{
    width: 580px;
    align-self: center;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px){
  .BuySellComponentWrp{
    width: 374px;
    align-self: center;
    margin-bottom: 30px;
  }
  .BuySellForm{
    padding: 30px 20px 55px;
  }
  .Specify{
    margin: 0 0 32px;
  }
  .Specify, .Amount, .Price{
    font-size: 12px;
  }
  .CurrentPriceWrp{
    margin-top: 37px;
  }
  .InputsWrp{
    margin-top: 30px;
  }
  .BuyBtnWrp{
    margin-top: 37px;
  }
}

@media screen and (max-width: 413px){
  .BuySellComponentWrp{
    width: 320px;
  }
  .BuySellForm{
    padding: 20px 20px 28px;
  }
  .CurrentPriceWrp{
    margin-top: 20px;
  }
  .CurrentPriceWrp .Amount, .CurrentPriceWrp .Price{
    font-size: 12px;
  }
  .InputsWrp{
    margin-bottom: 9px;
  }
  .TransactionFee{
    font-size: 10px;
  }
  .BuyBtnWrp{
    margin-top: 30px;
  }
}

@media screen and (max-width: 359px){
  .BuySellComponentWrp{
    width: 280px;
  }
  .Checked{
    width: 24px;
    height: 24px;
    padding: 1px 3px 10px;
  }
  .Checked img{
    transform: scale(.6);
  }
}
