.BuildPortfolioWrp{
  position: relative;
  width: 895px;
  display: inline-block;
  margin-bottom: 251px;
}
.BuildPortfolioWrp h2{
  font-family: SegoeUI-Light;
  font-size: 60px;
  margin: 0 0 26px;
  color: #fff;
  font-weight: 100;
}
.Advantages{
  font-family: SegoeUI-Light;
  font-size: 24px;
  color: #fff;
  margin-bottom: 38px;
}
.Advantages span{
  color: #e33a8c;
}
.CreateAccount{
  font-family: SegoeUI-Bold;
  display: inline-block;
  width: 320px;
  height: 60px;
  border-radius: 30px;
  background-image: linear-gradient(-110deg, #e33a8c 0%, #932c88 100%);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  transition: background-image .5s;
}
.CreateAccount > a{
  display: block;
  height: 100%;
  line-height: 3.3;
  text-decoration: none;
  color: inherit;
}
.CreateAccount:hover{
  background-image: linear-gradient(-110deg, #932c88 0%, #e33a8c 100%);
}

@media screen and (min-width: 1900px){
  .BuildPortfolioWrp{
    align-self: center;
  }
  .BuildPortfolioWrp h2, .BuildPortfolioWrp .Advantages{
    margin-bottom: 24px;
    transform: translateX(7px);
  }
  .BuildPortfolioWrp .Advantages{
    margin-bottom: 37px;
  }
  .CreateAccount{
    transform: translateX(6px);
  }
}

@media screen and (max-width: 1900px){
  .BuildPortfolioWrp{
    margin-bottom: 159px;
    width: 687px;
  }
  .BuildPortfolioWrp h2{
    font-size: 48px;
  }
  .Advantages{
    font-size: 18px;
    margin-bottom: 37px;
  }
  .CreateAccount{
    width: 240px;
    height: 50px;
    font-size: 16px;
  }
  .CreateAccount > a{
    line-height: 2.9;
  }
}

@media screen and (max-width: 1365px){
  .BuildPortfolioWrp{
    margin-bottom: 79px;
  }
}

@media screen and (max-width: 1023px){
  .BuildPortfolioWrp{
    margin-bottom: 48px;
  }
  .BuildPortfolioWrp h2{
    font-size: 36px;
  }
  .Advantages{
    font-size: 16px;
    margin-bottom: 30px;
  }
  .CreateAccount{
    width: 160px;
    height: 40px;
    font-size: 14px;
  }
}
@media screen and (max-width: 767px){
  .BuildPortfolioWrp{
    margin-bottom: 38px;
    width: 320px;
  }
  .BuildPortfolioWrp h2{
    font-size: 24px;
    margin-bottom: 21px;
  }
  .Advantages{
    font-size: 12px;
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 413px){
  .BuildPortfolioWrp{
    width: 290px;
    margin-bottom: 34px;
  }
  .BuildPortfolioWrp h2{
    margin-bottom: 10px;
  }
  .Advantages{
    font-size: 10px;
    padding: 0 10px;
  }
  .CreateAccount{
    width: 140px;
    height: 34px;
    font-size: 12px;
  }
}

@media screen and (max-width: 359px){
  .BuildPortfolioWrp{
    margin-bottom: 24px;
  }
}
