.SmsFormWrp{
  width: 100%;
  padding: 11.5vh 0 0 3.5vw;
  box-sizing: border-box;
}
.SmsFormWrp h2{
  color: #932c88;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: SegoeUI-Bold;
  margin-bottom: 58px;
}
.SmsFormWrp > div:nth-child(2) > input{
  margin-bottom: 60px;
}
.SmsFormWrp > div:nth-child(2) > input:hover, .SmsFormWrp > div:nth-child(2) > input:focus{
  margin-bottom: 59px;
}
.SmsFormWrp > div:nth-child(3) > input{
  margin-bottom: 60px;
  letter-spacing: 4px;
  font-size: 30px;
  color: #d092c9;
}
.SmsFormWrp > div:nth-child(3) > input::-webkit-input-placeholder{
  letter-spacing: 0;
  line-height: 8 !important;
  vertical-align: top;
}
.SmsFormWrp > div:nth-child(3) > input:hover, .SmsFormWrp > div:nth-child(3) > input:focus{
  margin-bottom: 59px;
}
.SmsFormWrp .Footer{
  display: flex;
  justify-content: space-between;
}
.SmsFormWrp .Footer > button{
  overflow: hidden;
  position: relative;
  top: -5px;
}
.SmsFormWrp .Footer > button::after{
  content: '';
  display: block;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity .5s;
  opacity: 0;
}
.SmsFormWrp .Footer > button::before{
    content: '';
    display: block;
    background-image: linear-gradient(-110deg, #e02a82 0%, #54236e 100%);
    box-sizing: border-box;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .5s;
}
.SmsFormWrp .Footer > button::after{
    background-image: linear-gradient(-110deg, #54236e 0%, #e02a82 100%);
}
.SmsFormWrp .Footer > button:hover::after{
  opacity: 1;
}
.SmsFormWrp .Footer > button > a{
  color: inherit;
  text-decoration: none;
  position: relative;
  z-index: 2;
  display: block;
}
.SmsFormWrp .Footer .Tip{
  font-size: 12px;
  color: #9e9fa3;
}
.SmsFormWrp .Footer .Tip a{
  text-decoration: none;
}
.SmsFormWrp .Footer .Tip .Forgot a{
  color: #9e9fa3;
}
.SmsFormWrp .Footer .Tip .Forgot a:hover{
  color: #922c88;
}
.SmsFormWrp .Footer .Tip .NotOnBithela{
  transform: translateY(4px);
}
.SmsFormWrp .Footer .Tip .NotOnBithela a{
  display: inline-block;
  color: #9e9fa3;
  position: relative;
}
.SmsFormWrp .Footer .Tip .NotOnBithela a::after{
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 1px;
  background-color: #9e9fa3;;
  width: 100%;
  opacity: 0;
}
.SmsFormWrp .Footer .Tip .NotOnBithela a:hover:after{
  opacity: 1;
}
.LoginBtnInnerWrp{
  display: none;
}

@media screen and (min-width: 1921px){
  .SmsFormWrp > div input{
    font-size: 1.85vw
  }
  .SmsFormWrp > div input::-webkit-input-placeholder{
    font-size: 1.4vw;
  }
  .SmsFormWrp .Footer .Tip{
    font-size: 1vw;
  }
  .LoginBtnInnerWrp{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: middle;
    text-align: center;
    background: linear-gradient(90deg, #e12b82, #53236d);
    justify-content: center;
    opacity: 0;
    transition: opacity .5s;
  }
  .LoginBtnInnerWrp .LoginBtnInner{
    align-self: center;
  }
}

@media screen and (min-width: 1900px){
  .SmsFormWrp{
    padding: 15.9vh 0 0 3.5vw;
  }
}

@media screen and (max-width: 1919px){
  .SmsFormWrp{
    padding: 10vh 0 0 2.2vw
  }
}

@media screen and (max-width: 1023px){
  .SmsFormWrp{
    width: 336px;
    display: inline-block;
    text-align: left;
    padding: 8vh 0 0 0;
  }
}

@media screen and (max-height: 1140px) and (max-width: 1023px){
  .SmsFormWrp{
    padding-top: 4vh;
  }
}

@media screen and (max-height: 875px) and (max-width: 1023px){
  .SmsFormWrp{
    padding-top: 2vh;
  }
}

@media screen and (max-width: 823px) and (max-height: 411px){
  .SmsFormWrp{
    padding-top: 5vh;
  }
}

@media screen and (max-width: 812px) and (max-height: 375px){
  .SmsFormWrp{
    padding-top: 5vh;
  }
}

@media screen and (max-width: 767px){
  .SmsFormWrp{
    padding-top: 9vh;
    width: 100%;
  }
  .SmsFormWrp > div:nth-child(2) > input{
    margin-bottom: 31px;
  }
  .SmsFormWrp > div:nth-child(2) > input:hover, .SmsFormWrp > div:nth-child(2) > input:focus{
    margin-bottom: 30px;
  }
  .SmsFormWrp > div:nth-child(3) > input{
    margin-bottom: 40px;
  }
  .SmsFormWrp > div:nth-child(3) > input:hover, .SmsFormWrp > div:nth-child(3) > input:focus{
    margin-bottom: 39px;
  }
}

@media screen and (max-width: 413px){
  .SmsFormWrp{
    padding-top: 1vh;
  }
  .SmsFormWrp input{
    font-size: 14px;
  }
  .SmsFormWrp .Footer .Tip{
    font-size: 10px;
  }
  .Footer .Tip .Forgot{
    margin-top: 2px;
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 359px){
  .SmsFormWrp h2{
    margin: 3px 0 5px;
  }
}
