.FaqWrp{
  background-color: #f8f8f8;
  padding: 61px 0 80px;
  text-align: center;
}
.FaqWrp .Title{
  font-size: 36px;
  font-weight: 700;
  color: #922c88;
  margin-bottom: 30px;
}
.FaqWrp .FaqContainer{
  display: inline-block;
}
