.ExchangeWrp{
  padding: 0 162px 0 159px;
  display: flex;
  justify-content: space-between;
}
.Steps{
  width: 574px;
}
.Steps h2{
  font-size: 36px;
  font-weight: 700;
  color: #41424e;
  margin: -12px 0 100px;
  text-transform: uppercase;
}
.Steps h2 span{
  color: #932c88;
}
.Step{
  margin: 0 0 90px 40px;
  cursor: pointer;
}
.Step:hover .Title::before{
  background-color: #e1d4f2;
}
.Step:nth-child(3){
  margin-bottom: 86px;
}
.Title{
  font-size: 16px;
  font-weight: 700;
  color: #41424e;
  margin-bottom: 10px;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
}
.Title::after, .Title::before{
  content: '';
  position: absolute;
}
.Title::after{
  top: -17px;
  left: 0;
  width: 54px;
  height: 3px;
  background-color: #392c71;
}
.Title::before{
  background-color: #f9f4ff;
  transition: all .35s;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  left: -40px;
  bottom: -6px;
  z-index: -1;
}
.Description{
  color: #83878c;
  font-size: 16px;
}
.InteractiveView{
  width: 812px;
  height: 560px;
  box-shadow: 0 0 68px 0 #ececec;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.InteractiveView img{
  transform: scale(1.16);
  width: 100%;
}
.Buy-and-Sell{
  animation-name: Buy-and-Sell;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.Trust-and-Security{
  animation-name: Trust-and-Security;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.Trade-Bitcoin{
  animation-name: Trade-Bitcoin;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 1900px){
  .ExchangeWrp{
    padding: 0 60px;
  }
  .InteractiveView{
    margin-top: 116px;
    width: 637px;
    height: 439px;
  }
  .Steps{
    width: 483px;
  }
}
@media screen and (max-width: 1365px){
  .ExchangeWrp{
    padding: 0 31px;
    margin-bottom: -240px;
  }
  .Steps{
    width: 379px;
  }
  .Steps h2{
    margin-bottom: 112px;
    font-size: 30px;
  }
  .Title, .Description{
    font-size: 14px;
  }
  .InteractiveView{
    width: 493px;
    height: 340px;
    margin-top: 160px;
  }
}
@media screen and (max-width: 1023px){
  .ExchangeWrp{
    display: block;
    padding: 0 29px;
    text-align: center;
    margin-bottom: 0;
  }
  .Title::before{
    width: 60px;
    height: 60px;
    left: -28px;
    bottom: 4px;
  }
  .Steps{
    width: 100%;
  }
  .Steps h2{
    font-size: 24px;
    margin-bottom: 85px;
    text-align: left;
  }
  .Step{
    display: inline-block;
    text-align: left;
  }
  .Step:nth-child(2){
    width: 180px;
    margin: 0 71px 0 31px;
  }
  .Step:nth-child(3){
    width: 165px;
    margin: 0 84px 0 0;
  }
  .Step:nth-child(4){
    width: 175px;
    margin: 0;
  }
  .InteractiveView{
    margin-top: 47px;
    width: 493px;
    height: 340px;
    display: inline-block;
  }
}

@media screen and (max-width: 767px){
  .ExchangeWrp{
    padding: 0 21px;
    margin-bottom: -270px;
  }
  .Steps h2{
    font-size: 18px;
    margin-bottom: 73px;
  }
  .Steps .Step{
    margin: 0 0 0 20px;
    width: auto;
    display: block;
  }
  .Steps .Step:nth-child(2){
    margin-bottom: 336px;
  }
  .Steps .Step:nth-child(3){
    margin-bottom: 62px;
  }
  .Title::before{
    width: 40px;
    height: 40px;
    left: -19px;
    bottom: 14px;
  }
  .Title::after{
    top: -19px;
  }
  .Title, .Description{
    font-size: 12px;
  }
  .InteractiveView{
    margin-top: 0;
    width: 374px;
    height: 259px;
    transform: translateY(-460px);
  }
}

@media screen and (max-width: 738px){
  .InteractiveView{
    transform: translateY(-480px);
  }
}

@media screen and (max-width: 614px){
  .InteractiveView{
    transform: translateY(-490px);
  }
}

@media screen and (max-width: 413px){
  .InteractiveView{
    width: 320px;
    height: 222px;
    transform: translateY(-478px);

  }
  .Steps h2{
    margin-bottom: 58px;
  }
  .Steps .Step:nth-child(2){
    margin-bottom: 300px;
  }
}

@media screen and (max-width: 359px){
  .InteractiveView{
    width: 280px;
    height: 194px;
    transform: translateY(-452px);
  }
  .Steps h2{
    margin-bottom: 55px;
  }
  .Steps .Step:nth-child(2){
    margin-bottom: 270px;
  }
  .Steps .Step:nth-child(3){
    margin-bottom: 50px;
  }
}

@keyframes Trade-Bitcoin {
  0% {opacity: .2}
  100% {opacity: 1}
}
@keyframes Buy-and-Sell {
  0% {opacity: .2}
  100% {opacity: 1}
}
@keyframes Trust-and-Security {
  0% {opacity: .2}
  100% {opacity: 1}
}
