.ExchangeWrp{
  position: relative;
  padding: 0 162px 0 159px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.Steps{
  width: 577px;
}
.Steps h2{
  font-family: SegoeUI-Bold;
  font-size: 36px;
  font-weight: 700;
  color: #41424e;
  margin: -12px 0 100px;
  text-transform: uppercase;
}
.Steps h2 span{
  color: #932c88;
}
.Step{
  margin: 0 0 90px 41px;
  cursor: pointer;
  outline: none;
  border: none;
}
.Step:hover .Title::before, .Step.Active .Title::before{
  background-color: #e1d4f2;
}
.Step:hover .Title, .Step:hover .Description{
  color: #392c71;
}
.Step:nth-child(3){
  margin-bottom: 86px;
}
.Title{
  font-family: SegoeUI-Bold;
  font-size: 16px;
  font-weight: 700;
  color: #41424e;
  margin-bottom: 10px;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
}
.Title::after, .Title::before{
  content: '';
  position: absolute;
}
.Title::after{
  top: -17px;
  left: 0;
  width: 54px;
  height: 3px;
  background-color: #392c71;
}
.Title::before{
  background-color: #f9f4ff;
  transition: all .35s;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  left: -39px;
  bottom: -6px;
  z-index: -1;
}
.Description{
  color: #83878c;
  font-size: 16px;
}
.InteractiveView{
  width: 804px;
  transform: translate(11px, -8px) scale(1.14);
  height: 560px;
  /* box-shadow: 0 0 68px 0 #ececec; */
  background-size: cover;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.InteractiveView img{
  transform: scale(0.875) translate(-2px, 49px);
  width: 100%;
}
.Buy-and-Sell > img{
  animation-name: Buy-and-Sell;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.Trust-and-Security > img{
  animation-name: Trust-and-Security;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.Trade-Bitcoin > img{
  animation-name: Trade-Bitcoin;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@media screen and (min-width: 1900px){
  .ExchangeWrp{
    padding: 0;
    width: 1591px;
    align-self: center;
  }
  .Steps h2{
    margin-bottom: 105px;
  }
  .Step:nth-child(2){
    margin-bottom: 87px;
  }
  .Step .Title::after{
    top: -14px;
    left: 2px;
  }
  .Step:nth-child(4) .Title{
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 1900px){
  .ExchangeWrp{
    padding: 0 60px;
  }
  .InteractiveView{
    margin-top: 116px;
    width: 637px;
    height: 439px;
  }
  .Steps{
    width: 483px;
    margin-bottom: 87px;
  }
  .Steps h2{
    transform: translateX(-2px);
    margin-bottom: 105px;
  }
  .Step{
    margin-bottom: 87px;
  }
  .Step .Title::before{
    left: -41px;
  }
  .Step .Title::after{
    top: -15px;
  }
  .Step:nth-child(2) .Title{
    margin-bottom: 11px;
  }
  .Step:nth-child(2) .Title::after{
    top: -14px;
  }
  .Step:nth-child(3) .Description{
    width: 450px;
  }
  .Step:nth-child(3){
    margin-bottom: 97px;
  }
}
@media screen and (max-width: 1365px){
  .ExchangeWrp{
    padding: 0 31px;
    margin-bottom: -240px;
  }
  .Steps{
    width: 379px;
  }
  .Steps h2{
    margin-bottom: 108px;
    font-size: 30px;
  }
  .Title, .Description{
    font-size: 14px;
  }
  .Step{
    margin-bottom: 83px;
  }
  .Step .Title::after, .Step:nth-child(2) .Title::after{
    top: -16px;
  }
  .Step:nth-child(3){
    margin-bottom: 113px;
  }
  .Step:nth-child(3) .Description, .Step:nth-child(4) .Description{
    width: 350px;
  }
  .InteractiveView{
    width: 493px;
    height: 340px;
    margin-top: 160px;
  }
}
@media screen and (max-width: 1023px){
  .ExchangeWrp{
    display: block;
    padding: 0 29px;
    text-align: center;
    margin-bottom: 0;
  }
  .Title::before{
    width: 60px;
    height: 60px;
    left: -28px;
    bottom: 4px;
  }
  .Steps{
    width: 100%;
    margin-bottom: -5px;
  }
  .Steps h2{
    font-size: 24px;
    margin-bottom: 81px;
    text-align: left;
    transform: translateX(-1px);
  }
  .Step{
    display: inline-block;
    text-align: left;
  }
  .Step .Title::before{
    left: -29px;
  }
  .Step:nth-child(2){
    width: 180px;
    margin: 0 71px 0 24px;
  }
  .Step:nth-child(3){
    width: 165px;
    margin: 0 84px 0 0;
    vertical-align: top;
  }
  .Step:nth-child(3) .Description, .Step:nth-child(4) .Description{
    width: auto;
  }
  .Step:nth-child(4){
    vertical-align: top;
    width: 175px;
    margin: 0;
  }
  .InteractiveView{
    margin-top: 47px;
    width: 493px;
    height: 340px;
    display: inline-block;
    transform: translateX(-2px);
  }
}

@media screen and (max-width: 767px){
  .ExchangeWrp{
    padding: 0 21px;
    margin-bottom: -270px;
  }
  .Steps h2{
    font-size: 18px;
    margin-bottom: 65px;
  }
  .Steps .Step{
    margin: 0 0 0 18px;
    width: auto;
    display: block;
  }
  .Steps .Step .Description{
    line-height: 1.5;
  }
  .Steps .Step:nth-child(2){
    margin-bottom: 336px;
  }
  .Steps .Step:nth-child(2) .Title, .Steps .Step:nth-child(3) .Title{
    margin-bottom: 12px;
  }
  .Steps .Step:nth-child(2) .Title::before{
    left: -19px;
  }
  .Steps .Step:nth-child(2) .Title::after{
    top: -19px;
    left: 1px;
  }
  .Steps .Step:nth-child(3){
    margin-bottom: 57px;
  }
  .Steps .Step:nth-child(3) .Title::before{
    left: -20px;
  }
  .Steps .Step:nth-child(3) .Title::after{
    top: -19px;
    left: 1px;
  }
  .Steps .Step:nth-child(4) .Description{
    transform: translate(0, 2px);
  }
  .Steps .Step:nth-child(4) .Title::before{
    left: -19px;
  }
  .Steps .Step:nth-child(4) .Title::after{
    top: -18px;
    left: 1px;
  }
  .Title::before{
    width: 40px;
    height: 40px;
    left: -19px;
    bottom: 14px;
  }
  .Title::after{
    top: -19px;
  }
  .Title, .Description{
    font-size: 12px;
  }
  .InteractiveView{
    margin-top: 0;
    width: 374px;
    height: 259px;
    transform: translateY(-460px);
  }
  .InteractiveView img{
    transform: scale(0.875) translate(-2px, 28px);
  }
}

@media screen and (max-width: 738px){
  .InteractiveView{
    transform: translateY(-480px);
  }
}

@media screen and (max-width: 614px){
  .InteractiveView{
    transform: translateY(-494px);
  }
}

@media screen and (max-width: 413px){
  .InteractiveView{
    width: 320px;
    height: 222px;
    transform: translateY(-480px);
  }
  .Steps h2{
    margin-bottom: 54px;
  }
  .Steps .Step:nth-child(2){
    margin-bottom: 298px;
  }
  .Steps .Step:nth-child(3){
    margin-bottom: 67px;
  }
  .Steps .Step:nth-child(2) .Title::after, .Steps .Step:nth-child(3) .Title::after{
    top: -18px;
  }
  .Steps .Step:nth-child(4) .Title::after{
    top: -17px;
  }
}

@media screen and (max-width: 359px){
  .InteractiveView{
    width: 280px;
    height: 194px;
    transform: translateY(-452px);
  }
  .Steps h2{
    margin-bottom: 55px;
  }
  .Steps .Step:nth-child(2){
    margin-bottom: 267px;
  }
  .Steps .Step:nth-child(3){
    margin-bottom: 49px;
  }
  .Steps .Step:nth-child(2) .Title::after, .Steps .Step:nth-child(3) .Title::after{
    top: -19px;
  }
}

@keyframes Trade-Bitcoin {
  0% {opacity: .2}
  100% {opacity: 1}
}
@keyframes Buy-and-Sell {
  0% {opacity: .2}
  100% {opacity: 1}
}
@keyframes Trust-and-Security {
  0% {opacity: .2}
  100% {opacity: 1}
}
