.InteractiveBlockWrp{
  background-color: #fff;
  padding: 35px 80px 48px 80px;
  box-sizing: border-box;
  width: 780px;
  box-shadow: 0 4px 18px 0 #dedede;
  border-radius: 8px;
}
.TwoFactorAuthentication{
  margin-bottom: 30px;
  height: 318px;
}
.LoginPassword{
  padding-top: 38px;
}
.LoginPassword .Header, .TwoFactorAuthentication .Header{
  font-family: SegoeUI-Bold;
  font-size: 18px;
  color: #922c88;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 46px;
  padding-bottom: 40px;
  border-bottom: 1px solid #e8e8e8;
}
.LoginPassword .Header{
  padding-bottom: 39px;
  margin-bottom: 45px;
}
.Row .Cell .Unchecked:hover{
  box-shadow: 0 4px 10px rgba(180, 27, 165, 0.2);
}
.TwoFactorAuthentication .Row:not(:last-child){
  margin-bottom: 38px;
}
.TwoFactorAuthentication .Cell, .LoginPassword .Cell{
  font-size: 16px;
  display: inline-block;
}
.TwoFactorAuthentication .Cell:first-child, .LoginPassword .Cell:first-child{
  margin: 5px 18px 0 0;
  vertical-align: top;
}
.TwoFactorAuthentication .Cell:nth-child(3){
  vertical-align: top;
}
.LoginPassword .Cell:nth-child(3), .TwoFactorAuthentication .Cell:nth-child(3){
  float: right;
}
.TwoFactorAuthentication .Cell img, .LoginPassword .Cell img{
  width: 24px;
  height: 24px;
}
.TwoFactorAuthentication .Cell .Text:first-child, .LoginPassword .Cell .Text:first-child{
  font-family: SegoeUI-Bold;
  font-weight: 700;
  color: #41424e;
}
.TwoFactorAuthentication .Cell .Text:nth-child(2), .LoginPassword .Cell .Text:nth-child(2){
  color: #83878c;
}
.TwoFactorAuthentication .Cell button, .LoginPassword .Cell button{
  font-family: SegoeUI-Bold;
  width: 160px;
  height: 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  background-image: linear-gradient(-110deg, #e02a82 0%, #54236e 100%);
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}
.TwoFactorAuthentication .Cell button.Checked{
  background-image: linear-gradient(-110deg, #e02a82 0%, #54236e 100%);
}
.TwoFactorAuthentication .Cell button.Unchecked{
  background-image: none;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.09);
  color: #922c88;
}
@media screen and (min-width: 1900px){
  .TwoFactorAuthentication .Row:last-child .Cell:first-child{
    margin: 5px 21px 0 -4px;
  }
  .LoginPassword{
    height: 240px;
  }
  .LoginPassword .Row .Cell:first-child{
    margin: 6px 21px 0 -4px;
  }
  .LoginPassword .Cell:nth-child(3), .TwoFactorAuthentication .Cell:nth-child(3){
    transform: translate(-5px, 4px);
  }
}
@media screen and (max-width: 1900px){
  .TwoFactorAuthentication{
    height: auto;
  }
}
@media screen and (min-width: 1801px) and (max-width: 1900px){
  .TwoFactorAuthentication, .LoginPassword{
    width: 700px;
  }
  .TwoFactorAuthentication .Cell:nth-child(2){
    width: 275px;
  }
}

@media screen and (min-width: 1501px) and (max-width: 1800px){
  .TwoFactorAuthentication, .LoginPassword{
    width: 630px;
  }
  .TwoFactorAuthentication .Cell:nth-child(2){
    width: 220px;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1500px){
  .TwoFactorAuthentication, .LoginPassword{
    width: 598px;
  }
  .TwoFactorAuthentication{
    padding: 35px 66px 38px 64px;
  }
  .TwoFactorAuthentication .Cell:nth-child(2){
    width: 185px;
  }
  .TwoFactorAuthentication .Cell:last-child{
    transform: translateY(3px);
  }
  .TwoFactorAuthentication .Row:not(:last-child){
    margin-bottom: 17px;
  }
  .TwoFactorAuthentication .Row:last-child .Cell:first-child{
    transform: translateX(-4px);
  }
  .LoginPassword{
    padding: 36px 60px 52px 61px;
  }
  .LoginPassword .Header{
    padding-bottom: 39px;
    margin-bottom: 45px;
  }
  .LoginPassword .Row .Cell:first-child{
    transform: translateX(-4px);
  }
  .LoginPassword .Row .Cell:last-child{
    transform: translate(-5px, 5px);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px){
  .TwoFactorAuthentication, .LoginPassword{
    padding: 43px 60px 38px 65px;
    margin:0 auto 39px;
    width: 648px;
  }
  .LoginPassword{
    margin-bottom: 0;
    padding: 36px 60px 52px 59px;
  }
  .LoginPassword .Row .Cell:first-child{
    transform: translateX(-4px);
  }
  .LoginPassword .Row .Cell:last-child{
    transform: translate(-2px, 5px);
  }
  .TwoFactorAuthentication{
    padding: 36px 60px 38px 65px;
  }
  .TwoFactorAuthentication .Header{
    transform: translateX(-2px);
  }
  .TwoFactorAuthentication .Cell:first-child{
    margin: 5px 14px 0 0;
  }
  .TwoFactorAuthentication .Cell:nth-child(2){
    width: 179px;
  }
  .TwoFactorAuthentication .Cell:last-child{
    transform: translate(-2px, 4px);
  }
  .TwoFactorAuthentication .Row:not(:last-child){
    margin-bottom: 16px;
  }
  .TwoFactorAuthentication .Row:last-child .Cell:nth-child(2){
    width: 184px;
  }
  .TwoFactorAuthentication .Row:last-child .Cell:first-child{
    transform: translateX(-7px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .TwoFactorAuthentication, .LoginPassword{
    width: 100%;
  }
  .TwoFactorAuthentication{
    padding: 37px 60px 38px 64px;
  }
  .TwoFactorAuthentication .Header{
    padding-bottom: 39px;
  }
  .TwoFactorAuthentication .Row:not(:last-child){
    margin-bottom: 17px;
  }
  .TwoFactorAuthentication .Row .Cell:last-child{
    transform: translateY(5px);
  }
  .LoginPassword{
    padding-left: 64px;
    padding-right: 60px;
  }
  .LoginPassword .Header{
    padding-bottom: 39px;
    transform: translate(-3px, -2px);
  }
  .LoginPassword .Row .Cell:first-child{
    margin: 4px 14px 0 0;
    transform: translateX(-7px);
  }
  .LoginPassword .Row .Cell:nth-child(2){
    transform: translateY(-2px);
  }
  .LoginPassword .Row .Cell:nth-child(3){
    transform: translateY(3px);
  }
  .TwoFactorAuthentication .Cell:nth-child(2), .LoginPassword .Cell:nth-child(2){
    width: 185px;
  }
}

@media screen and (max-width: 767px){
  .LoginPassword .Header, .TwoFactorAuthentication .Header{
    font-size: 16px;
  }
  .InteractiveBlockWrp{
    padding: 20px 20px 31px 20px;
    width: 100%;
  }
  .TwoFactorAuthentication .Header, .LoginPassword .Header{
    padding-bottom: 20px;
    margin-bottom: 21px;
  }
  .TwoFactorAuthentication .Row:not(:last-child){
    margin-bottom: 19px;
  }
  .TwoFactorAuthentication .Cell, .LoginPassword .Cell{
    font-size: 14px;
  }
  .TwoFactorAuthentication .Cell:first-child, .LoginPassword .Cell:first-child{
    margin-right: 11px;
  }
  .TwoFactorAuthentication .Cell:nth-child(2), .LoginPassword .Cell:nth-child(2){
    width: 159px;
  }
  .TwoFactorAuthentication .Cell:nth-child(3) > button, .LoginPassword .Cell:nth-child(3) > button{
    width: 120px;
  }
  .TwoFactorAuthentication .Cell .Text:nth-child(2), .LoginPassword .Cell .Text:nth-child(2){
    font-size: 12px;
  }
}

@media screen and (max-width: 413px){
  .TwoFactorAuthentication{
    margin-bottom: 20px;
    padding-top: 13px;
  }
  .LoginPassword{
    padding: 15px 20px 31px 19px;
  }
  .TwoFactorAuthentication .Header,
  .LoginPassword .Header{
    padding-bottom: 16px;
    margin-bottom: 19px;
  }
  .LoginPassword .Header{
    margin-bottom: 16px;
  }
  .LoginPassword .Cell img{
    width: 21px;
    height: 21px;
    transform: translate(1px, -1px);
  }
  .LoginPassword{
    padding-bottom: 39px;
  }
  .TwoFactorAuthentication .Cell .Text,
  .LoginPassword .Cell .Text{
    font-size: 12px;
  }
  .TwoFactorAuthentication .Row:first-child .Cell:first-child img{
    transform: translate(-2px, -2px);
  }
  .TwoFactorAuthentication .Row:nth-child(2) .Cell:first-child img{
    transform: translate(-1px, -3px);
    width: 22px;
    height: 22px;
  }
  .TwoFactorAuthentication .Cell:first-child{
    margin-right: 6px;
  }
  .TwoFactorAuthentication .Row:nth-child(2) .Cell:first-child{
    margin-right: 8px;
  }
  .TwoFactorAuthentication .Row .Cell:nth-child(2) .Text:nth-child(2){
    transform: translate(-1px, 2px);
  }
  .LoginPassword .Row .Cell:nth-child(2) .Text:nth-child(2){
    transform: translate(-1px, 6px);
  }
  .TwoFactorAuthentication .Row .Cell:nth-child(3){
    transform: translateY(2px);
  }
  .LoginPassword .Cell:first-child{
    margin-right: 10px;
  }
  .LoginPassword .Cell:nth-child(2){
    width: 88px;
  }
  .LoginPassword .Cell:nth-child(3){
    transform: translateY(4px);
  }
  .TwoFactorAuthentication .Cell:nth-child(2){
    width: 139px;
  }
  .TwoFactorAuthentication .Cell:nth-child(3) > button,
  .LoginPassword .Cell:nth-child(3) > button{
    width: 100px;
  }
}

@media screen and (max-width: 359px){
  .TwoFactorAuthentication{
    margin-bottom: 20px;
    padding-top: 15px;
  }
  .LoginPassword{
    padding: 13px 20px 42px 19px;
  }
  .TwoFactorAuthentication .Header,
  .LoginPassword .Header{
    font-size: 14px;
  }
  .TwoFactorAuthentication .Header,
  .LoginPassword .Header{
    margin-bottom: 16px;
  }
  .TwoFactorAuthentication .Row{
    position: relative;
  }
  .TwoFactorAuthentication .Row:not(:last-child){
    margin-bottom: 7px;
  }
  .TwoFactorAuthentication .Row:first-child .Cell:first-child img{
    transform: translate(0px, -2px);
  }
  .TwoFactorAuthentication .Row:nth-child(2) .Cell:first-child img{
    transform: translate(-1px, 0px);
  }
  .TwoFactorAuthentication .Cell:last-child{
    position: absolute;
    right: 0;
    top: 2px;
  }
  .TwoFactorAuthentication .Cell img, .LoginPassword .Cell img{
    width: 20px;
    height: 20px;
  }
  .TwoFactorAuthentication .Cell:first-child, .LoginPassword .Cell:first-child{
    margin-right: 6px;
  }
  .TwoFactorAuthentication .Row .Cell .Text:first-child{
    line-height: 1.3;
  }
  .TwoFactorAuthentication .Row:first-child .Cell .Text:first-child{
    transform: translate(-1px, 2px);
  }
  .TwoFactorAuthentication .Row:nth-child(2) .Cell .Text:first-child{
    transform: translate(-5px, 3px);
  }
  .TwoFactorAuthentication .Row:nth-child(2) .Cell .Text:nth-child(2){
    transform: translate(-5px, 2px);
  }
  .TwoFactorAuthentication .Cell:nth-child(2), .LoginPassword .Cell:nth-child(2){
    width: 114px;
  }
  .TwoFactorAuthentication .Cell .Text:nth-child(2), .LoginPassword .Cell .Text:nth-child(2){
    font-size: 10px;
  }
}
