.InteractiveBlockWrp{
  background-color: #fff;
  padding: 43px 80px 48px 75px;
  box-sizing: border-box;
  width: 780px;
  box-shadow: 0 4px 18px 0 #dedede;
  border-radius: 8px;
}
.TwoFactorAuthentication{
  margin-bottom: 30px;
}
.LoginPassword .Header, .TwoFactorAuthentication .Header{
  font-size: 18px;
  color: #922c88;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 51px;
  padding-bottom: 44px;
  border-bottom: 1px solid #e8e8e8;
}
.TwoFactorAuthentication .Row:not(:last-child){
  margin-bottom: 43px;
}
.TwoFactorAuthentication .Cell, .LoginPassword .Cell{
  font-size: 16px;
  display: inline-block;
}
.TwoFactorAuthentication .Cell:first-child, .LoginPassword .Cell:first-child{
  margin: 4px 18px 0 0;
  vertical-align: top;
}
.TwoFactorAuthentication .Cell:nth-child(2){

}
.TwoFactorAuthentication .Cell:nth-child(3){
  vertical-align: top;
}
.LoginPassword .Cell:nth-child(3), .TwoFactorAuthentication .Cell:nth-child(3){
  float: right;
}
.TwoFactorAuthentication .Cell img, .LoginPassword .Cell img{
  width: 24px;
  height: 24px;
}
.TwoFactorAuthentication .Cell .Text:first-child, .LoginPassword .Cell .Text:first-child{
  font-weight: 700;
  color: #41424e;
}
.TwoFactorAuthentication .Cell .Text:nth-child(2), .LoginPassword .Cell .Text:nth-child(2){
  color: #83878c;
}
.TwoFactorAuthentication .Cell button, .LoginPassword .Cell button{
  width: 160px;
  height: 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  background-image: linear-gradient(-110deg, #e02a82 0%, #54236e 100%);
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 1801px) and (max-width: 1900px){
  .TwoFactorAuthentication, .LoginPassword{
    width: 700px;
  }
  .TwoFactorAuthentication .Cell:nth-child(2){
    width: 275px;
  }
}

@media screen and (min-width: 1501px) and (max-width: 1800px){
  .TwoFactorAuthentication, .LoginPassword{
    width: 630px;
  }
  .TwoFactorAuthentication .Cell:nth-child(2){
    width: 220px;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1500px){
  .TwoFactorAuthentication, .LoginPassword{
    width: 598px;
  }
  .TwoFactorAuthentication{
    padding: 43px 59px 38px 65px;
  }
  .TwoFactorAuthentication .Cell:nth-child(2){
    width: 185px;
  }
  .TwoFactorAuthentication .Cell:last-child{
    transform: translateY(3px);
  }
  .TwoFactorAuthentication .Row:not(:last-child){
    margin-bottom: 23px;
  }
  .LoginPassword{
    padding: 44px 60px 49px 61px;
  }
  .LoginPassword .Header{
    padding-bottom: 43px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px){
  .TwoFactorAuthentication, .LoginPassword{
    padding: 43px 60px 38px 65px;
    margin:0 auto 39px;
    width: 648px;
  }
  .LoginPassword{
    margin-bottom: 0;
  }
  .TwoFactorAuthentication .Cell:nth-child(2){
    width: 185px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .TwoFactorAuthentication, .LoginPassword{
    width: 100%;
  }
  .TwoFactorAuthentication{
    padding: 43px 60px 38px 64px;
  }
  .LoginPassword{
    padding-left: 64px;
    padding-right: 60px;
  }
  .TwoFactorAuthentication .Cell:nth-child(2), .LoginPassword .Cell:nth-child(2){
    width: 185px;
  }
}

@media screen and (max-width: 767px){
  .LoginPassword .Header, .TwoFactorAuthentication .Header{
    font-size: 16px;
  }
  .InteractiveBlockWrp{
    padding: 20px 20px 31px 20px;
    width: 100%;
  }
  .TwoFactorAuthentication .Header, .LoginPassword .Header{
    padding-bottom: 20px;
    margin-bottom: 21px;
  }
  .TwoFactorAuthentication .Row:not(:last-child){
    margin-bottom: 19px;
  }
  .TwoFactorAuthentication .Cell, .LoginPassword .Cell{
    font-size: 14px;
  }
  .TwoFactorAuthentication .Cell:first-child, .LoginPassword .Cell:first-child{
    margin-right: 11px;
  }
  .TwoFactorAuthentication .Cell:nth-child(2), .LoginPassword .Cell:nth-child(2){
    width: 159px;
  }
  .TwoFactorAuthentication .Cell:nth-child(3) > button, .LoginPassword .Cell:nth-child(3) > button{
    width: 120px;
  }
  .TwoFactorAuthentication .Cell .Text:nth-child(2), .LoginPassword .Cell .Text:nth-child(2){
    font-size: 12px;
  }
}

@media screen and (max-width: 413px){
  .InteractiveBlockWrp .TwoFactorAuthentication{
    margin-bottom: 20px;
  }
  .LoginPassword{
    padding-bottom: 28px;
  }
  .TwoFactorAuthentication .Cell .Text,
  .LoginPassword .Cell .Text{
    font-size: 12px;
  }
  .LoginPassword .Cell:nth-child(2){
    width: 86px;
  }
  .TwoFactorAuthentication .Cell:nth-child(2){
    width: 139px;
  }
  .TwoFactorAuthentication .Cell:nth-child(3) > button,
  .LoginPassword .Cell:nth-child(3) > button{
    width: 100px;
  }
}

@media screen and (max-width: 359px){
  .TwoFactorAuthentication{
    margin-bottom: 20px;
  }
  .TwoFactorAuthentication .Header{
    font-size: 14px;
  }
  .TwoFactorAuthentication .Cell img, .LoginPassword .Cell img{
    width: 20px;
    height: 20px;
  }
  .TwoFactorAuthentication .Cell:first-child, .LoginPassword .Cell:first-child{
    margin-right: 6px;
  }
  .TwoFactorAuthentication .Cell:nth-child(2), .LoginPassword .Cell:nth-child(2){
    width: 111px;
  }
  .TwoFactorAuthentication .Cell .Text:nth-child(2), .LoginPassword .Cell .Text:nth-child(2){
    font-size: 10px;
  }
}
