.ChangePasswordWrp{
  width: 722px;
  text-align: center;
  padding: 0 160px 94px;
  box-sizing: border-box;
  margin-top: 60px;
}
.ChangePasswordWrp h2{
  font-size: 24px;
  font-weight: 700;
  color: #922c88;
  text-transform: uppercase;
  margin-bottom: 37px;
}

@media screen and (max-width: 1023px){
  .ChangePasswordWrp{
    margin-top: 35px;
    padding-bottom: 84px;
  }
}

@media screen and (max-width: 767px){
  .ChangePasswordWrp{
    width: 377px;
    padding-bottom: 64px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .ChangePasswordWrp h2{
    font-size: 18px;
    margin-bottom: 49px;
  }
  .PhoneText, .CodeTitle{
    font-size: 12px;
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 413px){
  .ChangePasswordWrp{
    width: 323px;
    margin-top: 45px;
    padding: 0 20px 47px;
    box-sizing: border-box;
  }
  .ChangePasswordWrp h2{
    font-size: 16px;
    margin-bottom: 40px;
  }
}
