.LoginBackgroundWrp{
  display: inline-block;
  background-position: center;
  vertical-align: top;
  background-size: cover;
  color: #fff;
  padding: 33.45vh 0 0 7.95vw;
  box-sizing: border-box;
  background-clip: border-box;
  width: 60.4%;
  height: 100%;
}
.Head{
  font-family: SegoeUI-Light;
  font-size: 72px;
  font-weight: 300;
  margin: 0 0 11px 0;
}
.Head .Title{
  font-family: SegoeUI-Bold;
  font-weight: 700;
}
.Text{
  font-family: SegoeUI-Light;
  font-size: 30px;
}

@media screen and (min-width: 1921px){
  .Head{
    font-size: 4vw;
  }
  .Text{
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 1919px){
  .LoginBackgroundWrp{
    width: 60.8%;
    padding: 31.5vh 0 0 2.85vw;
  }
  .Head{
    font-size: 60px;
    margin-bottom: 7px;
  }
  .Text{
    font-size: 24px;
  }
}

@media screen and (max-width: 1365px){
  .LoginBackgroundWrp{
    width: 55.18%;
  }
  .Head{
    font-size: 48px;
  }
  .Text{
    font-size: 18px;
  }
}

@media screen and (max-width: 1023px){
  .LoginBackgroundWrp{
    display: block;
    width: 100%;
    height: 48%;
    padding: 14.1vh 0 0 6.9vw;
  }
  .Head{
    font-size: 60px;
  }
  .Text{
    font-size: 24px;
  }
}

@media screen and (max-width: 823px) and (max-height: 411px){
  .LoginBackgroundWrp{
    height: auto;
    padding: 14.1vh 0 5vh 6.9vw;
  }
  .Head{
    font-size: 42px;
  }
  .Text{
    font-size: 18px;
  }
}

@media screen and (max-width: 812px) and (max-height: 375px){
  .LoginBackgroundWrp{
    padding: 12vh 0 5vh 6.9vw;
    height: auto;
  }
  .Head{
    font-size: 40px;
  }
  .Text{
    font-size: 20px;
  }
}

@media screen and (max-width: 736px) and (max-height: 414px){
  .LoginBackgroundWrp{
    height: auto;
    padding: 12vh 0 5vh 6.9vw;
  }
}

@media screen and (max-width: 767px){
  .LoginBackgroundWrp{
    height: 38.6%;
  }
  .Head{
    font-size: 36px;
  }
  .Text{
    font-size: 16px;
  }
}

@media screen and (max-width: 413px){
  .LoginBackgroundWrp{
    height: 37.5%;
    padding: 10vh 0 0 5.5vw;
  }
  .Head{
    font-size: 30px;
  }
  .Text{
    font-size: 14px;
  }
}

@media screen and (max-width: 359px){
  .LoginBackgroundWrp{
    height: 38.75%;
    padding: 7.5vh 0 0 5.9vw;
  }
  .Head{
    margin-bottom: 2px;
  }
}
