.Toolbar{
  position: relative;
  z-index: 1;
  padding: 24px 159px 35px 160px;
}
.Logo{
  display: inline-block;
  margin-right: 120px;
  color: #922c88;
  font-size: 24px;
}
.DesktopOnly{
  display: inline-block;
}
@media screen and (min-width: 1366px) and (max-width: 1500px){
  .Toolbar{
    padding-left: 40px;
    padding-right: 40px;
  }
  .Logo{
    margin-right: 79px;
  }
}

@media screen and (max-width: 1023px) {
  .DesktopOnly{
    display: none;
  }
}
