.Toolbar{
  position: relative;
  z-index: 10;
  padding: 24px 159px 35px 160px;
}
.Logo{
  display: inline-block;
  margin-right: 120px;
  color: #922c88;
  font-size: 24px;
}
.DesktopOnly{
  display: inline-block;
}

@media screen and (min-width: 1501px) and (max-width: 1590px){
  .Logo{
    margin-right: 70px;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1500px){
  .Toolbar{
    padding-left: 40px;
    padding-right: 40px;
  }
  .Logo{
    margin-right: 79px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px){
  .Toolbar{
    padding-left: 32px;
    padding-right: 32px;
  }
  .Logo{
    margin-right: 79px;
  }
}

@media screen and (max-width: 1023px) {
  .DesktopOnly{
    display: none;
  }
  .Toolbar > div:first-child{
    margin-right: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .Toolbar{
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (max-width: 767px){
  .Toolbar{
    padding: 10px 20px 18px 20px;
  }
}

@media screen and (max-width: 413px){
  .Logo{
    margin-right: 15px;
  }
}
