.ProfileWrp{
  background-color: #f8f8f8;
  padding: 60px 148px 96px 160px;
}
.Head{
  padding-left: 230px;
  margin-bottom: 55px;
}
.Head .UserStatus{
  margin-right: 139px;
  display: inline-block;
}
.ProfileWrp .Stages{
  display: inline-block;
  vertical-align: top;
  padding-top: 16px;
}
.ProfileWrp .Stages > div{
  margin-right: 129px;
  position: relative;
}
.ProfileWrp .Stages > div:first-child{
  margin-right: 124px;
}
.ProfileWrp .Stages > div:nth-child(2){
  margin-right: 115px;
}
.ProfileWrp .Stages > div:last-child{
  margin-right: 0;
}
.ProfileWrp .Stages > div::after{
  content: '';
  position: absolute;
  width: 46px;
  top: 17px;
  left: 173px;
  border: 2px dashed #e3e3e3;
}
.ProfileWrp .Stages > div:last-child::after{
  display: none;
}
.Balances_InteractiveBlocks_Wrp{
  display: flex;
  justify-content: space-between;
}
.BalancesWrp{
  width: 780px;
  padding: 31px 80px 62px 72px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 18px 0 #dedede;
  box-sizing: border-box;
  align-self: flex-start;
}
.BalancesWrp > div:last-child span{
  padding-left: 4px;
}
.BalancesWrp table{
  width: 100%;
}
.BalancesWrp table thead{
  padding-right: 0;
}
.BalancesWrp table thead th:last-child{
  font-family: SegoeUI-Bold;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 39px !important;
  margin-bottom: 41px;
  text-align: left;
}
.BalancesWrp table tbody{
  height: auto;
}
.BalancesWrp table tbody td{
  font-size: 16px;
}
.BalancesWrp table tbody td:last-child span:last-child{
  font-family: SegoeUI-Bold;
  font-size: 12px;
  font-weight: 700;
}
.BalancesWrp table tbody tr{
  padding: 0 0 16px;
}
.BalancesWrp table tbody td:first-child{
  width: 51px;
}
.BalancesWrp table tbody td:nth-child(2){
  font-family: SegoeUI-Bold;
  padding-left: 0;
  width: 256px;
  font-weight: 700;
}
.BalancesWrp table tbody td:nth-child(3){
  width: 158px;
}
.BalancesWrp table tbody td:nth-child(4){
  padding-right: 0;
}
.BalancesWrp table tbody td img{
  width: 24px;
  height: 24px;
  transform: translate(2px, -2px);
}
@media screen and (min-width: 1601px) and (max-width: 1800px){
  .ProfileWrp{
    padding: 60px 80px 80px 80px;
  }
  .BalancesWrp{
    width: 745px;
  }
  .BalancesWrp table tbody td:nth-child(2){
    width: 221px;
  }
  .BalancesWrp table tbody td:nth-child(3){
    width: 178px;
  }
}

@media screen and (min-width: 1501px) and (max-width: 1600px){
  .ProfileWrp{
    padding: 60px 80px 80px 80px;
  }
  .BalancesWrp{
    width: 690px;
    padding-left: 60px;
    padding-right: 58px;
  }
  .BalancesWrp table tbody td:nth-child(2){
    width: 150px;
  }
  .BalancesWrp table tbody td:nth-child(3){
    width: 105px;
  }
  .BalancesWrp table tbody td:nth-child(4){
    width: 120px;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1615px){
  .Head{
    padding-left: 119px;
    margin-bottom: 63px;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1500px){
  .ProfileWrp{
    padding: 60px 40px 80px 40px;
  }
  .BalancesWrp{
    width: 648px;
    padding: 43px 58px 65px 60px;
  }
  .BalancesWrp table thead th:last-child{
    padding-bottom: 44px;
    margin-bottom: 42px;
  }
  .BalancesWrp table tbody td:nth-child(2){
    width: 227px;
  }
  .BalancesWrp table tbody td:nth-child(3){
    width: 139px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px){
  .ProfileWrp{
    padding: 40px 32px 60px 32px;
  }
  .Head{
    padding-left: 0;
    margin-bottom: 52px;
  }
  .Head .UserStatus{
    margin-right: 70px;
  }
  .ProfileWrp .Stages > div:first-child{
    margin-right: 99px !important;
  }
  .ProfileWrp .Stages > div:first-child::after{
    left: 155px;
    top: 19px;
  }
  .ProfileWrp .Stages > div:nth-child(2){
    margin-right: 90px !important;
  }
  .ProfileWrp .Stages > div:nth-child(2)::after{
    left: 165px;
    top: 19px;
  }
  .Balances_InteractiveBlocks_Wrp{
    flex-direction: column;
  }
  .BalancesWrp{
    width: 648px;
    align-self: center;
    padding: 43px 58px 65px 60px;
    margin-bottom: 40px;
  }
  .BalancesWrp table thead th:last-child{
    padding-bottom: 44px;
  }
  .BalancesWrp table tbody{
    padding-top: 42px;
  }
  .BalancesWrp table tbody td:nth-child(2){
    width: 227px;
  }
  .BalancesWrp table tbody td:nth-child(3){
    width: 139px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .ProfileWrp{
    padding: 30px 60px 40px;
  }
  .Head{
    text-align: center;
    padding: 0;
    margin-bottom: 33px;
  }
  .Head .UserStatus{
    display: inline-block;
    margin: 0
  }
  .Head .Stages{
    display: inline-block;
    padding-top: 25px;
  }
  .Balances_InteractiveBlocks_Wrp{
    flex-direction: column;
  }
  .Balances_InteractiveBlocks_Wrp .BalancesWrp,
  .Balances_InteractiveBlocks_Wrp .InteractiveBlocksWrp{
    width: 648px;
    align-self: center;
  }
  .ProfileWrp .Stages > div:first-child{
    margin-right: 99px !important;
  }
  .ProfileWrp .Stages > div:nth-child(2){
    margin-right: 90px !important;
  }
  .ProfileWrp .Stages > div:first-child::after{
    left: 158px;
  }
  .ProfileWrp .Stages > div:nth-child(2)::after{
    left: 162px;
  }
  .Balances_InteractiveBlocks_Wrp .BalancesWrp{
    padding: 43px 58px 65px 60px;
    margin-bottom: 30px;
  }
  .Balances_InteractiveBlocks_Wrp .BalancesWrp table thead th:last-child{
    padding-bottom: 44px !important;
    margin-bottom: 42px !important;
  }
  .Balances_InteractiveBlocks_Wrp .BalancesWrp table tbody td:nth-child(2){
    width: 227px;
  }
  .Balances_InteractiveBlocks_Wrp .BalancesWrp table tbody td:nth-child(3){
    width: 139px;
  }
}

@media screen and (max-width: 767px){
  .ProfileWrp{
    padding: 30px 20px 40px 20px;
  }
  .Head{
    padding-left: 0;
    margin-bottom: 30px;
  }
  .Head .UserStatus{
    margin: 0;
  }
  .ProfileWrp .Stages{
    padding-top: 30px;
  }
  .ProfileWrp .Stages > div{
    margin-right: 23px !important;
  }
  .ProfileWrp .Stages > div:nth-child(2){
    margin-right: 16px !important;
  }
  .ProfileWrp .Stages > div:last-child{
    margin-right: 0 !important;
  }
  .ProfileWrp .Stages > div::after{
    display: none;
  }
  .BalancesWrp{
    width: 100%;
    padding: 21px 20px 35px 20px;
    margin-bottom: 30px;
  }
  .BalancesWrp table thead th:last-child{
    font-size: 16px;
    padding-bottom: 20px !important;
  }
  .BalancesWrp table tbody{
    padding-top: 19px;
  }
  .BalancesWrp table tbody td:not(:first-child){
    font-size: 14px;
    transform: translateY(3px);
  }
  .BalancesWrp table tbody td:first-child{
    width: 36px;
  }
  .BalancesWrp table tbody td:nth-child(2){
    width: 84px;
  }
  .BalancesWrp table tbody td:nth-child(2) span:nth-child(2){
    display: none;
  }
  .BalancesWrp table tbody td:nth-child(3){
    width: 118px;
  }
  .Balances_InteractiveBlocks_Wrp{
    flex-direction: column;
  }
}

@media screen and (min-width: 670px) and (max-width: 767px){
  .Head{
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 413px){
  .ProfileWrp{
    padding: 20px 20px 30px;
  }
  .ProfileWrp .Stages > div:first-child{
    margin-right: 16px !important;
  }
  .ProfileWrp .Stages > div:nth-child(2){
    margin-right: 14px !important;
  }
  .ProfileWrp .Stages{
    padding-top: 21px;
  }
  .Head{
    margin-bottom: 21px;
  }
  .BalancesWrp{
    padding-bottom: 25px;
    margin-bottom: 20px;
  }
  .BalancesWrp table tbody td:nth-child(2){
    width: 57px;
  }
  .BalancesWrp table tbody td:nth-child(3){
    width: 91px;
  }
}

@media screen and (max-width: 359px){
  .Head{
    margin-bottom: 20px;
  }
  .BalancesWrp{
    padding: 20px 20px 25px;
  }
  .BalancesWrp table thead th:last-child{
    font-size: 14px;
  }
  .BalancesWrp table tbody td img{
    width: 20px;
    height: 20px;
  }
  .BalancesWrp table tbody td:not(:first-child){
    font-size: 12px;
    transform: translateY(1px);
  }
  .BalancesWrp table tbody td:last-child span:last-child{
    font-size: 10px;
  }
  .BalancesWrp table tbody td:nth-child(2){
    width: 47px;
  }
  .BalancesWrp table tbody td:nth-child(3){
    width: 75px;
  }
}
