.BuySellWrp{
  background-color: #f8f8f8;
  padding: 57px 0 79px 159px;
}
.History{
  font-size: 18px;
  font-weight: 700;
  color: #582871;
  margin-bottom: 21px;
  margin-top: 32px;
  text-transform: uppercase;
}
@media screen and (min-width: 1920px) {
  .BuySellWrp{
    padding: 57px 159px 79px 159px;
  }
}
