.BuySellWrp{
  background-color: #f8f8f8;
  padding: 57px 0 79px 159px;
}
.History{
  font-size: 18px;
  font-weight: 700;
  color: #582871;
  margin-bottom: 21px;
  margin-top: 32px;
  text-transform: uppercase;
}
.TableWrp{
  max-width: 600px;
  max-height: 262px;
  box-sizing: border-box;
  padding: 35px 5px 18px 59px;
  background-color: #fff;
  border-radius: 8px;
}
.TableWrp tbody{
  padding-top: 0;
}
.TableWrp tbody tr:first-child td{
  padding-top: 29px;
}

@media screen and (min-width: 1920px){
  .BuySellWrp{
    padding: 57px 159px 79px 159px;
  }
}

@media screen and (max-width: 1366px){
  .BuySellWrp{
    padding: 50px 40px 80px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1230px){
  .BuySellWrp{
    padding: 40px 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .History{
    margin-top: 40px;
  }
  .TableWrp{
    max-width: 580px;
  }
  .TransactionsWrp{
    align-self: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .BuySellWrp{
    padding: 30px 50px 40px 50px;
    display: flex;
    flex-direction: column;
  }
  .TableWrp{
    width: 580px;
  }
  .TransactionsWrp{
    align-self: center;
  }
}
