.BuySellWrp{
  background-color: #f8f8f8;
  padding: 57px 0 79px 159px;
}
.History{
  font-family: SegoeUI-Bold;
  font-size: 18px;
  font-weight: 700;
  color: #582871;
  margin-bottom: 17px;
  margin-top: 26px;
  text-transform: uppercase;
}
.TableWrp{
  box-shadow: 0 4px 18px rgba(48, 8, 69, 0.07);
  max-width: 600px;
  max-height: 262px;
  box-sizing: border-box;
  padding: 24px 5px 9px 53px;
  background-color: #fff;
  border-radius: 8px;
}
.TableWrp.TableWrpExpanded{
  max-height: inherit;
}
.TableWrp.TableWrpExpanded table tbody{
  height: auto;
}
.TableWrp tbody{
  padding-top: 0;
}
.TableWrp tbody tr:first-child td{
  padding-top: 20px;
}

@media screen and (min-width: 1900px){
  .BuySellWrp{
    padding-left: 11px;
    padding-right: 0;
    padding-bottom: 61px;
    width: 1598px;
  }
  .TransactionsWrp .TableWrp table thead{
    padding-right: 69px;
  }
}

@media screen and (max-width: 1919px){
  .BuySellWrp{
    padding: 50px 40px 80px;
  }
}

@media screen and (max-width: 1899px){
  .TableWrp{
    max-width: 580px;
    height: 259px;
  }
  .TableWrp table thead{
    padding-right: 49px;
  }
  .TableWrp table thead tr th:first-child{
    width: 159px;
  }
  .TableWrp table thead tr th:nth-child(2){
    width: 135px;
  }
  .TableWrp table tbody{
    height: 165px;
  }
  .TableWrp table tbody tr{
    padding: 1px 0;
  }
}

@media screen and (max-width: 1365px){
  .BuySellWrp{
    padding: 40px 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .History{
    margin-top: 34px;
  }
  .TableWrp{
    max-width: 580px;
  }
  .TransactionsWrp{
    align-self: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .BuySellWrp{
    padding: 30px 50px 40px 50px;
    display: flex;
    flex-direction: column;
  }
  .TableWrp{
    width: 580px;
  }
  .TableWrp table thead tr th:first-child{
    width: 154px;
  }
  .TableWrp table thead tr th:nth-child(2){
    width: 139px;
  }
  .TransactionsWrp{
    align-self: center;
  }
  .History{
    margin-top: 23px;
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 767px){
  .BuySellWrp{
    padding: 30px 20px 40px;
    display: flex;
    flex-direction: column;
  }
  .TransactionsWrp{
    margin-top: 20px;
  }
  .History{
    font-size: 16px;
    margin-top: 0;
  }
  .TableWrp{
    max-height: 270px;
    max-width: 100%;
    padding: 10px 20px 28px 20px;
  }
  .TableWrp table thead th{
    font-size: 12px;
    padding-bottom: 14px !important;
  }
  .TableWrp table thead th{
    text-align: left;
  }
  .TableWrp table thead{
    padding: 0;
  }
  .TableWrp table thead th:first-child{
    width: 34.7%;
  }
  .TableWrp table thead th:nth-child(2){
    width: 25.2%;
  }
  .TableWrp table thead th:nth-child(3){
    width: 26.8%;
    padding: 0;
    padding-bottom: 12px !important;
  }
  .TableWrp table thead th:nth-child(4){
    width: auto;
    text-align: left;
  }
  .TableWrp table tbody{
    overflow: hidden;
    height: 165px;
  }
  .TableWrp table tbody tr:first-child td{
    padding-top: 12px;
  }
  .TableWrp table tbody td:first-child{
    width: 35.1%;
    font-size: 12px;
  }
  .TableWrp table tbody td:nth-child(2){
    padding-left: 0;
    width: 25.7%;
  }
  .TableWrp table tbody td:nth-child(3){
    width: 27.2%;
  }
  .TableWrp table tbody td:first-child span:nth-child(3){
    display: inline-block;
    font-size: 12px;
  }
  .TableWrp table tbody td:first-child span:nth-child(4){
    font-size: 10px;
    display: block;
    margin-left: 16px;
  }
  .TableWrp > div:last-child{
    margin-top: 8px;
  }
  .TableWrp > div:last-child > span{
    font-size: 14px;
  }
}

@media screen and (max-width: 413px){
  .BuySellWrp{
    padding: 40px 20px 41px;
  }
  .TableWrp > div:last-child > span{
    font-size: 12px;
  }
  .TableWrp table thead th{
    font-size: 10px;
  }
  .TableWrp table thead th:nth-child(2){
    width: 21.2%;
  }
  .TableWrp table thead th:nth-child(3){
    width: 22.5%;
  }
  .TableWrp table tbody td{
    font-size: 12px;
  }
  .TableWrp table tbody td:nth-child(2){
    padding-left: 0;
    width: 21.5%;
  }
  .TableWrp table tbody td:nth-child(3){
    padding-left: 0;
    width: 22.5%;
  }
  .TableWrp table tbody td:first-child span:nth-child(4){
    font-size: 10px;
    display: block;
    margin-left: 10px;
  }
  .TransactionsWrp{
    margin-top: 40px;
  }
}

@media screen and (max-width: 359px){
  .BuySellWrp{
    padding: 30px 20px 30px;
  }
  .TransactionsWrp{
    margin-top: 30px;
  }
  .History{
    font-size: 14px;
    margin-bottom: 20px;
  }
  .TableWrp{
    padding: 15px 20px 22px;
  }
  .TableWrp table thead th:first-child{
    width: 36%;
  }
  .TableWrp table thead th:nth-child(2){
    width: 19.2%;
  }
  .TableWrp table thead th:nth-child(3){
    width: 24.5%;
  }
  .TableWrp table tbody td:first-child{
    width: 37%;
  }
  .TableWrp table tbody td:nth-child(2), .TableWrp table tbody td:nth-child(3){
    width: 22.1%;
  }
  .TableWrp table tbody td, .TableWrp table tbody td:first-child span:nth-child(3){
    font-size: 10px !important;
  }
  .TableWrp table tbody td:first-child span:last-child{
    font-size: 12px;
    margin-left: 10px;
  }
}

@media screen and (min-height: 1152px) and (min-width: 2200px){
  .BuySellWrp{
    height: 85vh;
  }
}
