.Modal{
  background-color: #fff;
  border-radius: 8px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.Modal::-webkit-scrollbar{
  width: 6px;
}
.Modal::-webkit-scrollbar-thumb{
  background-color: #d192c7;
  border-radius: 5px;
}

@media screen and (max-height: 680px) and (max-width: 850px){
  .Modal{
    max-height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

@media screen and (max-width: 767px){
  .EnableAuthSupportModal{
    height: 649px;
  }
}

@media screen and (max-width: 550px){
  .ThankModalWrp{
    height: 400px;
  }
}

@media screen and (max-width: 413px){
  .ThankModalWrp{
    width: 350px;
    box-sizing: border-box;
    height: 380px !important;
  }
  .WelcomeModalWrp{
    height: 487px;
    overflow: hidden;
  }
  .DisableGoogleModalWrp{
    height: 382px;
  }
  .EnableAuthSupportModal{
    height: 579px;
    overflow: hidden;
  }
}

@media screen and (max-width: 359px){
  .ThankModalWrp{
    width: 305px;
  }
  .DisableGoogleModalWrp{
    height: 372px;
  }
  .EnableAuthSupportModal{
    max-height: calc(100vh - 29px);
  }
}
