
.Table thead th{
  padding-bottom: 34px !important;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 29px;
  font-size: 14px;
  font-weight: 700;
  color: #922c88;
  text-transform: uppercase;
}
.Table thead th:first-child{
  text-align: left;
  width: 155px;
}
.Table thead th:nth-child(2){
  width: 130px;
}
.Table thead th:nth-child(3){
  padding: 0 29px 0 0;
}
.Table thead th:last-child{
  text-align: right;
}
.Table thead{
  box-sizing: border-box;
  padding-right: 80px;
}
.Table thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.Table tbody{
  display: block;
  height: 150px;
  overflow: auto;
  padding-top: 29px;
}
.Table tbody::-webkit-scrollbar {
    width: 6px;
}
.Table tbody::-webkit-scrollbar-track {
  margin-right: 5px;
}
.Table tbody::-webkit-scrollbar-thumb {
  background-color: #d192c7;
  border-radius: 5px;
}
.Table tbody tr{
  padding: 4px 0;
}
.Table tbody td{
  box-sizing: border-box;
  font-size: 16px;
  color: #41424e;
}
.Table tbody td:first-child{
  font-size: 14px;
  width: 155px;
}
.Table tbody td:nth-child(2){
  padding-left: 48px;
}
.Table tbody td:nth-child(3){
  width: 93px;
}
.Table tbody td:nth-child(4){
  padding-right: 44px;
}
.Round{
  display: inline-block;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #922c88;
  margin: 0 10px 2px 0;
}
.Row{
  box-sizing: border-box;
  vertical-align: top;
  transition: height .5s;
  overflow: hidden;
}
.Row td{
  position: relative;
}
.Table .RowUnchecked{
  height: 20px;
}
.Table .RowUnchecked td{
  box-sizing: inherit;
}
.Table .RowChecked{
  background-color: #f1dded;
  height: 120px;
}
.MoreInfoWrp{
  position: absolute;
  top: 45px;
  left: 0;
  width: 636px;
  height: 100%;
}
.MoreInfoWrp .MoreInfo:first-child .Key{
  text-transform: capitalize;
}
.MoreInfo .Key,
.MoreInfo .Value{
  display: inline-block;
}
.MoreInfo .Value{
  color: #41424e;
  font-size: 12px;
}
.MoreInfo .Key{
  font-size: 16px;
  font-style: Regular;
  font-weight: 400;
  color: #922c88;
  width: 91px;
  margin-left: 15px;
}
.AngleIcon{
  transform-origin: center;
}
.AngleIcon.Up svg{
  transform: rotate(270deg);
}
.AngleIcon.Down svg{
  transform: rotate(90deg);
}
.ViewAllBtn{
  text-align: center;
  margin-top: 16px;
}
.ViewAllBtn span{
  font-size: 16px;
  color: #922c88;
  cursor: pointer;
}
