.AddressWrp{
  padding: 76px 340px 77px 140px;
  background-color: #fff;
  border-radius: 8px;
  width: 960px;
  box-sizing: border-box;
}
.AddressWrp .Title{
  font-weight: 700;
  color: #922c88;
  font-size: 24px;
  margin: 0 0 75px;
}
.InputsContent{
  text-align: center;
}
.InputsContent > div{
  text-align: left;
}
.InputsContent > div:nth-child(5){
  text-align: center;
}
.InputsContent input{
  width: 100%;
  border: none;
  padding-bottom: 19px;
  outline: none;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 50px;
}
.InputsContent label{
  font-size: 14px;
  color: #9e9fa3;
}
