.AddressWrp{
  padding: 66px 340px 77px 140px;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
}
.AddressWrp .Title{
  font-family: SegoeUI-Bold;
  text-transform: uppercase;
  font-weight: 700;
  color: #922c88;
  font-size: 24px;
  margin: 0 0 70px;
}
.InputsContent{
  text-align: center;
}
.InputsContent > div{
  text-align: left;
}
.InputsContent > div:nth-child(4) input{
  margin-bottom: 62px;
}
.InputsContent > div:nth-child(5){
  text-align: center;
}
.InputsContent input{
  width: 100%;
  border: none;
  padding-bottom: 0;
  outline: none;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 38px;
  transform: translateY(-5px);
}
.InputsContent label{
  font-size: 14px;
  color: #9e9fa3;
}

@media screen and (max-width: 1366px){
  .AddressWrp{
    padding-left: 100px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px){
  .AddressWrp{
    width: 660px;
    padding: 70px 78px 83px 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .AddressWrp{
    padding: 40px 30px 33px;
  }
}

@media screen and (max-width: 767px){
  .AddressWrp{
    padding: 30px 20px 34px 20px;
  }
  .AddressWrp .Title{
    font-size: 18px;
    margin-bottom: 40px;
  }
  .InputsContent label{
    font-size: 12px;
  }
  .InputsContent input{
    padding-bottom: 2px;
    margin-bottom: 30px;
  }
  .InputsContent > div:nth-child(4) input{
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 359px){
  .AddressWrp{
    padding: 0;
    background-color: transparent;
  }
  .InputsContent input{
    background-color: transparent;
  }
}
