.FileInputRequestWrp, .PhotoAddress, .SertificatePhoto{
  border: 1px solid #f3ecf3;
  height: 200px;
  padding-top: 54px;
  box-sizing: border-box;
  margin: 0 0 42px;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.FileInputRequestWrp{
  padding-left: 5px;
  margin-bottom: 41px;
}
.FileInputRequestWrp input, .PhotoAddress input, .SertificatePhoto input{
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
}
.FileInputRequestWrp .Label, .PhotoAddress .Label, .SertificatePhoto .Label{
  position: absolute;
  top: -33px;
  left: 0;
  font-size: 14px;
  color: #9e9fa3;
}
.FileInputRequestWrp .Icon, .PhotoAddress .Icon, .SertificatePhoto .Icon{
  display: inline-block;
}
.FileInputRequestWrp .Sentence, .PhotoAddress .Sentence, .SertificatePhoto .Sentence{
  color: #9e9fa3;
  font-size: 14px;
  margin-top: 7px;
}
.FileInputRequestWrp .Sentence > span:first-child,
.PhotoAddress .Sentence > span:first-child, .SertificatePhoto .Sentence > span:first-child{
  color: #922c88;
  position: relative;
}
.FileInputRequestWrp .Sentence > span:first-child::before,
.PhotoAddress .Sentence > span:first-child::before, .SertificatePhoto .Sentence > span:first-child::before{
  content: '';
  position: absolute;
  background-color: #922c88;
  width: 93%;
  height: 1px;
  bottom: 0;
}
.SertificatePhoto{
  text-align: center !important;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .FileInputRequestWrp{
    height: 160px;
    padding-top: 44px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px){
  .PhotoAddress, .SertificatePhoto{
    padding-top: 15px;
    height: 100px;
    margin-bottom: 20px;
  }
  .SertificatePhoto .Label{
    font-size: 12px;
  }
  .FileInputRequestWrp .Sentence, .PhotoAddress .Sentence, .SertificatePhoto .Sentence{
    font-size: 12px;
  }
  .PhotoAddress .Sentence, .SertificatePhoto .Sentence{
    margin-top: -5px;
  }
  .SertificatePhoto .Sentence span:last-child, .PhotoAddress .Sentence span:last-child{
    display: none;
  }
  .FileInputRequestWrp .Label{
    font-size: 12px;
  }
}

@media screen and (max-width: 414px) {
  .FileInputRequestWrp{
    padding-top: 16px;
    margin-bottom: 30px;
  }
  .FileInputRequestWrp .Icon{
    transform: translate(-2px, 5px);
  }
  .FileInputRequestWrp, .FileInputRequestWrp input{
    height: 100px;
  }
  .FileInputRequestWrp .Sentence{
    margin-top: 0;
  }
  .FileInputRequestWrp .Sentence > span:nth-child(2){
    display: none;
  }
}

@media screen and (max-width: 413px){
  .FileInputRequestWrp, .SertificatePhoto{
    padding-top: 5px;
    margin-bottom: 20px;
  }
  .FileInputRequestWrp, .FileInputRequestWrp input, .SertificatePhoto, .SertificatePhoto input{
    height: 80px;
  }
}

@media screen and (max-width: 359px){
  .FileInputRequestWrp, .PhotoAddress, .SertificatePhoto{
    padding-top: 9px;
    margin-bottom: 20px;
  }
  .SertificatePhoto{
    margin-top: 3px;
    padding-top: 4px;
  }
  .PhotoAddress, .SertificatePhoto, .FileInputRequestWrp, .FileInputRequestWrp input{
    height: 80px;
  }
  .FileInputRequestWrp .Sentence, .PhotoAddress .Sentence, .SertificatePhoto .Sentence{
    font-size: 12px;
    margin-top: -5px;
  }
  .FileInputRequestWrp .Sentence{
    margin-top: -4px;
    transform: translateX(-2px);
  }
  .SertificatePhoto .Sentence{
    padding-left: 4px;
  }
}

@media screen and (min-width: 1900px){
  .SertificatePhoto .Icon, .FileInputRequestWrp .Icon, .PhotoAddress .Icon{
    transform: translate(-2px, -6px);
  }
  .SertificatePhoto .Icon svg, .FileInputRequestWrp .Icon svg, .PhotoAddress .Icon svg{
    width: 65px !important;
    height: 44px !important;
  }
  .SertificatePhoto .Sentence, .FileInputRequestWrp .Sentence, .PhotoAddress .Sentence{
    margin-top: -2px;
  }
}
