.NavigationItem{
  font-size: 14px;
  font-weight: 700;
  color: #41424e;
  display: inline-block;
  list-style: none;
  margin-right: 63px;
}
.NavigationItem:hover{
  color: #922c88;
}
.NavigationItem > a{
  text-decoration: none;
  color: inherit;
}
.active{
  color: #922c88 !important;
}

@media screen and (min-width: 1501px) and (max-width: 1590px){
  .NavigationItem{
    margin-right: 50px
  }
  .NavigationItem:last-child{
    margin-right: 15px;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1500px){
  .NavigationItem{
    margin-right: 3vw;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px){
  .NavigationItem{
    margin-right: 2vw;
  }
}

@media screen and (max-width: 1023px){
  .NavigationItem{
    display: block;
    font-size: 14;
    color: #fff;
    font-weight: 700;
    height: 51px;
    padding-left: 32px;
  }
  .NavigationItem:hover{
    background-color: #6e2572;
    box-shadow: 0 4px 10px 0 #e1e1e1;
  }
}
