.NavigationItem{
  font-size: 14px;
  font-weight: 700;
  color: #41424e;
  margin-right: 20px;
  display: inline-block;
  list-style: none;
  margin-right: 63px;
}
.NavigationItem:hover{
  color: #922c88;
}
.NavigationItem > a{
  text-decoration: none;
  color: inherit;
}
.active{
  color: #922c88 !important;
}
