.SendRequestWrp{
  background-color: #f8f8f8;
  text-align: center;
  padding-top: 60px;
}
.SendRequestWrp .Title{
  font-family: SegoeUI-Bold;
  margin: 0 0 56px;
  color: #922c88;
  font-size: 30px;
  font-weight: 700;
}
.RequestContainer{
  box-sizing: border-box;
  padding: 77px 180px 57px 180px;
  background-color: #fff;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0 4px 18px 0 rgba(48, 8, 69, 0.07);
  width: 840px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .SendRequestWrp{
    padding-top: 46px;
  }
  .RequestContainer{
    margin-bottom: 43px;
    width: 644px;
    padding: 56px 99px 47px 65px;
  }
  .SendRequestWrp .Title{
    margin-bottom: 21px;
  }
}

@media screen and (max-width: 767px) {
  .SendRequestWrp{
    padding: 30px 20px;
  }
  .SendRequestWrp .Title{
    font-size: 24px;
    margin-bottom: 20px;
  }
  .RequestContainer{
    width: 100%;
    padding: 40px 20px 31px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 413px){
  .SendRequestWrp{
    padding: 40px 20px;
  }
}

@media screen and (max-width: 359px){
  .SendRequestWrp{
    padding: 37px 20px 41px;
  }
  .SendRequestWrp .Title{
    font-size: 18px;
    margin-bottom: 23px;
  }
  .RequestContainer{
    padding: 30px 20px 21px;
  }
}

@media screen and (min-height: 888px){
  main{
    background-color: #f8f8f8;
    min-height: 85%;
  }
}
