.Button{
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  background-color: transparent;
  padding: 0;
}
.BackToPrevious{
  width: 160px;
  height: 40px;
  background-image: linear-gradient(-110deg, #e02a82 0%, #54236e 100%);
  color: #fff;
  font-family: SegoeUI-Bold;
  font-size: 14px;
  font-weight: 700;
  border-radius: 20px;
}
.ConfirmDisableSMSAuth{
  top: 32px;
}
.ConfirmSMSAuth, .ConfirmDisableSMSAuth{
  font-family: SegoeUI-Bold;
  width: 202px;
  height: 42px;
  color: #922c88;
  font-weight: 700;
  font-size: 14px;
  border-radius: 20px;
  box-shadow: 0 4px 18px 0 #dedede;
  position: relative;
  overflow: hidden;
}
.ConfirmGoogleAuth{
  width: 242px;
  border-radius: 24px;
  height: 50px;
}
.ConfirmDisableSMSAuth{
  color: #fff;
  box-shadow: none;
  background-image: linear-gradient(-110deg, #e33a8c 0%, #54236e 100%);
}
.ConfirmSMSAuth{
  top: -12px;
}
.ConfirmSMSAuth:hover{
  color: #fff;
  background-image: linear-gradient(-110deg, #e33a8c 0%, #54236e 100%);
}
.SendSMSAuth{
  top: -2px;
  font-family: SegoeUI-Bold;
  width: 202px;
  height: 42px;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 50px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  padding: 1px 6px;
}
.SendSMSAuth::after{
  content: '';
  display: block;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity .5s;
  background-image: linear-gradient(-110deg, #54236e 0%, #e02a82 100%);
  opacity: 0;
}
.SendSMSAuth::before{
    content: '';
    display: block;
    background-image: linear-gradient(-110deg, #e02a82 0%, #54236e 100%);
    box-sizing: border-box;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .5s;
}
.SendSMSAuth > a{
  color: inherit;
  text-decoration: none;
  position: relative;
  z-index: 2;
  display: block;
}
.PhoneNumberAuthentDropdownButton{
  width: 100%;
  border-radius: 20px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  height: 42px;
  box-sizing: border-box;
}
.PhoneNumberAuthentDropdownButton:hover{
  border-color: #d092c9;
}
.CloseModalButton{
  width: 16px;
  height: 16px;
  position: absolute;
  top: 30px;
  right: 30px;
  fill: #a7aaad;
  cursor: pointer;
  z-index: 1;
}
.CloseModalButton svg{
  width: 100%;
  height: 100%;
}
.WelcomeButton{
  font-family: SegoeUI-Bold;
  width: 240px;
  height: 48px;
  border-radius: 24px;
  background-image: linear-gradient(-110deg, #e33a8c 0%, #54236e 100%);
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.WelcomeButton::before{
  content: attr(before-content);
  display: block;
  box-sizing: border-box;
  padding-top: 15px;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .5s;
  opacity: 0;
  background: linear-gradient(90deg, #e12b82, #53236d);
}
.WelcomeButton:hover::before{
  opacity: 1;
}
.BuyTab, .SellTab{
  width: 50%;
  border-radius: 8px 8px 0 0;
  padding:  30px 4px 32px 0;
  background-color: #f3ecf3;
  color: #922c88;
  font-weight: 700;
  font-size: 18px;
}
.BuyTab:hover, .SellTab:hover{
  background-color: #ebd8e9;
}
.BuyTabActive, .SellTabActive{
  background-color: #fff;
}
.BuyTabActive:hover, .SellTabActive:hover{
  background-color: #fff;
}
.BtnCoin{
  width: 100%;
  height: 40px;
  padding: 0 0 8px 19px;
  background-color: transparent;
  border-radius: 25px;
  text-align: left;
  color: #555;
  box-shadow: 0 5px 10px 0 #eee;
  border: 2px solid transparent;
  font-size: 16px;
  position: relative;
}
.BtnCoin > img{
  height: 24px;
  transform: translateY(5px);
}
.BtnCoin span{
  padding-left: 6px;
}
.BtnCoin:hover, .BtnCoin.Checked{
  border-color: #922c88;
  box-shadow: 0 4px 13px rgba(180, 27, 165, 0.2);
}
.BtnCoin.Checked > div{
  display: block;
}
.SwitchBtn{
  width: 25px;
  height: 25px;
  margin: 0 10px;
}
.SwitchBtn > img{
  width: 100%;
}
.BuyBtn, .SubmitRequestBtn{
  font-family: SegoeUI-Bold;
  background: linear-gradient(90deg, #53236d, #e12b82);
  width: 240px;
  padding: 15px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}
.BuyBtn::before, .SubmitRequestBtn::before, .LoginButton::before{
  content: attr(before-content);
  font-family: SegoeUI-Bold;
  display: block;
  box-sizing: border-box;
  padding-top: 15px;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .5s;
  opacity: 0;
  background: linear-gradient(90deg, #e12b82, #53236d);
}
.LoginButton::before{
  padding-top: 10px;
}
.BuyBtn:hover::before, .SubmitRequestBtn:hover::before, .LoginButton:hover::before{
  opacity: 1;
}
.DropdownButtonPeriod > div{
  display: inline-block;
}
.DropdownButtonPeriod > div:first-child{
  margin-right: 7px;
}
.DropdownButtonPeriod > div:nth-child(2){
  width: 8px;
  transform: rotate(90deg) translate(7px, -8px);
  height: 5px;
}
.DropdownButtonPeriod, .BtnPeriod{
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.09);
  text-transform: capitalize;
  text-align: center;
  font-size: 12px;
  background-color: #fff;
  height: 24px;
  width: 120px;
  border-radius: 25px;
}
.BtnPeriod{
  margin-right: 10px;
}
.DropdownButtonPeriod:hover,
.BtnPeriod:hover{
  box-shadow: 0 4px 21px rgba(57, 44, 114, 0.49);
}
.DropdownButtonPeriodChecked, .BtnPeriodChecked{
  background-color: #402d71;
  color: #fff;
}
.DropdownButtonPeriodChecked{
  fill: #fff;
}
.DropdownButtonUser{
  font-family: SegoeUI-Bold;
  background-color: #fff;
  font-size: 14px;
  font-weight: 700;
  color: #922c88;
  height: 35px;
  padding-left: 22px;
  padding-right: 20px;
  border-radius: 25px;
  display: block;
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0 4px 10px 0 #e1e1e1;
  text-align: left;
}
.DropdownButtonUser:hover, .DropdownButtonLang:hover{
  border-color: #d092c9;
}
.DropdownButtonLang{
  height: 35px;
  font-size: 14px;
  background-color: #fff;
  font-weight: 400;
  color: #922c88;
  border-radius: 25px;
  display: block;
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0 4px 10px 0 #e1e1e1;
}
.DropdownButtonLang span:nth-child(2){
  color: #41424e;
  font-size: 14px;
  display: inline-block;
  transform: translateY(-3px);
}
.DepositBtn{
  color: #582871;
  margin-right: 15px;
  margin-bottom: 10px;
  box-shadow: 0 4px 13px rgba(124, 17, 180, 0.2);
}
.DepositBtn:hover{
  background-color: #582871;
  color: #fff;
}
.WithdrawBtn:hover{
  background-color: #922c88;
  color: #fff;
}
.WithdrawBtn{
  color: #99398f;
  box-shadow: 0 4px 13px rgba(180, 27, 165, 0.2);
}
.DepositBtn, .WithdrawBtn{
  font-family: SegoeUI-Bold;
  font-size: 14px;
  font-weight: 700;
  background-color: #fff;
  border-radius: 25px;
  width: 160px;
  height: 40px;
}
.DropdownButtonCurrency{
  font-family: SegoeUI-Bold;
  border: 1px solid #d192c7;
  border-radius: 25px;
  position: relative;
  z-index: 1;
  background-color: #fff;
}
.DropdownButtonCurrency:hover::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1px;
  left: -1px;
  border-radius: 25px;
  border: 2px solid #d192c7;
  transform: translate(-1px, -1px);
}
.BankVerification, .UserDetailsVerification{
  font-family: SegoeUI-Bold;
  width: 240px;
  height: 48px;
  border-radius: 24px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  overflow: hidden;
}
.BankVerification > div, .UserDetailsVerification > div,
.AddressVerification > div{
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.BankVerification > div > a, .UserDetailsVerification > div > a,
.AddressVerification > div > a{
  color: inherit;
  text-decoration: none;
  width: 100%;
}
.BankVerification::before, .UserDetailsVerification::before,
.AddressVerification::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-110deg, #e02a82 0%, #54236e 100%);
  transition: opacity .5s;
  opacity: 1;
}
.BankVerification::after, .UserDetailsVerification::after,
.AddressVerification::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-110deg, #54236e 0%, #e02a82 100%);
  transition: opacity .5s;
  opacity: 0;
}
.BankVerification:hover::after, .UserDetailsVerification:hover::after,
.AddressVerification:hover::after{
  opacity: 1;
}
.BankVerification.BankVerificationFirst::after,
.BankVerification.BankVerificationFirst::before,
.AddressVerification.AddressVerification2::after,
.AddressVerification.AddressVerification2::before{
  display: none;
}
.BankVerification.BankVerificationFirst{
  background-color: #fff;
  color: #922c88;
  box-shadow: 0 4px 10px rgba(180, 27, 165, 0.2);
}
.AddressVerification{
  font-family: SegoeUI-Bold;
  cursor: pointer;
  text-align: center;
  position: relative;
  width: 240px;
  height: 48px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 700;
  border-radius: 24px;
  font-size: 14px;
  background-image: linear-gradient(-110deg, #e02a82 0%, #54236e 100%);
  overflow: hidden;
}
.AddressVerification.AddressVerification2{
  background: transparent;
  color: #922c88;
  box-shadow: 0 4px 18px rgba(48, 8, 69, 0.07);
}
.BirthMonthDrpDwnButton, .BirthDayDrpDwnButton, .BirthYearDrpDwnButton{
  font-family: SegoeUI-Bold;
  height: 42px;
  width: 100%;
  position: relative;
  z-index: 5;
  text-align: left;
  padding-left: 21px;
  border: 1px solid #e8e8e8;
  border-radius: 20px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 700;
  box-sizing: border-box;
}
.BirthMonthDrpDwnButton > span, .BirthDayDrpDwnButton > span, .BirthYearDrpDwnButton > span{
  right: 22px;
  top: 13px;
}
.BirthMonthDrpDwnButton::before,
.BirthDayDrpDwnButton::before,
.BirthYearDrpDwnButton::before{
  content: '';
  position: absolute;
  width: calc(100% - 1px);;
  top: -1px;
  left: -1px;
  height: calc(100% - 1px);
  border: 2px solid #d092c9;
  opacity: 0;
  border-radius: 20px;
}
.BirthMonthDrpDwnButton:hover::before,
.BirthDayDrpDwnButton:hover::before,
.BirthYearDrpDwnButton:hover::before{
  opacity: 1;
}
.LoginButton{
  position: relative;
  overflow: hidden;
  color: #fff;
  font-family: SegoeUI-Bold;
  font-size: 14px;
  font-weight: 700;
  background-image: linear-gradient(-110deg, #e33a8c 0%, #54236e 100%);
  border-radius: 20px;
  width: 160px;
  height: 40px;
}
.LoginButton:hover > div{
  opacity: 1;
}

@media screen and (min-width: 1921px){
  .LoginButton{
    width: 220px;
    height: 54px;
    border-radius: 35px;
    align-self: center;
    font-size: 0.85vw;
    vertical-align: middle;
    text-align: center;
  }
  .LoginButton::before{
    display: none;
  }
}
@media screen and (min-width: 2600px){
  .LoginButton{
    width: 300px;
    height: 64px;
  }
}

@media screen and (min-width: 1900px){
  .WelcomeButton{
    top: -41px;
  }
  .DropdownButtonUser{
    padding-left: 18px;
    padding-right: 22px;
  }
  .BtnPeriod:nth-child(3){
    margin-right: 8px;
  }
  .SwitchBtn{
    width: 20px;
    height: 25px;
    margin: 0 10px;
  }
  .SwitchBtn > img{
    transform: translate(2px, 7px);
  }
  .DepositBtn{
    margin-right: 13px;
  }
  .WithdrawBtn{
    transform: translate(4px, 0);
  }
}

@media screen and (max-width: 1899px){
  .SwitchBtn > img{
    transform: translate(1px, 8px);
  }
  .BuyTab{
    padding: 29px 0px 32px 8px;
  }
  .SellTab{
    padding: 29px 0px 32px 26px;
  }
  .DropdownButtonPeriod > div:first-child{
    margin-right: 12px;
  }
  .DropdownButtonPeriod > div:nth-child(2){
    transform: rotate(90deg) translate(7px, -2px);
  }
  .BtnPeriod{
    margin-right: 4px;
  }
  .BtnPeriod:nth-child(3){
    transform: translateX(-4px);
  }
  .DepositBtn{
    transform: translateY(-2px);
  }
  .WithdrawBtn{
    transform: translateY(-4px);
  }
}

@media screen and (max-width: 1850px){
  .ConfirmDisableSMSAuth{
    width: 242px;
  }
}

@media screen and (max-width: 1365px){
  .CloseModalButton{
    top: 28px;
    right: 33px;
  }
  .SwitchBtn > img{
    transform: translate(1px, 6px);
  }
  .DropdownButtonUser{
    padding-left: 19px;
  }
  .DropdownButtonUser > span{
    transform: rotate(-90deg) translateX(2px);
  }
  .DropdownButtonLang > div{
    padding: 0 0 1px 16px;
  }
  .DropdownButtonLang > div > span:last-child{
    transform: rotate(-90deg) translate(4px, -3px);
  }
  .LoginButton{
    left: -1px;
    width: 163px;
  }
}

@media screen and (max-width: 1023px){
  .DropdownButtonLang span:nth-child(2){
    transform: translateY(-4px);
  }
  .DropdownButtonPeriod > div:first-child{
    margin-right: 14px;
    transform: translateX(3px);
  }
  .DepositBtn, .WithdrawBtn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .WithdrawBtn:hover{
    background-color: #922c88;
  }
  .WithdrawBtn:hover svg, .DepositBtn:hover svg{
    fill: #fff;
  }
  .DepositBtn:hover{
    background-color: #582871;
  }
  .DepositBtn{
    margin-right: 19px;
    margin-left: 20px;
  }
  .ConfirmDisableGoogleAuth{
    width: 200px;
    height: 40px;
    top: 38px;
  }
}

@media screen and (max-width: 767px){
  .ConfirmDisableGoogleAuth{
    top: 21px;
  }
  .SubmitRequestBtn{
    width: 182px;
  }
  .BuyBtn{
    width: 150px;
  }
  .BtnPeriod:nth-child(3){
    transform: translateX(-1px);
  }
  .BackToPrevious{
    width: 140px;
  }
  .ConfirmDisableSMSAuth{
    width: 143px;
    height: 43px;
  }
  .WelcomeButton{
    width: 150px;
  }
  .CloseModalButton{
    display: none;
  }
  .LoginButton{
    width: 140px;
  }
  .DepositBtn{
    margin-left: 0;
  }
  .BuyTab, .SellTab{
    font-family: SegoeUI-Bold;
    font-size: 16px;
    padding: 19px 0 25px;
  }
  .SwitchBtn > img{
    transform: translate(-1px, 8px);
  }
  .BtnCoin{
    font-size: 14px;
  }
  .DropdownButtonPeriod, .BtnPeriod{
    width: 80px;
    height: 24px;
    padding: 0;
    margin-right: 18px;
  }
  .BtnPeriod:last-child{
    margin-right: 0;
  }
  .BirthMonthDrpDwnButton, .BirthDayDrpDwnButton, .BirthYearDrpDwnButton{
    height: 40px;
    font-size: 12px;
    padding-left: 19px;
  }
  .UserDetailsVerification{
    width: 180px;
  }
}

@media screen and (max-width: 413px){
  .BackToPrevious{
    width: 100px;
  }
  .ConfirmDisableSMSAuth{
    width: 103px;
  }
  .ConfirmDisableGoogleAuth{
    width: 143px;
    top: 30px;
  }
  .CloseModalButton{
    display: block;
    top: 20px;
    right: 20px;
  }
  .CloseModalButton svg{
    top: 20px;
    right: 20px;
  }
  .WelcomeButton{
    width: 140px;
    top: -6px;
    height: 40px;
  }
  .BuyTab, .SellTab{
    font-size: 16px;
    padding: 14px 0 20px;
  }
  .BtnCoin{
    font-size: 14px;
  }
  .BuyBtn{
    font-family: SegoeUI-Bold;
    width: 140px;
    height: 40px;
    padding: 0;
  }
  .DropdownButtonPeriod, .BtnPeriod{
    width: 70px;
    height: 24px;
    padding: 0;
    margin-right: 13px;
  }
}

@media screen and (max-width: 359px){
  .SendSMSAuth{
    margin-bottom: 40px;
  }
  .DepositBtn{
    margin-right: 10px;
  }
  .BuyTab, .SellTab{
    font-size: 14px;
    padding: 16px 0 20px;
  }
  .BtnCoin img{
    width: 24px;
    height: 24px;
  }
  .BtnCoin span{
    padding-left: 6px;
  }
  .DropdownButtonPeriod, .BtnPeriod{
    width: 60px;
    font-size: 10px;
  }
  .DropdownButtonPeriod > div:first-child{
    transform: translate(2px, -1px);
  }
  .DropdownButtonPeriod > div:nth-child(2){
    transform: rotate(90deg) translate(4px, -2px);
  }
  .BtnPeriod:nth-child(3){
    transform: translateX(1px);
  }
  .WelcomeButton{
    top: -8px;
  }
  .ConfirmDisableGoogleAuth{
    top: 23px;
  }
}
