.Button{
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  background-color: transparent;
  padding: 0;
}
.BuyTab, .SellTab{
  width: 50%;
  border-radius: 8px 8px 0 0;
  padding:  38px 0 32px;
  background-color: #f3ecf3;
  color: #922c88;
  font-weight: 700;
  font-size: 18px;
}
.BuyTabActive, .SellTabActive{
  background-color: #fff;
}
.BtnCoin{
  width: 100%;
  padding: 2px 0 8px;
  background-color: transparent;
  border-radius: 25px;
  color: #555;
  box-shadow: 0 5px 10px 0 #eee;
  border: 2px solid transparent;
  font-size: 16px;
  position: relative;
}
.BtnCoin > img{
  height: 25px;
  transform: translateY(5px);
}
.BtnCoin span{
  padding-left: 10px;
}
.BtnCoin:hover, .BtnCoin.Checked{
  border-color: #922c88;
}
.BtnCoin.Checked > div{
  display: block;
}
.SwitchBtn{
  width: 25px;
  height: 25px;
  margin: 0 10px;
}
.SwitchBtn > img{
  width: 100%;
}
.BuyBtn, .SubmitRequestBtn{
  background: linear-gradient(90deg, #53236d, #e12b82);
  width: 240px;
  padding: 15px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}
.BuyBtn::before, .SubmitRequestBtn::before{
  content: attr(before-content);
  display: block;
  box-sizing: border-box;
  padding-top: 15px;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .5s;
  opacity: 0;
  background: linear-gradient(90deg, #e12b82, #53236d);
}
.BuyBtn:hover::before, .SubmitRequestBtn:hover::before{
  opacity: 1;
}
.DropdownButtonPeriod, .BtnPeriod{
  text-transform: capitalize;
  text-align: center;
  padding: 8px 0 7px;
  font-size: 12px;
  background-color: #fff;
  width: 123px;
  border-radius: 25px;
}
.BtnPeriod{
  margin-right: 10px;
}
.DropdownButtonPeriod:hover,
.BtnPeriod:hover, .DropdownButtonPeriodChecked, .BtnPeriodChecked{
  background-color: #402d71;
  color: #fff;
}
.DropdownButtonUser{
  background-color: #fff;
  font-size: 14px;
  font-weight: 700;
  color: #922c88;
  height: 35px;
  padding-left: 22px;
  padding-right: 20px;
  border-radius: 25px;
  display: block;
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0 4px 10px 0 #e1e1e1;
  text-align: left;
}
.DropdownButtonUser:hover{
  border-color: #d092c9;
}
.DropdownButtonLang{
  height: 35px;
  font-size: 14px;
  background-color: #fff;
  font-weight: 400;
  color: #922c88;
  border-radius: 25px;
  display: block;
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0 4px 10px 0 #e1e1e1;
}
.DropdownButtonLang span:nth-child(2){
  color: #41424e;
  font-size: 14px;
  display: inline-block;
  transform: translateY(-3px);
}
.DepositBtn{
  color: #582871;
  margin-right: 15px;
  margin-bottom: 10px;
}
.DepositBtn:hover{
  background-color: #582871;
  color: #fff;
}
.WithdrawBtn:hover{
  background-color: #922c88;
  color: #fff;
}
.WithdrawBtn{
  color: #99398f;
}
.DepositBtn, .WithdrawBtn{
  font-size: 14px;
  font-weight: 700;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 4px 13px #eee;
  width: 160px;
  height: 40px;
}
.DropdownButtonCurrency{
  border: 1px solid #d192c7;
  border-radius: 25px;
  position: relative;
  z-index: 1;
  background-color: #fff;
}
.DropdownButtonCurrency:hover::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1px;
  left: -1px;
  border-radius: 25px;
  border: 2px solid #d192c7;
  transform: translate(-1px, -1px);
}
.BankVerification, .UserDetailsVerification{
  width: 240px;
  height: 48px;
  border-radius: 24px;
  background-image: linear-gradient(-110deg, #e02a82 0%, #54236e 100%);
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.AddressVerification{
  cursor: pointer;
  text-align: center;
  width: 200px;
  height: 40px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 700;
  border-radius: 20px;
  background-image: linear-gradient(-110deg, #e02a82 0%, #54236e 100%);
  overflow: hidden;
}
.BirthMonthDrpDwnButton, .BirthDayDrpDwnButton, .BirthYearDrpDwnButton{
  height: 43px;
  width: 100%;
  position: relative;
  z-index: 1;
  text-align: left;
  padding-left: 21px;
  border: 1px solid #e8e8e8;
  border-radius: 20px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 700;
  box-sizing: border-box;
}
.BirthMonthDrpDwnButton::before,
.BirthDayDrpDwnButton::before,
.BirthYearDrpDwnButton::before{
  content: '';
  position: absolute;
  width: calc(100% - 1px);;
  top: -1px;
  left: -1px;
  height: calc(100% - 1px);
  border: 2px solid #d092c9;
  opacity: 0;
  border-radius: 20px;
}
.BirthMonthDrpDwnButton:hover::before,
.BirthDayDrpDwnButton:hover::before,
.BirthYearDrpDwnButton:hover::before{
  opacity: 1;
}
