.WithdrawWrp{
  background-color: #f8f8f8;
  padding: 60px 160px 60px 160px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.WithdrawWrp tbody tr{
  cursor: pointer;
}
.TableWrp{
  display: inline-block;
  box-shadow: 0 4px 18px 0 #dedede;
  border-radius: 6px;
  width: 760px;
  padding: 23px 61px 18px 55px;
  background-color: #fff;
  box-sizing: border-box;
}
.TableWrp table{
  width: 100%;
}
.TableWrp table tbody{
  height: auto;
}
.TableWrp table thead{
  padding-right: 0;
}
.TableWrp table thead th:last-child{
  text-align: left;
}
.TableWrp table tbody tr:hover{
  background-color: #f1dded;
}
.TableWrp tbody td:first-child{
  width: 135px;
  padding: 0;
}
.TableWrp tbody td:nth-child(2){
  width: 88px;
  padding: 0;
}
.TableWrp tbody td:nth-child(3){
  width: 197px;
  padding: 0;
}
.TableWrp tbody td:nth-child(4){
  padding: 0;
  width: 197px;
}
.TableWrp table tbody td,
.TableWrp table tbody td:first-child{
  font-size: 16px;
}
.TableWrp table tr td:nth-last-child(2){
  font-size: 14px;
}

@media screen and (min-width: 1900px){
  .TableWrp table tbody tr{
    margin-bottom: 11px;
  }
  .TableWrp table tbody{
    padding-top: 18px;
  }
  .WithdrawWrp{
    padding-right: 0;
    padding-left: 13px;
    width: 1598px;
  }
}

@media screen and (max-width: 1890px){
  .WithdrawWrp{
    padding: 60px 0;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1650px){
  .WithdrawWrp{
    justify-content: space-around;
    padding: 50px 0 80px;
  }
  .TableWrp{
    width: 566px;
    padding-bottom: 26px;
  }
  .TableWrp tbody td:first-child{
    width: 120px;
  }
  .TableWrp tbody td:nth-child(2){
    width: 70px;
  }
  .TableWrp tbody td:nth-child(3){
    width: 129px;
  }
  .TableWrp tbody td:nth-child(4){
    width: 77px;
  }
}

@media screen and (max-width: 1366px){
  .WithdrawWrp{
    padding: 50px 40px 80px 40px;
  }
  .TableWrp{
    width: 566px;
    padding-bottom: 26px;
  }
  .TableWrp tbody td:first-child{
    width: 120px;
  }
  .TableWrp tbody td:nth-child(2){
    width: 70px;
  }
  .TableWrp tbody td:nth-child(3){
    width: 129px;
  }
  .TableWrp tbody td:nth-child(4){
    width: 77px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px){
  .WithdrawWrp{
    padding: 40px 0 60px;
    flex-direction: column;
  }
  .TableWrp{
    align-self: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .WithdrawWrp{
    padding: 30px 44px 40px;
    flex-direction: column;
  }
  .TableWrp{
    align-self: center;
  }
}

@media screen and (max-width: 767px){
  .WithdrawWrp{
    padding: 30px 20px;
    flex-direction: column;
  }
  .TableWrp{
    display: block;
    width: 374px;
    align-self: center;
    padding: 30px 20px 24px;
  }
  .TableWrp table thead th:last-child{
    font-size: 12px;
    padding-bottom: 24px !important;
  }
  .TableWrp table tbody{
    padding-top: 21px;
    font-size: 14px;
  }
  .TableWrp table tbody td:first-child{
    width: 85px;
  }
  .TableWrp table tbody td:nth-child(2){
    width: 54px;
  }
  .TableWrp table tbody td:nth-child(3){
    width: 88px;
  }
  .TableWrp table tbody td:nth-child(4){
    width: 80px;
  }
  .TableWrp table tbody td:last-child{
    transform: translate(-16px, 0);
  }
}

@media screen and (max-width: 413px){
  .WithdrawWrp{
    padding: 40px 20px;
  }
  .TableWrp{
    padding: 30px 20px;
    width: 100%;
    height: auto;
  }
  .TableWrp table tbody td, .TableWrp table tbody td:nth-last-child(2){
    font-size: 12px;
  }
  .TableWrp table tbody td:first-child{
    width: 68px;
    font-size: 12px;
  }
  .TableWrp table tbody td:nth-child(2){
    width: 42px;
  }
  .TableWrp table tbody td:nth-child(3){
    width: 76px;
  }
  .TableWrp table tbody td:nth-child(4){
    width: 66px;
  }
  .TableWrp table tbody td:last-child{
    transform: translate(-15px, 4px);
  }
}

@media screen and (max-width: 359px){
  .TableWrp{
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
}

@media screen and (min-height: 1192px) and (min-width: 2200px){
  .WithdrawWrp{
    height: 85vh;
  }
}
