.Icon{
  display: inline-block;
  margin-right: 14px;
}
.Icon svg{
  width: 24px;
  height: 24px;
}
.UserName{
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  vertical-align: top;
  line-height: 1.8;
}
.UserName a{
  color: inherit;
  position: relative;
  top: -5px;
  text-decoration: none;
}
