.SideBarNavWrp{
  width: 380px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}
.FAQNavBtn{
  font-family: SegoeUI-Bold;
  outline: none;
  height: 80px;
  padding: 30px 0 34px 40px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
  text-transform: uppercase;
  box-shadow: 0 4px 10px 0 #e1e1e1;
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;
  position: relative;
}
.FAQNavBtn.Active, .FAQNavBtn.Inactive:hover{
  color: #fefeff;
  background-color: #922c88;
}
.FAQNavBtn.Inactive{
  background-color: #fff;
  color: #41424e;
}
.VerificationNavBtn{
  outline: none;
  width: 380px;
  margin-bottom: 8px;
  box-shadow: 0 4px 18px rgba(48, 8, 69, 0.07);
  border: 2px solid transparent;
  border-radius: 3px;
  height: 96px;
  box-sizing: border-box;
  padding: 26px 0 0 40px;
  cursor: pointer;
  background-color: #fff;
}
.VerificationNavBtn:hover, .VerificationNavBtn.Active{
  border-color: #d092c9;
  box-shadow: 0 4px 35px 0 rgba(87, 7, 79, 0.26);
}
.MobileContent{
  transition: all .6s;
  max-height: 0;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: none;
  box-shadow: 0 4px 18px 0 rgba(48, 8, 69, 0.07);
}
.MobileContent > div{
  width: 100%;
  box-shadow: none;
}

@media screen and (min-width: 1900px){
  .SideBarNavWrp .VerificationNavBtn{
    padding-left: 37px;
  }
}

@media screen and (max-width: 1899px){
  .SideBarNavWrp .VerificationNavBtn{
    padding-left: 37px;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1400px){
  .SideBarNavWrp{
    float: left;
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px){
  .SideBarNavWrp{
    width: 300px;
  }
  .VerificationNavBtn{
    width: 280px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .FAQNavBtn{
    width: 260px;
    padding: 29px 0 34px 29px;
  }
  .SideBarNavWrp .VerificationNavBtn{
    width: 220px;
    padding-left: 27px;
  }
}

@media screen and (max-width: 767px){
  .SideBarNavWrp .VerificationNavBtn{
    width: 120px;
    margin: 0 7px 0 0;
    padding: 12px 0 0 7px;
    height: 60px;
  }
  .FAQNavBtn{
    margin-bottom: 5px;
    height: 60px;
    font-size: 14px;
    padding-top: 20px;
    padding-left: 19px;
    position: relative;
  }
  .FAQNavBtn::before{
    content: '';
    width: 12px;
    height: 17px;
    position: absolute;
    top: 20px;
    right: 23px;
    transform: rotate(90deg);
  }
  .FAQNavBtn.Active::before{
    background: url('../../../assets/images/icons/next.svg') no-repeat;
    transform: rotate(270deg) translateY(5px);
  }
  .FAQNavBtn.Inactive::before{
    background: url('../../../assets/images/icons/next-inactive.svg') no-repeat;
  }
  .MobileContent{
    display: block;
  }
  .FAQNavBtn.Active + .MobileContent{
    max-height: 550px;
    margin-bottom: 5px;
  }
  .MobileContent, .MobileContent > div{
    display: block;
    width: 100%;
  }
  .MobileContent > div{
    padding: 15px 28px 55px 16px;
  }
}

@media screen and (max-width: 413px){
  .SideBarNavWrp .VerificationNavBtn{
    width: 100px;
    height: 51px;
    padding: 9px 0 0 2px;
    margin-right: 10px;
  }
  .SideBarNavWrp .VerificationNavBtn:last-child{
    margin-right: 0;
  }
  .SideBarNavWrp .VerificationNavBtn:first-child > div:first-child > div:first-child,
  .SideBarNavWrp .VerificationNavBtn:nth-child(2) > div:first-child > div:first-child,
  .SideBarNavWrp .VerificationNavBtn:nth-child(3) > div:first-child > div:first-child{
    transform: translate(1px, -1px);
  }
  .SideBarNavWrp .VerificationNavBtn:nth-child(2) > div:first-child > div:first-child{
    margin-right: 6px;
  }
  .SideBarNavWrp .VerificationNavBtn:nth-child(3) > div:first-child > div:first-child,
  .SideBarNavWrp .VerificationNavBtn:first-child > div:first-child > div:first-child{
    margin-right: 5px;
  }
  .SideBarNavWrp .VerificationNavBtn:first-child > div > div:last-child svg{
    margin-left: 23px !important;
  }
  .SideBarNavWrp{
    width: auto;
  }
  .MobileContent > div{
    padding-bottom: 35px;
  }
}

@media screen and (max-width: 359px){
  .VerificationNavBtn{
    height: 70px;
    width: 90px;
    padding: 4px 0 0 10px;
  }
}
