.BalancesWrp{
  padding: 39px 0 146px 0;
  text-align: center;
  background-color: #f8f8f8;
}
.BalancesHead{
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  width: 100%;
  box-sizing: border-box;
}
.BalancesHead h2{
  font-family: SegoeUI-Bold;
  font-size: 24px;
  font-weight: 700;
  color: #582871;
  text-transform: uppercase;
  margin: 0;
}
.LimitsWrp{
  align-self: flex-end;
}
.LimitsWrp .Limit, .LimitsWrp .InUse{
  display: inline-block;
}
.LimitsWrp .Limit{
  padding-right: 60px;
}
.LimitsWrp .Limit span:first-child,
.LimitsWrp .InUse span:first-child{
  font-weight: 700;
  font-family: SegoeUI-Bold;
}
.BalancesContainer{
  width: 1240px;
  display: inline-block;
}
.BalanceRow::after{
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: ".";
  font-size: 0;
}
.Balances{
  box-shadow: 0 4px 18px 0 rgba(48, 8, 69, 0.07);
  height: 620px;
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  padding: 30px 74px 65px 84px;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
}
.Balances .Head{
  padding-bottom: 30px;
  margin-bottom: 37px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  color: #922c88;
}
.BalanceCurrencyWrp{
  display: inline-block;
  font-size: 14px;
}
.FiatWrp{
  display: none;
}
.Balances .Head .Currency,
.Balances .Head .Balance,
.Balances .Head .Type{
  font-family: SegoeUI-Bold;
}
.Balances .Head .Currency,
.Balances .Head .Balance,
.Balances .Head .Type,
.CurrencyTitle, .BalanceValueWrp,
.FiatValue{
  display: inline-block;
}
.CurrencyTitle .BalanceCurrencyWrp{
  font-weight: 700;
  font-family: SegoeUI-Bold;
  font-size: 16px;
}
.CurrencyTitle img{
  width: 24px;
  height: 24px;
  margin-right: 27px;
  transform: translateY(5px);
}
.Balances .Head .Currency, .CurrencyTitle{
  width: 32.4%;
}
.Balances .Head .Balance, .BalanceValueWrp{
  width: 18.5%;
}
.FiatValue{
  width: 18.4%;
}
.DepositWithdrawBtnsWrp{
  display: inline-block;
  float: right;
}
.DepositIconWrp svg{
  transform: translateY(2px);
  width: 17px;
  height: 17px;
  fill: #582871;
}
.WithdrawIconWrp svg{
  width: 20px;
  height: 16px;
  transform: translateY(3px);
  fill: #922c88;
}
.FiatValue .FiatTitle{
  font-size: 12px;
  font-weight: 700;
  font-family: SegoeUI-Bold;
}

@media screen and (min-width: 1900px){
  .BalancesHead{
    padding: 0 0 0 4px;
  }
  .DepositWithdrawBtnsWrp{
    transform: translateY(-2px);
  }
  .LimitsWrp .Limit{
    padding-right: 58px;
  }
  .LimitsWrp .InUse{
    margin-right: -7px;
  }
}
@media screen and (min-width: 1300px){
  .DepositWithdrawBtnsWrp{
    margin-top: -28px;
  }
}
@media screen and (max-width: 1899px){
  .BalancesWrp{
    padding: 39px 63px 80px 63px;
    text-align: left;
  }
  .LimitsWrp{
    transform: translateX(4px);
  }
  .Balances{
    padding: 30px 74px 65px 80px;
  }
  .Balances .Head .Currency, .CurrencyTitle{
    width: 32.3%;
  }
  .Balances .Head .Balance{
    width: 18.4%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px){
  .BalancesWrp{
    padding: 29px 32px 60px 32px;
  }
  .BalancesContainer{
    width: 100%;
  }
  .LimitsWrp{
    transform: translate(4px, -2px);
  }
  .Balances{
    padding: 29px 40px 65px 39px;
  }
  .Balances .Head .Currency, .CurrencyTitle{
    width: 29.5%;
  }
  .Balances .Head .Balance, .BalanceValueWrp{
    width: 15%;
  }
  .FiatValue{
    width: 17.4%;
  }
}

@media screen and (max-width: 1023px){
  .DepositBtnText, .WithdrawBtnText{
    display: none;
  }
  .BalancesWrp{
    text-align: center;
  }
}

@media screen and (min-width: 1024px){
  .WithdrawIconWrp, .DepositIconWrp{
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .BalancesWrp{
    padding: 18px 32px 40px;
  }
  .LimitsWrp .Limit{
    padding-right: 57px;
  }
  .BalancesContainer{
    width: 704px;
  }
  .Balances{
    padding: 30px 30px 63px;
  }
  .Balances .Head .Currency, .CurrencyTitle{
    width: 259px;
  }
  .Balances .Head .Balance, .BalanceValueWrp{
    width: 132px;
  }
  .FiatValue{
    width: 132px;
  }
}

@media screen and (max-width: 767px){
  .BalancesWrp{
    padding: 23px 20px 40px;
  }
  .BalancesHead{
    margin-bottom: 18px;
  }
  .BalancesHead h2{
    font-size: 18px;
    font-weight: 700;
    color: #582871;
  }
  .Balances .Head .Type, .FiatValue{
    display: none;
  }
  .LimitsWrp{
    color: #41424e;
    transform: translate(1px, 5px);
  }
  .LimitsWrp .Limit{
    padding-right: 0;
  }
  .LimitsWrp{
    display: block;
    font-size: 14px;
    text-align: right;
  }
  .LimitsWrp .Limit, .LimitsWrp .InUse{
    display: block;
  }
  .BalancesContainer{
    width: 100%;
  }
  .Balances{
    padding: 15px 20px 18px;
    height: auto;
  }
  .Balances .Head{
    padding-bottom: 18px;
    margin-bottom: 22px;
    font-size: 12px;
  }
  .Balances .Head .Currency{
    width: 33%;
  }
  .CurrencyTitle{
    width: 32.6%;
  }
  .Balances .Head .Balance, .BalanceValueWrp{
    width: 37.7%;
  }
  .CurrencyTitle img{
    margin-right: 11px;
  }
  .CurrencyTitle .BalanceCurrencyWrp{
    font-size: 15px;
  }
  .BalanceCurrencyWrp .ShortCurrencyTitle{
    font-weight: 700;
  }
  .BalanceCurrencyWrp .LongCurrencyTitle{
    display: none;
  }
  .BalanceValueWrp{
    position: relative;
  }
  .BalanceValueWrp .BalanceValue{
    font-size: 14px;
  }
  .FiatWrp{
    display: block;
    color: #41424e;
    position: absolute;
    top: 12px;
  }
  .FiatWrp .FiatNumber{
    font-size: 10px;
  }
  .FiatWrp .FiatTitle{
    font-family: SegoeUI-Bold;
    font-size: 8px;
    font-weight: 700;
  }
}

@media screen and (max-width: 413px){
  .BalancesWrp{
    padding: 16px 20px 30px 19px;
  }
  .BalancesHead{
    margin-bottom: 15px;
  }
  .BalancesHead h2{
    font-size: 16px;
  }
  .LimitsWrp{
    font-size: 12px;
    transform: translateY(2px);
  }
  .LimitsWrp .InUse{
    transform: translate(1px, 1px);
  }
  .LimitsWrp span{
    font-size: 14px;
  }
  .Balances .Head .Currency{
    width: 32.5%;
  }
  .CurrencyTitle{
    width: 31.8%;
  }
  .CurrencyTitle img{
    margin-right: 12px;
  }
  .FiatWrp{
    left: 2px;
  }
  .Balances .Head .Balance, .BalanceValueWrp{
    width: 32.8%;
  }
}

@media screen and (max-width: 359px){
  .BalancesWrp{
    padding: 25px 20px 30px;
  }
  .LimitsWrp{
    transform: translateY(0);
  }
  .BalancesHead{
    margin-bottom: 13px;
  }
  .BalancesHead h2{
    font-size: 14px;
  }
  .CurrencyTitle img{
    width: 20px;
    height: 20px;
    margin-right: 11px;
  }
  .CurrencyTitle .BalanceCurrencyWrp{
    font-size: 12px;
  }
  .Balances .Head{
    font-size: 10px;
    margin-bottom: 24px;
  }
  .Balances .Head .Currency{
    width: 30.1%;
  }
  .CurrencyTitle{
    width: 30.4%;
  }
  .Balances .Head .Balance, .BalanceValueWrp{
    width: 32.1%;
  }
  .BalanceValueWrp{
    left: -1px;
  }
  .BalanceValueWrp > div:first-child{
    font-size: 12px;
  }
  .BalanceValueWrp .FiatWrp{
    font-size: 10px;
    top: 16px;
  }
}

@media screen and (min-height: 888px){
  .BalancesWrp{
    min-height: 80vh;
  }
  main{
    background-color: #f8f8f8;
    min-height: 100%;
  }
}

@media screen and (min-height: 1082px) and (min-width: 2200px){
  .BalancesWrp{
    height: 85vh;
  }
}
