.BalancesWrp{
  padding: 51px 0 146px 0;
  text-align: center;
  background-color: #f8f8f8;
}
.BalancesHead{
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  width: 100%;
}
.BalancesHead h2{
  font-size: 24px;
  font-weight: 700;
  color: #582871;
  text-transform: uppercase;
  margin: 0;
}
.LimitsWrp .Limit{
  padding-right: 60px;
}
.BalancesContainer{
  width: 1240px;
  display: inline-block;
}
.Balances{
  box-shadow: 0 4px 18px 0 #dedede;
  height: 620px;
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  padding: 36px 74px 65px 80px;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
}
.Balances .Head{
  padding-bottom: 34px;
  margin-bottom: 42px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  color: #922c88;
}
.Balances .Head .Currency,
.Balances .Head .Balance,
.Balances .Head .Type,
.CurrencyTitle, .BalanceValue,
.FiatValue{
  display: inline-block;
}
.CurrencyTitle img{
  width: 24px;
  height: 24px;
  margin-right: 27px;
  transform: translateY(5px);
}
.Balances .Head .Currency, .CurrencyTitle{
  width: 32.4%;
}
.Balances .Head .Balance, .BalanceValue{
  width: 18.35%;
}
.FiatValue{
  width: 18.4%;
}

@media screen and (max-width: 1366px){
  .BalancesWrp{
    padding: 50px 63px 80px 63px;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px){
  .BalancesWrp{
    padding: 40px 32px 60px 32px;
  }
  .BalancesContainer{
    width: 100%;
  }
  .Balances{
    padding: 36px 40px 65px 39px;
  }
  .Balances .Head .Currency, .CurrencyTitle{
    width: 29.5%;
  }
  .Balances .Head .Balance, .BalanceValue{
    width: 15%;
  }
  .FiatValue{
    width: 17.4%;
  }
}

@media screen and (max-width: 414px) {
  .BalancesWrp{
    padding: 30px 20px 40px;
  }
  .BalancesHead{
    margin-bottom: 15px;
  }
  .BalancesHead h2{
    font-size: 18px;
    font-weight: 700;
    color: #582871;
  }
  .LimitsWrp{
    color: #41424e;
  }
  .LimitsWrp .Limit{
    padding-right: 0;
  }
  .LimitsWrp span{
    display: block;
    font-size: 14px;
    text-align: right;
  }
  .Balances{
    padding: 20px 20px 31px;
  }
  .Balances .Head{
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 12px;
  }
}
