.BalancesWrp{
  padding: 51px 0 146px 0;
  text-align: center;
  background-color: #f8f8f8;
}
.BalancesHead{
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  width: 100%;
}
.BalancesHead h2{
  font-size: 24px;
  font-weight: 700;
  color: #582871;
  text-transform: uppercase;
  margin: 0;
}
.LimitsWrp .Limit{
  padding-right: 60px;
}
.LimitsWrp .Limit span:first-child,
.LimitsWrp .InUse span:first-child{
  font-weight: 700;
}
.BalancesContainer{
  width: 1240px;
  display: inline-block;
}
.BalanceRow{
  overflow: hidden;
}
.Balances{
  box-shadow: 0 4px 18px 0 #dedede;
  height: 620px;
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  padding: 36px 74px 65px 80px;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
}
.Balances .Head{
  padding-bottom: 34px;
  margin-bottom: 42px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  color: #922c88;
}
.BalanceCurrencyWrp{
  display: inline-block;
  font-size: 14px;
}
.FiatWrp{
  display: none;
}
.Balances .Head .Currency,
.Balances .Head .Balance,
.Balances .Head .Type,
.CurrencyTitle, .BalanceValueWrp,
.FiatValue{
  display: inline-block;
}
.CurrencyTitle img{
  width: 24px;
  height: 24px;
  margin-right: 27px;
  transform: translateY(5px);
}
.Balances .Head .Currency, .CurrencyTitle{
  width: 32.4%;
}
.Balances .Head .Balance, .BalanceValueWrp{
  width: 18.35%;
}
.FiatValue{
  width: 18.4%;
}
.DepositWithdrawBtnsWrp{
  display: inline-block;
  float: right;

}
.DepositIconWrp svg{
  transform: translateY(2px);
  width: 17px;
  height: 17px;
  fill: #582871;
}
.WithdrawIconWrp svg{
  width: 20px;
  height: 16px;
  transform: translateY(3px);
  fill: #922c88;
}

@media screen and (max-width: 1366px){
  .BalancesWrp{
    padding: 50px 63px 80px 63px;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px){
  .BalancesWrp{
    padding: 40px 32px 60px 32px;
  }
  .BalancesContainer{
    width: 100%;
  }
  .Balances{
    padding: 36px 40px 65px 39px;
  }
  .Balances .Head .Currency, .CurrencyTitle{
    width: 29.5%;
  }
  .Balances .Head .Balance, .BalanceValueWrp{
    width: 15%;
  }
  .FiatValue{
    width: 17.4%;
  }
}

@media screen and (max-width: 1023px){
  .DepositBtnText, .WithdrawBtnText{
    display: none;
  }
  .BalancesWrp{
    text-align: center;
  }
}

@media screen and (min-width: 1024px){
  .WithdrawIconWrp, .DepositIconWrp{
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .BalancesWrp{
    padding: 30px 32px 40px;
  }
  .BalancesContainer{
    width: 704px;
  }
  .Balances{
    padding: 36px 30px 63px;
  }
  .Balances .Head .Currency, .CurrencyTitle{
    width: 260px;
  }
  .Balances .Head .Balance, .BalanceValueWrp{
    width: 132px;
  }
  .FiatValue{
    width: 132px;
  }
}

@media screen and (max-width: 767px){
  .BalancesWrp{
    padding: 30px 20px 40px;
  }
  .BalancesHead{
    margin-bottom: 15px;
  }
  .BalancesHead h2{
    font-size: 18px;
    font-weight: 700;
    color: #582871;
  }
  .Balances .Head .Type, .FiatValue{
    display: none;
  }
  .LimitsWrp{
    color: #41424e;
  }
  .LimitsWrp .Limit{
    padding-right: 0;
  }
  .LimitsWrp{
    display: block;
    font-size: 14px;
    text-align: right;
  }
  .BalancesContainer{
    width: 100%;
  }
  .Balances{
    padding: 20px 20px 31px;
    height: auto;
  }
  .Balances .Head{
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .Balances .Head .Currency, .CurrencyTitle{
    width: 32.6%;
  }
  .Balances .Head .Balance, .BalanceValueWrp{
    width: 37.7%;
  }
  .CurrencyTitle img{
    margin-right: 13px;
  }
  .BalanceCurrencyWrp .ShortCurrencyTitle{
    font-weight: 700;
  }
  .BalanceCurrencyWrp .LongCurrencyTitle{
    display: none;
  }
  .BalanceValueWrp{
    position: relative;
  }
  .FiatWrp{
    display: block;
    color: #41424e;
    position: absolute;
    top: 15px;
  }
  .FiatWrp .FiatNumber{
    font-size: 10px;
  }
  .FiatWrp .FiatTitle{
    font-size: 8px;
    font-weight: 700;
  }
}

@media screen and (max-width: 413px){
  .BalancesWrp{
    padding: 22px 20px 30px;
  }
  .BalancesHead h2{
    font-size: 16px;
  }
  .LimitsWrp{
    font-size: 12px;
  }
  .LimitsWrp span{
    font-size: 14px;
  }
  .Balances .Head .Currency, .CurrencyTitle{
    width: 31.8%;
  }
  .Balances .Head .Balance, .BalanceValueWrp{
    width: 32.8%;
  }
}

@media screen and (max-width: 359px){
  .BalancesWrp{
    padding: 30px 20px;
  }
  .BalancesHead h2{
    font-size: 14px;
  }
  .CurrencyTitle img{
    width: 20px;
    height: 20px;
    margin-right: 11px;
  }
  .BalanceCurrencyWrp{
    font-size: 12px;
  }
  .Balances .Head .Currency, .CurrencyTitle{
    width: 30.4%;
  }
  .Balances .Head .Balance, .BalanceValueWrp{
    width: 32.1%;
  }
  .BalanceValueWrp > div:first-child{
    font-size: 12px;
  }
  .BalanceValueWrp .FiatWrp{
    font-size: 10px;
  }
}
