.BankAccountWrp{
  padding: 76px 179px 77px 139px;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
}
.BankAccountWrp .Title{
  font-weight: 700;
  font-size: 24px;
  color: #922c88;
  margin: 0 0 63px;
  text-transform: uppercase;
}
.BankAccountWrp .Note{
  color: #41424e;
  font-size: 14px;
  line-height: 24px;
}
.BankAccountWrp .InputsContent{
  padding: 78px 161px 0 0;
  text-align: center;
}
.BankAccountWrp .InputsContent input{
  border: none;
  outline: none;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 19px;
  font-size: 14px;
  margin-bottom: 50px;
  width: 100%;
}
.BankAccountWrp .InputsContent input::-webkit-input-placeholder{
  color: #9e9fa3;
}

@media screen and (max-width: 1366px){
  .BankAccountWrp{
    padding-left: 100px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px){
  .BankAccountWrp{
    width: 660px;
    padding: 70px 78px 83px 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .BankAccountWrp{
    padding: 40px 30px 33px;
  }
}

@media screen and (min-width: 414px) and (max-width: 767px){
  .BankAccountWrp{
    padding: 30px 20px 34px 20px;
  }
  .BankAccountWrp .Title{
    font-size: 18px;
    margin-bottom: 40px;
  }
  .BankAccountWrp .InputsContent{
    padding: 30px 0 0 0;
  }
  .BankAccountWrp .InputsContent label{
    font-size: 12px;
  }
  .BankAccountWrp .InputsContent input{
    padding-bottom: 2px;
    margin-bottom: 30px;
  }
}
