.Input{
  outline: none;
  border: none;
}
.InputBuySell{
  border-bottom: 2px solid #d192c7;
  padding-bottom: 5px;
  font-size: 16px;
  width: 100%;
  color: #d192c7;
}
.InputBuySell::-webkit-input-placeholder{
  color: #d192c7;
}
.AmountWrp{
  display: inline-block;
}
.AmountWrpLeft, .AmountWrpRight{
  width: calc(100% - 50% - 45px);
  position: relative;
}
.AmountWrpLeft{
  float: left;
}
.AmountWrpRight{
  float: right;
}
.AmountLabel{
  position: absolute;
  right: 0;
  bottom: 10px;
  color: #333;
  font-size: 14px;
  font-weight: 700;
}
.WithdrawAmount{
  margin-top: 32px;
}
.WithdrawAmount .SecondLabel,
.WithdrawAmount .ThirdLabel,
.WithdrawAmount .FourthLabel{
  display: inline-block;
  color: #41424e;
}
.WithdrawAmount .SecondLabel{
  font-size: 14px;
  float: right;
  transform: translateY(3px);
}
.WithdrawAmount .ThirdLabel{
  float: left;
}
.WithdrawAmount .ThirdLabel,
.WithdrawAmount .FourthLabel{
  font-size: 12px;
  margin-top: 13px;
}
.WithdrawAmount .FourthLabel{
  float: right;
}
.WithdrawAmount input{
  padding-right: 63px;
}
.WithdrawAmount input::-webkit-input-placeholder{
  font-size: 14px;
  font-weight: 400;
  color: #c2c0c1;
  text-align: right;
}
.DepositAddress input, .WithdrawAddress input, .WithdrawAmount input{
  width: 100%;
  height: 48px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 700;
  color: #922c88;
  border: 2px solid transparent;
  outline: none;
  box-sizing: border-box;
  padding-left: 19px;
}
.DepositAddress input:hover, .WithdrawAddress input:hover, .WithdrawAmount input:hover{
  border-color: #d192c7;
}
.DepositAddress label, .WithdrawAddress label, .WithdrawAmount label{
  display: block;
  font-size: 14px;
  color: #41424e;
  margin-bottom: 17px;
}
.WithdrawAmount label{
  display: inline-block;
  color: #41424e;
  font-weight: 700;
}
.FileInputRequestWrp{
  border: 1px solid #f3ecf3;
  height: 200px;
  margin: 0 0 40px;
  position: relative;
}
.FileInputRequestWrp label{
  position: absolute;
  top: -33px;
  left: 0;
  font-size: 14px;
  color: #9e9fa3;
}
.InputRequestWrp{
  margin-bottom: 48px;
  border-bottom: 1px solid #f3ecf3;
  box-sizing: border-box;
  text-align: left;
}
.InputRequestWrp:nth-child(3){
  margin-bottom: 69px;
}
.InputRequestWrp:hover{
  border-bottom: 4px solid #d092c9;
  margin-bottom: 45px;
}
.InputRequestWrp:nth-child(3):hover{
  margin-bottom: 66px;
}
.InputRequestWrp input{
  height: 19px;
  padding-bottom: 18px;
}
.InputRequestWrp input, .InputRequestWrp textarea{
  width: 100%;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
}
.InputRequestWrp textarea{
  height: 96px;
  padding: 7px 0 0;
  box-sizing: border-box;
  resize: none;
}
.InputRequestWrp textarea::-webkit-input-placeholder{
  color: #41424e;
  padding-top: 68px;
  font-size: 12px;
}
.InputRequestWrp input::-webkit-input-placeholder,
.InputRequestWrp label{
  color: #9e9fa3;
}
