.Input{
  outline: none;
  border: none;
}
.InputBuySell{
  border-bottom: 2px solid #d192c7;
  padding-bottom: 5px;
  font-size: 16px;
  width: 100%;
  color: #d192c7;
}
.InputBuySell::-webkit-input-placeholder{
  color: #d192c7;
}
.AmountWrp{
  display: inline-block;
}
.AmountWrpLeft, .AmountWrpRight{
  width: calc(100% - 50% - 45px);
  position: relative;
}
.AmountWrpLeft{
  float: left;
}
.AmountWrpRight{
  float: right;
}
.AmountLabel{
  position: absolute;
  right: 0;
  bottom: 10px;
  color: #333;
  font-size: 14px;
  font-weight: 700;
}
.WithdrawAmount{
  margin-top: 32px;
}
.WithdrawAmount .SecondLabel,
.WithdrawAmount .ThirdLabel,
.WithdrawAmount .FourthLabel{
  display: inline-block;
  color: #41424e;
}
.WithdrawAmount .SecondLabel{
  font-size: 14px;
  float: right;
  transform: translateY(3px);
}
.WithdrawAmount .ThirdLabel{
  float: left;
}
.WithdrawAmount .ThirdLabel,
.WithdrawAmount .FourthLabel{
  font-size: 12px;
  margin-top: 13px;
}
.WithdrawAmount .FourthLabel{
  float: right;
}
.WithdrawAmount input{
  padding-right: 63px;
}
.WithdrawAmount input::-webkit-input-placeholder{
  font-size: 14px;
  font-weight: 400;
  color: #c2c0c1;
  text-align: right;
}
.DepositAddress input, .WithdrawAddress input, .WithdrawAmount input{
  width: 100%;
  height: 48px;
  background-color: #fff;
  font-size: 14px;
  font-weight: 700;
  color: #922c88;
  border: 2px solid transparent;
  outline: none;
  box-sizing: border-box;
  padding-left: 19px;
}
.DepositAddress input:hover, .WithdrawAddress input:hover, .WithdrawAmount input:hover{
  border-color: #d192c7;
}
.DepositAddress label, .WithdrawAddress label, .WithdrawAmount label{
  display: block;
  font-size: 14px;
  color: #41424e;
  margin-bottom: 17px;
}
.WithdrawAmount label{
  display: inline-block;
  color: #41424e;
  font-weight: 700;
}
.InputRequestWrp{
  box-sizing: border-box;
  text-align: left;
}
.InputRequestWrp:nth-child(3){

}
.InputRequestWrp input{
  height: 19px;
  border-bottom: 1px solid #f3ecf3 !important;
  padding-bottom: 18px;
  position: relative;
  margin-bottom: 48px;
}
.InputRequestWrp input:hover,
.InputRequestWrp input:focus{
  border-bottom: 4px solid #d092c9 !important;
  margin-bottom: 45px;
}
.InputRequestWrp textarea:hover, .InputRequestWrp textarea:focus{
  border-bottom: 4px solid #d092c9 !important;
}
.InputRequestWrp input, .InputRequestWrp textarea{
  width: 100%;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
}
.InputRequestWrp textarea{
  height: 96px;
  margin-bottom: 69px;
  padding: 7px 0 0;
  box-sizing: border-box;
  border-bottom: 1px solid #f3ecf3 !important;
  resize: none;
}
.InputRequestWrp textarea::-webkit-input-placeholder{
  color: #41424e;
  padding-top: 68px;
  font-size: 11px;
  font-family: SegoeUI;
}
.InputRequestWrp input::-webkit-input-placeholder,
.InputRequestWrp label{
  color: #9e9fa3;
}
.BankAccountNickname input{
  margin-bottom: 39px !important;
}
.CountryInput .SecondLabel{
  float: right;
  font-size: 14px;
  color: #9e9fa3;
  transform: translateY(2px);
}
.GenderRadioWrp, .SertificateRadioWrp{
  display: inline-block;
  position: relative;
}
.GenderRadioWrp label, .SertificateRadioWrp label{
  font-size: 16px !important;
  font-weight: 700 !important;
  color: #41424e !important;
  padding-left: 44px;
  position: relative;
  z-index: 3;
  cursor: pointer;
}
.GenderRadioWrp input, .SertificateRadioWrp input{
  display: none;
}
.GenderRadioWrp label:hover ~ .SecondLabel,
.GenderRadioWrp input:checked, .SertificateRadioWrp label:hover ~ .SecondLabel,
.SertificateRadioWrp input:checked{
  border-color: transparent;
}
.GenderRadioWrp label:hover ~ .ThirdLabel,
.GenderRadioWrp input:checked ~ .ThirdLabel, .SertificateRadioWrp label:hover ~ .ThirdLabel,
.SertificateRadioWrp input:checked ~ .ThirdLabel{
  opacity: 1;
}
.GenderRadioWrp .SecondLabel,
.GenderRadioWrp .ThirdLabel, .SertificateRadioWrp .SecondLabel,
.SertificateRadioWrp .ThirdLabel{
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.GenderRadioWrp .ThirdLabel, .SertificateRadioWrp .ThirdLabel{
  left: -1px;
  top: -1px;
  border: 2px solid #d092c9;
  opacity: 0;
}
.GenderRadioWrp .ThirdLabel svg, .SertificateRadioWrp .ThirdLabel svg{
  transform: translate(5px, -1px);
}
.GenderRadioWrp .SecondLabel, .SertificateRadioWrp .SecondLabel{
  border: 1px solid #e8e8e8;
  z-index: 2;
}
.GenderRadioWrp .SecondLabel:hover, .SertificateRadioWrp .SecondLabel:hover{
  border-color: transparent;
}
.GenderRadioWrp .SecondLabel:hover ~ .ThirdLabel, .SertificateRadioWrp .SecondLabel:hover ~ .ThirdLabel{
  opacity: 1;
}
.NationalityWrp{
  overflow: hidden;
}
.NationalityWrp label{
  float: left;
}
.NationalityWrp .SecondLabel{
  font-size: 14px;
  opacity: .5;
  float: right;
  color: #9e9fa3;
}

@media screen and (max-width: 767px){
  .InputBuySell{
    font-size: 14px;
  }
  .AmountLabel{
    font-size: 12px;
  }
  .NationalityWrp .SecondLabel{
    font-size: 12px;
  }
  .SertificateRadioWrp label{
    padding-left: 34px;
    font-size: 14px !important;
  }
  .GenderRadioWrp label{
    font-size: 14px !important;
  }
}

@media screen and (max-width: 414px) {
  .InputRequestWrp input{
    font-size: 12px;
    margin-bottom: 30px;
  }
  .InputRequestWrp input:hover, .InputRequestWrp input:focus{
    margin-bottom: 27px;
  }
  .InputRequestWrp label{
    font-size: 12px;
  }
  .DepositAddress input{
    font-size: 12px;
  }
}

@media screen and (max-width: 413px){
  .WithdrawAmount .SecondLabel{
    font-size: 13px;
  }
  .SertificateRadioWrp label{
    padding-left: 29px;
    font-size: 12px !important;
  }
}
