.ChartComponentWrp{
  display: inline-block;
  vertical-align: top;
  float: right;
}
.ChartPeriodWrp{
  margin-bottom: 10px;
}
.ChartContent{
  width: 940px;
  height: 560px;
  box-shadow: 0 4px 18px rgba(48, 8, 69, 0.07);
  overflow: hidden;
  border-radius: 8px;
}
.ChartContent > div{
  background-color: #fff;
}
.Header{
  margin-bottom: 39px;
}
.Header > div{
  display: inline-block;
}

@media screen and (min-width: 1900px){
  .ChartComponentWrp{
    margin-top: -10px;
  }
  .Header{
    margin-bottom: 34px;
  }
}

@media screen and (max-width: 1919px){
  .ChartContent{
    width: 668px;
    height: 400px;
  }
  .Header{
    margin-bottom: 21px;
  }
}

@media screen and (max-width: 1899px){
  .Header{
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 1365px){
  .ChartComponentWrp{
    float: none;
    align-self: center;
  }
  .Header{
    margin-bottom: 19px;
  }
}

@media screen and (max-width: 767px){
  .ChartComponentWrp{
    margin: 0;
  }
  .Header{
    margin-bottom: 24px;
  }
  .ChartContent{
    width: 374px;
    height: 300px;
  }
}

@media screen and (max-width: 413px){
  .ChartContent{
    width: 320px;
    height: 280px;
  }
  .Header{
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 359px){
  .ChartContent{
    width: 280px;
    height: 260px;
  }
}
