.ChartComponentWrp{
  display: inline-block;
  vertical-align: top;
  margin-left: 57px;
}

@media screen and (max-width: 1366px){
  .ChartComponentWrp{
    margin-left: 38px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1230px){
  .ChartComponentWrp{
    align-self: center;
  }
}

@media screen and (max-width: 767px){
  .ChartComponentWrp{
    margin: 0;
  }
}
