.FooterWrp{
  padding: 0 160px;
}
.Footer{
  border-top: 1px solid rgba(255, 255, 255, 0.13);
  padding: 21px 0 29px;
  display: flex;
  justify-content: space-between;
}
.LeftSide{
  font-size: 14px;
  color: #7e62a4;
}
.LeftSide > div{
  display: inline-block;
}
.LeftSide .Terms{
  margin-right: 65px;
}
.LeftSide .Terms > a{
  display: block;
  height: 100%;
  color: inherit;
  text-decoration: none;
}
.LeftSide .Social{
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 51px;
}
.LeftSide .Telegram > a, .LeftSide .Facebook > a, .LeftSide .Twitter > a{
  display: block;
  height: 100%;
}
.LeftSide .Telegram{
  margin-right: 44px;
}
.LeftSide .Telegram svg{
  width: 14px;
  height: 12px;
  fill: #fff;
}
.LeftSide .Facebook{
  margin-right: 40px;
}
.LeftSide .Facebook svg{
  width: 13px;
  height: 13px;
}
.LeftSide .Twitter svg{
  width: 15px;
  height: 13px;
}
.MiddleSide{
  color: #7e62a4;
  font-size: 12px;
}
.RightSide{
  font-size: 14px;
  color: #7e62a4;
}
.RightSide > div{
  display: inline-block;
}
.RightSide .TrandingVolume{
  margin-right: 39px;
}
.RightSide .ProportionBtc{
  margin-right: 30px;
}
.RightSide .ProportionBtc .Value, .RightSide .ProportionEth .Value{
  color: #fff;
  padding-left: 8px;
}
