.FooterWrp{
  position: relative;
  padding: 0 160px;
}
.Footer{
  border-top: 1px solid rgba(255, 255, 255, 0.13);
  padding: 21px 0 29px;
  display: flex;
  justify-content: space-between;
}
.SocialIconsPhone{
  display: none;
}
.LeftSide{
  font-size: 14px;
  color: #7e62a4;
}
.LeftSide > div{
  display: inline-block;
}
.LeftSide .Terms{
  margin-right: 65px;
}
.LeftSide .Terms > a{
  display: block;
  height: 100%;
  color: inherit;
  text-decoration: none;
}
.LeftSide .Social{
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 51px;
}
.SocialIconsPhone > div{
  display: inline-block;
}
.LeftSide .Telegram > a, .LeftSide .Facebook > a, .LeftSide .Twitter > a,
.SocialIconsPhone .Telegram > a, .SocialIconsPhone .Facebook > a, .SocialIconsPhone .Twitter > a{
  display: block;
  height: 100%;
}
.LeftSide .Telegram{
  margin-right: 44px;
}
.LeftSide .Telegram svg,
.SocialIconsPhone .Telegram svg{
  width: 14px;
  height: 12px;
  fill: #fff;
}
.LeftSide .Facebook{
  margin-right: 40px;
}
.LeftSide .Facebook svg,
.SocialIconsPhone .Facebook svg{
  width: 13px;
  height: 13px;
}
.LeftSide .Twitter svg,
.SocialIconsPhone .Twitter svg{
  width: 15px;
  height: 13px;
}
.MiddleSide{
  color: #7e62a4;
  font-size: 12px;
}
.RightSide{
  font-size: 14px;
  color: #7e62a4;
}
.RightSide > div{
  display: inline-block;
}
.RightSide .TrandingVolume{
  margin-right: 39px;
}
.RightSide .ProportionBtc{
  margin-right: 30px;
}
.RightSide .ProportionBtc .Value, .RightSide .ProportionEth .Value{
  color: #fff;
  padding-left: 8px;
}

@media screen and (max-width: 1900px){
  .FooterWrp{
    padding: 0 60px;
  }
}

@media screen and (max-width: 1365px){
  .FooterWrp{
    padding: 0 32px;
  }
  .LeftSide, .RightSide{
    font-size: 12px;
  }
  .LeftSide .Terms{
    margin-right: 34px;
  }
  .LeftSide .Social{
    margin-right: 28px;
  }
  .RightSide .TrandingVolume{
    margin-right: 31px;
  }
  .RightSide .ProportionBtc{
    margin-right: 26px;
  }
  .MiddleSide{
    font-size: 10px;
  }
}

@media screen and (max-width: 1023px){
  .FooterWrp{
    padding: 0 30px;
  }
  .LeftSide .Social, .RightSide .TrandingVolume{
    display: none;
  }
  .LeftSide .Telegram{
    margin-right: 34px;
  }
  .LeftSide .Facebook{
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px){
  .FooterWrp{
    padding: 0 20px;
  }
  .Footer{
    padding: 17px 0 8px;
  }
  .LeftSide .Terms{
    margin-right: -5px;
  }
  .RightSide{
    display: none;
  }
  .MiddleSide{
    width: 88px;
    transform: translateY(-7px);
  }
  .LeftSide .Telegram, .LeftSide .Facebook, .LeftSide .Twitter{
    display: none;
  }
  .SocialIconsPhone{
    display: block;
  }
  .SocialIconsPhone .Telegram{
    margin-right: 34px;
  }
  .SocialIconsPhone .Facebook{
    margin-right: 30px;
  }
}

@media screen and (max-width: 413px){
  .Footer{
    padding-bottom: 15px;
  }
  .LeftSide{
    font-size: 10px;
  }
  .MiddleSide{
    font-size: 8px;
    width: 80px;
    transform: translateY(-4px);
  }
}

@media screen and (max-width: 359px){
  .FooterWrp{
    padding: 0;
  }
  .Footer{
    padding-left: 20px;
    padding-right: 20px;
  }
  .SocialIconsPhone .Telegram, .SocialIconsPhone .Facebook{
    margin-right: 20px;
  }
}
