.IntroWrp{
  padding-left: 360px;
  margin-bottom: 679px;
}
.IntroWrp h1{
  margin: 0 0 45px;
  font-size: 60px;
  color: #fff;
  font-weight: 300;
}
.IntroWrp h1 .Top{
  display: block;
  margin-bottom: -10px;
}
.IntroWrp h1 .Bottom .Emphasis{
  color: #e33a8c;
}
.Advertise{
  color: #fff;
  font-size: 24px;
  margin-bottom: 67px;
}
.CreateAccount{
  width: 320px;
  height: 60px;
  border-radius: 30px;
  background-color: #fff;
  color: #241a55;
  font-size: 18px;
}
.CreateAccount > a{
  display: block;
  text-decoration: none;
  color: inherit;
  line-height: 3.3;
  font-weight: 700;
  text-align: center;
}
.CreateAccount:hover{
  background-image: linear-gradient(-110deg, #e33a8c 0%, #54236e 100%);
  color: #fff;
}

@media screen and (max-width: 1900px){
  .IntroWrp{
    padding-left: 160px;
    margin-bottom: 620px;
  }
  .IntroWrp h1{
    font-size: 48px;
    margin-bottom: 35px;
  }
  .Advertise{
    font-size: 18px;
    margin-bottom: 49px;
  }
  .CreateAccount{
    width: 240px;
    height: 50px;
    font-size: 16px;
  }
  .CreateAccount > a{
    line-height: 3;
  }
}

@media screen and (max-width: 1365px){
  .IntroWrp{
    padding-left: 60px;
    margin-bottom: 365px;
  }
}

@media screen and (max-width: 1023px){
  .IntroWrp{
    margin-bottom: 285px;
  }
  .IntroWrp h1{
    font-size: 36px;
    margin-bottom: 24px;
  }
  .Advertise{
    font-size: 16px;
    margin-bottom: 39px;
  }
  .CreateAccount{
    width: 160px;
    height: 40px;
  }
  .CreateAccount > a{
    line-height: 2.5;
  }
}

@media screen and (max-width: 767px){
  .IntroWrp{
    padding-left: 23px;
    margin-bottom: 203px;
  }
  .IntroWrp h1{
    font-size: 24px;
  }
  .IntroWrp h1 .Top{
    margin-bottom: 0;
  }
  .Advertise{
    font-size: 12px;
    margin-bottom: 30px;
  }
  .CreateAccount{
    font-size: 14px;
  }
  .CreateAccount > a{
    height: 100%;
    line-height: 2.9;
  }
}

@media screen and (max-width: 413px){
  .IntroWrp{
    padding-left: 20px;
    margin-bottom: 185px;
  }
  .IntroWrp h1{
    font-size: 18px;
    margin-bottom: 23px;
  }
  .Advertise{
    font-size: 10px;
    margin-bottom: 21px;
  }
  .CreateAccount{
    width: 140px;
    height: 34px;
    font-size: 12px;
  }
}

@media screen and (max-width: 359px){
  .IntroWrp{
    margin-bottom: 178px;
  }
}
