.IntroWrp{
  padding-left: 360px;
  margin-bottom: 679px;
  position: relative;
}
.IntroWrp h1{
  margin: 0 0 45px;
  font-family: SegoeUI-Light;
  font-size: 60px;
  color: #fff;
  font-weight: 300;
}
.IntroWrp h1 .Top{
  display: block;
  margin-bottom: -10px;
}
.IntroWrp h1 .Bottom .Emphasis{
  color: #e33a8c;
}
.Advertise{
  color: #fff;
  font-family: SegoeUI-Light;
  font-size: 24px;
  margin-bottom: 67px;
}
.CreateAccount{
  width: 320px;
  height: 60px;
  border-radius: 30px;
  color: #241a55;
  font-family: SegoeUI-Bold;
  font-size: 18px;
  position: relative;
  overflow: hidden;
}
.CreateAccount::before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1;
  opacity: 1;
  transition: opacity .5s;
}
.CreateAccount::after{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(-110deg, #e33a8c 0%, #54236e 100%);
  opacity: 0;
  transition: opacity .5s;
  z-index: 1;
}
.CreateAccount > a{
  position: relative;
  z-index: 1;
  display: block;
  text-decoration: none;
  color: inherit;
  line-height: 3.3;
  font-weight: 700;
  text-align: center;
  z-index: 2;
}
.CreateAccount:hover::before{
  opacity: 0;
}
.CreateAccount:hover::after{
  opacity: 1;
}
.CreateAccount:hover{
  color: #fff;
}

@media screen and (min-width: 1900px){
  .IntroWrp{
    padding-left: 358px;
    margin-bottom: 715px;
  }
  .IntroWrp h1{
    margin-bottom: 38px;
  }
  .IntroWrp h1 .Bottom{
    display: block;
    transform: translateY(-5px);
  }
  .Advertise{
    transform: translateX(2px);
  }
}

@media screen and (min-width: 2270px){
  .IntroWrp{
    width: 1450px;
    padding: 0;
    align-self: center;
  }
}

@media screen and (max-width: 1900px){
  .IntroWrp{
    padding-left: 159px;
    margin-bottom: 593px;
  }
  .IntroWrp .Bottom{
    display: inline-block;
    transform: translate(-1px, 1px);
  }
  .IntroWrp h1{
    font-size: 48px;
    margin-bottom: 36px;
  }
  .Advertise{
    font-size: 18px;
    margin-bottom: 48px;
  }
  .CreateAccount{
    width: 240px;
    height: 50px;
    font-size: 16px;
  }
  .CreateAccount > a{
    line-height: 3;
  }
}

@media screen and (max-width: 1365px){
  .IntroWrp{
    padding-left: 60px;
    margin-bottom: 496px;
  }
  .IntroWrp h1{
    margin-bottom: 35px;
  }
  .Advertise{
    transform: translateX(-2px);
  }
}

@media screen and (max-width: 1023px){
  .IntroWrp{
    margin-bottom: 351px;
  }
  .IntroWrp h1{
    font-size: 36px;
    margin-bottom: 25px;
  }
  .IntroWrp .Bottom{
    transform: translate(0px, 8px);
  }
  .Advertise{
    transform: translateX(-1px);
    font-size: 16px;
    margin-bottom: 39px;
  }
  .CreateAccount{
    transform: translateX(2px);
    width: 160px;
    height: 40px;
    font-size: 14px;
  }
  .CreateAccount > a{
    line-height: 2.8;
  }
}

@media screen and (max-width: 767px){
  .IntroWrp{
    padding-left: 20px;
    margin-bottom: 192px;
  }
  .IntroWrp h1{
    font-size: 24px;
    margin-bottom: 29px;
  }
  .IntroWrp h1 .Top{
    margin-bottom: 0;
  }
  .IntroWrp h1 .Bottom{
    transform: translate(0px, 4px);
  }
  .Advertise{
    font-size: 12px;
    margin-bottom: 30px;
  }
  .CreateAccount{
    transform: translateX(0px);
    font-size: 14px;
  }
  .CreateAccount > a{
    height: 100%;
    line-height: 2.9;
  }
}

@media screen and (max-width: 413px){
  .IntroWrp{
    padding-left: 20px;
    margin-bottom: 180px;
  }
  .IntroWrp h1{
    font-size: 18px;
    margin-bottom: 20px;
  }
  .IntroWrp h1 .Top{
    transform: translateX(-1px);
  }
  .IntroWrp h1 .Bottom{
    transform: translate(0px, 2px);
  }
  .Advertise{
    font-size: 10px;
    margin-bottom: 20px;
  }
  .CreateAccount{
    width: 140px;
    height: 34px;
    font-size: 12px;
  }
}

@media screen and (max-width: 359px){
  .IntroWrp{
    margin-bottom: 166px;
  }
}
