.Footer{
  background-color: #2b2837;
  padding: 10px 145px 27px 160px;
  font-size: 14px;
  color: #7b7495;
}
.Bottom, .Top{
  display: flex;
  align-items: baseline;
}
.Bottom{
  justify-content: flex-end;
}
.Top{
  justify-content: space-between;
  padding-bottom: 14px;
  border-bottom: 1px solid #3c3b3b;
  margin-bottom: 16px;
}
.Logo{
  font-size: 24px;
  color: #fff;
  margin-right: 121px;
  display: inline-block;
}
.NavItem{
  padding-right: 49px;
}
.NavItem > a{
  color: inherit;
  text-decoration: none;
}
.NavItemHelp, .Word{
  font-family: SegoeUI-Bold;
  text-transform: uppercase;
  font-weight: 700;
}
.Word{
  padding-right: 51px;
}
.SocialIconTelegram{
  padding-right: 41px;
}
.SocialIconFacebook{
  padding-right: 40px;
}
.TradingVolume > span:first-child{
  padding-left: 38px;
}
.TradingVolume > span:nth-child(2){
  padding-left: 35px;
}
.TradingVolume .Digits{
  color: #fff;
}

@media screen and (min-width: 1900px){
  .Footer{
    align-self: center;
    padding-top: 12px;
    padding-left: 0;
    padding-right: 0;
    width: 1585px;
    background-color: transparent;
  }
  .Footer::before{
    content: '';
    height: 100vh;
    position: absolute;
    bottom: -20vh;
    width: 100%;
    background-color: #2b2837;
    left: 0;
    z-index: -1;
  }
  .Footer .Word{
    padding-right: 52px;
  }
  .SocialIconTelegram{
    padding-right: 41px;
  }
  .SocialIconFacebook{
    padding-right: 24px;
  }
  .SocialIconTwitter{
    display: inline-block;
    transform: translateX(13px);
  }
  .TradingVolume > span:nth-child(2){
    display: inline-block;
    transform: translateX(14px);
    padding-left: 20px;
  }
}

@media screen and (max-width: 1366px){
  .Footer{
    padding: 21px 40px 27px 40px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px){
  .Footer{
    padding-left: 32px;
    padding-right: 32px;
  }
  .Logo{
    margin-right: 79px;
  }
  .NavItem{
    padding-right: 29px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .Footer .Top .LeftSide .Logo, .Footer .Top .LeftSide > span:not(:last-child){
    display: none;
  }
  .Footer .Word{
    padding-right: 41px;
  }
}

@media screen and (max-width: 767px){
  .Footer{
    padding: 15px 20px 18px 20px;
  }
  .Footer .Top .LeftSide .Logo, .Footer .Top .LeftSide > span:not(:last-child){
    display: none;
  }
  .NavItem{
    padding-right: 0;
  }
  .Word{
    padding-right: 31px;
  }
  .SocialIconTelegram{
    padding-right: 39px;
  }
  .SocialIconFacebook{
    padding-right: 35px;
  }
  .TradingVolume{
    font-size: 12px;
  }
  .Bottom{
    display: block;
  }
  .TradingVolume > span:first-child{
    padding-left: 52px;
  }
  .TradingVolume > span:nth-child(2){
    padding-left: 0;
    float: right;
  }
}

@media screen and (max-width: 413px){
  .Footer .Word{
    padding-right: 21px;
  }
  .Footer .SocialIconTelegram{
    padding-right: 34px;
  }
  .Footer .SocialIconFacebook{
    padding-right: 30px;
  }
  .Footer .TradingVolume > span:first-child{
    padding-left: 12px;
  }
}

@media screen and (max-width: 359px){
  .Footer{
    font-size: 12px;
  }
  .Footer .TradingVolume{
    font-size: 10px;
  }
  .Footer .Word{
    padding-right: 18px;
  }
  .Footer .TradingVolume > span:first-child{
    padding-left: 18px;
  }
}
