body, html{
  overflow-x: hidden;
}
.LandingWrp{
  display: block;
  background-color: #fff;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}
.Footer{
  position: relative;
  z-index: 1;
  padding-top: 440px;
  text-align: center;
  background-repeat: no-repeat;
}
.TopBackgroundSVG{
  display: block;
  position: absolute;
  width: 2254px;
  left: -20.1%;
  box-sizing: border-box;
  top: -756px;
}
.BottomBackgroundSVG{
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -100px;
  z-index: 0;
}

@media screen and (max-width: 1920px){
  .Footer{
    background-position: 50% -22%;
  }
}

@media screen and (max-width: 1899px){
  .Footer{
    background-position: 50% 15vw;
    background-size: 124%;
    padding-top: 190px;
  }
  .TopBackgroundSVG{
    top: -563px;
    left: auto;
    right: -1px;
    width: 1621px;
  }
}

@media screen and (max-width: 1365px){
  .Footer{
    background-size: 132% 107%;
    background-position: 50% -298%;
    padding-top: 326px;
  }
  .BottomBackgroundSVG{
    bottom: -65px;
  }
}

@media screen and (max-width: 1155px){
  .TopBackgroundSVG{
    width: 1295px;
    top: -393px;
    right: 18px;
    left: auto;
  }
}

@media screen and (max-width: 1023px){
  .Footer{
    padding-top: 177px;
    background-size: 132% 107%;
    background-position: 50% -100%;
  }
  .BottomBackgroundSVG{
    bottom: -90px;
  }
}

@media screen and (max-width: 880px){
  .TopBackgroundSVG{
    top: -304px;
    right: 20px;
    transform: none;
    width: 1050px;
  }
}

@media screen and (max-width: 925px){
  .BottomBackgroundSVG{
    bottom: -44px;
  }
}

@media screen and (max-width: 767px){
  .Footer{
    padding-top: 136px;
    background-size: 178% 107%;
    background-position: 55% -100%;
  }
  .BottomBackgroundSVG{
    bottom: -100px;
    transform: scale(1.3);
  }
  .TopBackgroundSVG{
    top: -395px;
    right: -85px;
    left: auto;
  }
}

@media screen and (max-width: 700px){
  .BottomBackgroundSVG{
    bottom: -40px;
  }
}

@media screen and (max-width: 522px){
  .BottomBackgroundSVG{
    bottom: 19px;
    transform: scale(1.45);
  }
}

@media screen and (max-width: 474px){
  .TopBackgroundSVG{
    top: -197px;
    right: auto;
    left: -206px;
    width: 749px;
  }
}

@media screen and (max-width: 413px){
  .Footer{
    background-size: 148% 107%;
    background-position: 55% -100%;
  }
}

@media screen and (max-width: 359px){
  .Footer{
    background-size: 238% 107%;
    background-position: 55% -80%;
    margin-top: 60px;
    padding-top: 95px;
  }
}

@media screen and (min-width: 1570px){
  .TopBackgroundSVG{
    top: -784px;
    width: 1990px;
  }
  .BottomBackgroundSVG{
    bottom: -243px;
  }
}

@media screen and (min-width: 1900px){
  .LandingWrp, .Footer{
    display: flex;
    flex-direction: column;
  }
  .TopBackgroundSVG{
    width: 2254px;
    left: -20.1%;
    top: -756px;
  }
  .BottomBackgroundSVG{
    bottom: -128px;
  }
}

@media screen and (min-width: 1921px){
  .Footer{
    background-position: 50% -22%;
    background-size: 127% 110%;
  }
}

@media screen and (min-width: 1926px){
  .TopBackgroundSVG{
    margin-left: -1127px;
    left: 50%;
  }
  .BottomBackgroundSVG{
    bottom: -20vw;
  }
}

@media screen and (min-width: 2900px){
  .BottomBackgroundSVG{
    bottom: -27vw;
  }
}

@media screen and (min-width: 3630px){
  .BottomBackgroundSVG{
    bottom: -33vw;
  }
}

@media screen and (min-width: 4460px){
  .BottomBackgroundSVG{
    bottom: -37vw;
  }
}
