.BalanceIndicatorWrp{
  display: inline-block;
  font-size: 14px;
  position: relative;
  margin-right: 49px;
}
.BalanceIndicatorWrp::before{
  content: '';
  position: absolute;
  top: 6px;
  left: -18px;
  background-color: #922c88;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.BalanceIndicatorWrp > span:nth-child(even){
  font-family: SegoeUI-Bold;
}

@media screen and (min-width: 1900px){
  .BalanceIndicatorWrp{
    margin-right: 35px;
  }
}
@media screen and (max-width: 1899px){
  .BalanceIndicatorWrp{
    margin-right: 42px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1365px){
  .BalanceIndicatorWrp{
    font-size: 12px;
    margin-right: 13px;
    transform: translateY(1px) !important;
  }
  .BalanceIndicatorWrp::before{
    width: 7px;
    height: 7px;
    top: 6px;
    left: -14px;
  }
  .BalanceIndicatorWrp span:nth-child(even){
    font-size: 10px;
  }
}

@media screen and (max-width: 1023px){
  .BalanceIndicatorWrp{
    transform: translate(5px, 1px) !important;
  }
}

@media screen and (max-width: 767px){
  .BalanceIndicatorWrp{
    display: none;
  }
}
