.App{
  overflow: hidden;
}

@media screen and (min-height: 888px){
  .App, #root, body, html{
  }
  body > div{
  }
}

@media screen and (min-width: 1900px){
  .App{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .App main{
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
  }
}
