
@media screen and (min-width: 1900px){
  .App{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-height: 888px){
  .App, #root, body, html{
    height: 100%;
  }
  body > div{
    height: 100%;
  }
}
