.AddressWrp{
  padding: 66px 340px 80px 140px;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
}
.AddressWrp .Title{
  font-family: SegoeUI-Bold;
  text-transform: uppercase;
  font-weight: 700;
  color: #922c88;
  font-size: 24px;
  margin: 0 0 54px;
}
.InputsContent{
  text-align: center;
}
.InputsContent > div{
  text-align: left;
}
.InputsContent > div:nth-child(4) input{
  margin-bottom: 30px;
}
.InputsContent > div:nth-child(4) input:hover,
.InputsContent > div:nth-child(4) input:focus{
  margin-bottom: 29px;
}
.InputsContent > div:nth-child(5){
  text-align: center;
}
.InputsContent input{
  width: 100%;
  border: none;
  padding-bottom: 15px;
  outline: none;
  border-bottom: 1px solid #e8e8e8;
  background-color: transparent;
  margin-bottom: 22px;
  transform: translateY(-5px);
  color: #000;
  font-weight: 700;
}
.InputsContent input::-webkit-input-placeholder{
  font-size: 14px;
  color: #9e9fa3;
  font-weight: 100;
}
.InputsContent input:hover, .InputsContent input:focus{
  margin-bottom: 21px;
}
.InputsContent label{
  font-size: 14px;
  color: #9e9fa3;
}
.InputsContent .UploadedImagesWrp{
  margin-bottom: 42px;
  text-align: left !important;
}
.InputsContent .UploadedImagesWrp .Label{
  font-size: 14px;
  color: #9e9fa3;
  margin-bottom: 14px;
}
.InputsContent .UploadedImagesWrp .UploadedImage{
  display: inline-block;
  margin-right: 4px;
  border: 1px solid #f3ecf3;
  border-radius: 4px;
  padding: 5px 8px 11px 20px;
  width: 200px;
  height: 36px;
  box-sizing: border-box;
}
.InputsContent .UploadedImagesWrp .UploadedImage .UploadedImageTitle{
  font-size: 14px;
  color: #41424e;
  display: inline-block;
}
.InputsContent .UploadedImagesWrp .UploadedImage .Icon{
  display: inline-block;
  width: 16px;
  height: 16px;
  float: right;
  transform: translateY(3px);
}
.InputsContent .UploadedImagesWrp .UploadedImage .Icon svg{
  fill: #c8c9cb;
}

@media screen and (max-width: 1366px){
  .AddressWrp{
    padding-left: 100px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px){
  .AddressWrp{
    width: 660px;
    padding: 72px 78px 83px 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .AddressWrp{
    padding: 29px 30px 33px;
  }
}

@media screen and (max-width: 767px){
  .AddressWrp{
    padding: 22px 20px 34px 20px;
  }
  .AddressWrp .Title{
    font-size: 18px;
    margin-bottom: 40px;
  }
  .InputsContent label{
    font-size: 12px;
  }
  .InputsContent input{
    padding-bottom: 2px;
    margin-bottom: 30px;
  }
  .InputsContent > div:nth-child(4) input{
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 359px){
  .AddressWrp{
    padding: 0;
    background-color: transparent;
  }
  .InputsContent input{
    background-color: transparent;
  }
}
