.BankAccountWrp{
  padding: 66px 179px 77px 139px;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
}
.BankAccountWrp .Title{
  font-family: SegoeUI-Bold;
  font-weight: 700;
  font-size: 24px;
  color: #922c88;
  margin: 0 0 50px;
  text-transform: uppercase;
}
.BankAccountWrp .Note{
  color: #41424e;
  font-size: 14px;
  line-height: 24px;
}
.BankAccountWrp .InputsContent{
  padding: 43px 161px 0 0;
  text-align: center;
}
.BankAccountWrp .InputsContent > div:not(:last-child){
  text-align: left;
}
.BankAccountWrp .InputsContent > div:nth-child(6){
  margin-top: 25px;
}
.BankAccountWrp .InputsContent input{
  border: none;
  outline: none;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 16px;
  font-size: 14px;
  margin-bottom: 50px;
  color: #000;
  font-weight: 700;
  width: 100%;
}
.BankAccountWrp .InputsContent input:hover,
.BankAccountWrp .InputsContent input:focus{
  border-bottom: 2px solid #d092c9;
}
.BankAccountWrp .InputsContent label{
  font-size: 15px;
}
.BankAccountWrp .InputsContent > div:first-child input{
  margin-bottom: 22px;
}
.BankAccountWrp .InputsContent > div:first-child input:hover,
.BankAccountWrp .InputsContent > div:first-child input:focus{
  margin-bottom: 21px;
}
.BankAccountWrp .InputsContent > div:nth-child(2) input{
  margin-bottom: 22px;
}
.BankAccountWrp .InputsContent > div:nth-child(2) input:hover,
.BankAccountWrp .InputsContent > div:nth-child(2) input:focus{
  margin-bottom: 21px;
}
.BankAccountWrp .InputsContent > div:nth-child(3) input{
  margin-bottom: 22px;
}
.BankAccountWrp .InputsContent > div:nth-child(3) input:hover,
.BankAccountWrp .InputsContent > div:nth-child(3) input:focus{
  margin-bottom: 21px;
}
.BankAccountWrp .InputsContent > div:nth-child(4) input:hover,
.BankAccountWrp .InputsContent > div:nth-child(4) input:focus,
.BankAccountWrp .InputsContent > div:nth-child(6) input:hover,
.BankAccountWrp .InputsContent > div:nth-child(6) input:focus{
  margin-bottom: 38px !important;
}
.BankAccountWrp .InputsContent input::-webkit-input-placeholder{
  color: #9e9fa3;
  font-weight: 100;
}

@media screen and (max-width: 1366px){
  .BankAccountWrp{
    padding-left: 100px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px){
  .BankAccountWrp{
    width: 660px;
    padding: 72px 78px 83px 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .BankAccountWrp{
    padding: 29px 30px 33px;
  }
}

@media screen and (max-width: 767px){
  .BankAccountWrp{
    padding: 22px 20px 34px 20px;
  }
  .BankAccountWrp .Title{
    font-size: 18px;
    margin-bottom: 40px;
  }
  .BankAccountWrp .InputsContent{
    padding: 30px 0 0 0;
  }
  .BankAccountWrp .InputsContent label{
    font-size: 12px;
  }
  .BankAccountWrp .InputsContent input{
    padding-bottom: 2px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 359px){
  .BankAccountWrp{
    padding: 0;
    background-color: transparent;
  }
  .InputsContent input{
    background-color: transparent;
  }
}
