.LoginFormWrp{
  width: 100%;
  padding: 29.35vh 0 0 3.5vw;
  box-sizing: border-box;
}
.LoginFormWrp > div:first-child > input{
  margin-bottom: 63px;
}
.LoginFormWrp > div:first-child > input:hover, .LoginFormWrp > div:first-child > input:focus{
  margin-bottom: 62px;
}
.LoginFormWrp > div:nth-child(2) > input{
  margin-bottom: 60px;
  padding-bottom: 14px;
}
.LoginFormWrp > div:nth-child(2) > input:hover, .LoginFormWrp > div:nth-child(2) > input:focus{
  margin-bottom: 59px;
}
.LoginFormWrp .Footer{
  display: flex;
  justify-content: space-between;
}
.LoginFormWrp .Footer .Tip{
  font-size: 12px;
  color: #9e9fa3;
}
.LoginFormWrp .Footer .Tip a{
  text-decoration: none;
}
.LoginFormWrp .Footer .Tip .Forgot a{
  color: #9e9fa3;
}
.LoginFormWrp .Footer .Tip .Forgot a:hover{
  color: #922c88;
}
.LoginFormWrp .Footer .Tip .NotOnBithela{
  transform: translateY(4px);
}
.LoginFormWrp .Footer .Tip .NotOnBithela a{
  display: inline-block;
  color: #922c88;
  position: relative;
}
.LoginFormWrp .Footer .Tip .NotOnBithela a::after{
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 1px;
  background-color: #922c88;
  width: 100%;
  opacity: 0;
}
.LoginFormWrp .Footer .Tip .NotOnBithela a:hover:after{
  opacity: 1;
}
.LoginBtnInnerWrp{
  display: none;
}

@media screen and (min-width: 1921px){
  .LoginFormWrp > div input{
    font-size: 1.85vw
  }
  .LoginFormWrp > div input::-webkit-input-placeholder{
    font-size: 1.4vw;
  }
  .LoginFormWrp .Footer .Tip{
    font-size: 1vw;
  }
  .LoginBtnInnerWrp{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: middle;
    text-align: center;
    background: linear-gradient(90deg, #e12b82, #53236d);
    justify-content: center;
    opacity: 0;
    transition: opacity .5s;
  }
  .LoginBtnInnerWrp .LoginBtnInner{
    align-self: center;
  }
}

@media screen and (max-width: 1919px){
  .LoginFormWrp{
    padding: 27.1vh 0 0 2.2vw
  }
}

@media screen and (max-width: 1023px){
  .LoginFormWrp{
    width: 336px;
    display: inline-block;
    text-align: left;
    padding: 14vh 0 0 0;
  }
}

@media screen and (max-height: 1140px) and (max-width: 1023px){
  .LoginFormWrp{
    padding-top: 5vh;
  }
}

@media screen and (max-height: 875px) and (max-width: 1023px){
  .LoginFormWrp{
    padding-top: 2vh;
  }
}

@media screen and (max-width: 823px) and (max-height: 411px){
  .LoginFormWrp{
    padding-top: 6vh;
  }
}

@media screen and (max-width: 812px) and (max-height: 375px){
  .LoginFormWrp{
    padding-top: 6vh;
  }
}

@media screen and (max-width: 767px){
  .LoginFormWrp{
    padding-top: 13.8vh;
    width: 100%;
  }
  .LoginFormWrp > div:first-child > input{
    margin-bottom: 31px;
  }
  .LoginFormWrp > div:first-child > input:hover, .LoginFormWrp > div:first-child > input:focus{
    margin-bottom: 30px;
  }
  .LoginFormWrp > div:nth-child(2) > input{
    margin-bottom: 40px;
  }
  .LoginFormWrp > div:nth-child(2) > input:hover, .LoginFormWrp > div:nth-child(2) > input:focus{
    margin-bottom: 39px;
  }
}

@media screen and (max-width: 413px){
  .LoginFormWrp{
    padding-top: 8vh;
  }
  .LoginFormWrp input{
    font-size: 14px;
  }
  .LoginFormWrp .Footer .Tip{
    font-size: 10px;
  }
  .Footer .Tip .Forgot{
    margin-top: 2px;
    margin-bottom: 9px;
  }
}
