.UserStageWrp{
  display: inline-block;
  cursor: pointer;
}
.UserStageWrp .Number{
  vertical-align: top;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.9;
  margin: 4px 20px 0 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #6bcc00;
  background-color: #fff;
}
.UserStageWrp .RightSide, .UserStageWrp .Number{
  display: inline-block;
}
.UserStageWrp .RightSide{
  text-align: left;
  height: 32px;
}
.UserStageWrp .RightSide .Title{
  font-family: SegoeUI-Bold;
  font-size: 16px;
  color: #41424e;
  font-weight: 700;
}
.UserStageWrp .RightSide .Status{
  font-size: 14px;
}
.UserStageWrp .DashedArea{
  position: absolute;
  width: 55px;
  height: 2px;
  top: 17px;
  left: 173px;
}
.UserStageWrp .DashedArea > div{
  display: inline-block;
  margin-right: 4px;
  width: 6px;
  height: 2px;
  background-color: #e3e3e3;
  vertical-align: top;
}
.UserStageWrp:last-child .DashedArea{
  display: none;
}

@media screen and (min-width: 1900px){
  .UserStageWrp:first-child .Number{
    transform: translateX(-2px);
  }
  .UserStageWrp:first-child .RightSide{
    transform: translate(-5px, -3px);
  }
  .UserStageWrp:nth-child(2) .RightSide{
    transform: translate(-1px, -3px);
  }
  .UserStageWrp:nth-child(3) .RightSide{
    transform: translate(-3px, -3px);
  }
}
@media screen and (max-width: 1365px){
  .UserStageWrp:first-child .DashedArea{
    left: 155px;
    top: 19px;
  }
  .UserStageWrp:nth-child(2) .DashedArea{
    left: 165px;
    top: 19px;
  }
  .UserStageWrp .Number{
    transform: translateY(2px);
  }
  .UserStageWrp:first-child .Number{
    transform: translate(-2px, 2px);
  }
  .UserStageWrp:first-child .RightSide{
    transform: translate(-4px, -2px);
  }
  .UserStageWrp:nth-child(2) .RightSide, .UserStageWrp:nth-child(3) .RightSide{
    transform: translate(-2px, -2px);
  }
}

@media screen and (max-width: 1023px){
  .UserStageWrp:first-child .DashedArea{
    left: 158px;
  }
  .UserStageWrp:nth-child(2) .DashedArea{
    left: 162px;
  }
  .UserStageWrp:first-child{
    margin-right: 84px !important;
  }
  .UserStageWrp:nth-child(2){
    transform: translateX(11px);
  }
  .UserStageWrp:nth-child(3){
    transform: translateX(5px);
  }
}

@media screen and (max-width: 767px){
  .UserStageWrp .DashedArea{
    display: none;
  }
  .UserStageWrp .Number{
    margin: 10px 10px 0 0;
    line-height: 1.65;
    width: 20px;
    height: 20px;
  }
  .UserStageWrp .RightSide .Title{
    font-size: 14px;
  }
  .UserStageWrp .RightSide .Status{
    font-size: 12px;
  }
}

@media screen and (max-width: 413px){
  .UserStageWrp .Number{
    font-family: SegoeUI-Bold;
    margin-right: 8px;
    line-height: 1.7;
    width: 18px;
    height: 18px;
    font-size: 10px;
  }
  .UserStageWrp:first-child .Number{
    transform: translate(0px, -4px);
  }
  .UserStageWrp:nth-child(2) .Number{
    transform: translate(0px, -4px);
  }
  .UserStageWrp:nth-child(3) .Number{
    transform: translate(0px, -4px);
  }
  .UserStageWrp:nth-child(2) .RightSide{
    transform: translate(-2px, -3px);
  }
  .UserStageWrp .RightSide .Status{
    font-size: 10px;
    transform: translate(1px, -1px);
  }
}

@media screen and (max-width: 359px){
  .UserStageWrp .RightSide .Title{
    font-size: 12px;
  }
  .UserStageWrp .RightSide .Status{
    font-size: 8px;
    padding-top: 2px;
    font-weight: 700;
  }
  .UserStageWrp .RightSide{
    padding-top: 4px;
  }
  .UserStageWrp:first-child .Number{
    transform: translate(0px, -1px);
  }
  .UserStageWrp:first-child .RightSide .Status{
    padding-top: 3px;
  }
  .UserStageWrp:nth-child(2) .Number{
    transform: translate(0px, -3px);
  }
  .UserStageWrp:nth-child(2) .RightSide{
    transform: translate(-3px, -4px);
  }
  .UserStageWrp:nth-child(2) .RightSide .Status{
    transform: translate(0px, 0px);
  }
  .UserStageWrp:nth-child(3) .Number{
    transform: translate(0px, -2px);
  }
  .UserStageWrp:nth-child(3) .RightSide{
    transform: translate(-3px, -3px);
  }
  .UserStageWrp:nth-child(3) .RightSide .Status{
    transform: translate(1px, 0px);
  }
}
