.UserStageWrp{
  display: inline-block;
}
.UserStageWrp .Number{
  vertical-align: top;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.9;
  margin: 4px 20px 0 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #6bcc00;
  background-color: #fff;
}
.UserStageWrp .RightSide, .UserStageWrp .Number{
  display: inline-block;
}
.UserStageWrp .RightSide{
  text-align: left;
  height: 32px;
}
.UserStageWrp .RightSide .Title{
  font-family: SegoeUI-Bold;
  font-size: 16px;
  color: #41424e;
  font-weight: 700;
}
.UserStageWrp .RightSide .Status{
  font-size: 14px;
}

@media screen and (min-width: 1900px){
  .UserStageWrp:first-child .Number{
    transform: translateX(-2px);
  }
  .UserStageWrp:first-child .RightSide{
    transform: translate(-5px, -3px);
  }
  .UserStageWrp:nth-child(2) .RightSide{
    transform: translate(-1px, -3px);
  }
  .UserStageWrp:nth-child(3) .RightSide{
    transform: translate(-3px, -3px);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1365px){

}

@media screen and (max-width: 767px){
  .UserStageWrp .Number{
    margin: 10px 10px 0 0;
    line-height: 1.65;
    width: 20px;
    height: 20px;
  }
  .UserStageWrp .RightSide .Title{
    font-size: 14px;
  }
  .UserStageWrp .RightSide .Status{
    font-size: 12px;
  }
}

@media screen and (max-width: 413px){
  .UserStageWrp .Number{
    margin-right: 4px;
  }
  .UserStageWrp .RightSide .Status{
    font-size: 10px;
  }
}

@media screen and (max-width: 359px){
  .UserStageWrp .RightSide .Title{
    font-size: 12px;
  }
  .UserStageWrp .RightSide .Status{
    font-size: 8px;
    padding-top: 2px;
    font-weight: 700;
  }
  .UserStageWrp .RightSide{
    padding-top: 4px;
  }
}
